@(collection: models.Collection, userListSpaceRoleTupleMap: Map[UUID, List[Tuple2[String,String]]], currUserIsAuthor: Boolean, users: List[User])(implicit user: Option[models.User])

@main("Collection") {
    <div class="row">

        <div class="row bottom-padding">
            <div class="col-md-12" id="ds-title">
                <h1 id="datasettitle">@collection.name</h1>
            </div>
        </div>

        <div class="col-md-12">
            @if(users.isEmpty) {
                @Html("No users with access to the collection")
            } else {
                <h3>Users with access to the collection</h3>

                <table id='user-space-role' class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-4">User</th>
                            @if(currUserIsAuthor) {
                                <th>
                                    <table id='nested-space-role-headers' class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-6">Space</th>
                                                <th class="col-md-2">Role</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @users.filter(!_.fullName.isEmpty).map { u =>
                            <tr>
                                <td class="col-md-4">@u.fullName</td>
                                @if(currUserIsAuthor && (userListSpaceRoleTupleMap contains u.id)) {
                                    <td>
                                        <table id='nested-space-role-pairs' class="table table-hover">
                                            <tbody>
                                                @for(tupleSpaceRole <- userListSpaceRoleTupleMap(u.id)) {
                                                    <tr>
                                                        <td class="col-md-6">@tupleSpaceRole._1</td>
                                                        <td class="col-md-2">@tupleSpaceRole._2</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

    </div>
}

