@(sensor: play.api.libs.json.JsValue, id: String)
@import services.AppConfiguration
@main("Sensor") {
    <div class="page-header">
        <h1>@(AppConfiguration.getSensorTitle)</h1>
    </div>
    <div class="row"><div class="col-md-12">ID: <a href="@(api.routes.Geostreams.getSensor(id))">@id</a></div></div>
    <div class="row"><div class="col-md-12">Name: @(sensor \ "name")</div></div>
    <div class="row"><div class="col-md-12">Created: @(sensor \ "created")</div></div>
    @*<div class="row"><div class="col-md-12">Region: @(sensor \ "properties" \ "region")</div></div>*@
    @*<div class="row"><div class="col-md-12">Type: @(sensor \ "properties" \ "type" \ "title")</div></div>*@
    <div class="row"><div class="col-md-12">Coordinates: @(sensor \ "geometry" \ "coordinates")</div></div>
    @*<div class="row"><div class="col-md-12">Parameters:</div></div>*@
    @*@for(p  <- (sensor \ "parameters").as[List[String]]) {*@
        @*<div class="row"><div class="col-md-1"></div><div class="col-md-11">@p</div></div>*@
    @*}*@
}