logs
project/project
project/target
target
tmp
bin
/*.sublime-workspace
.history
.cache
.target
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
doc/src/sphinx/_build
/conf/custom.conf
.DS_Store