# ignore customizations to clowder
docker-compose.override.yml
.env
custom

# ignore build folders
project/project
project/target
target

logs
docker/files
tmp
bin
/*.sublime-workspace
.history
.cache
.target
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
doc/src/sphinx/_build
/conf/custom.conf
.DS_Store
/doc/src/sphinx/_build
**/.c9/*
