<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <small><strong>Space: </strong><a href="{{space_url}}">{{space_name}}</a></small>
  </div>
  <div class="col-md-6">
    <small><strong>Uri:</strong> {{uri}}</small>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>
