@(extractions: Map[String, ExtractionGroup])

<div class="well">
    @if(extractions.size == 0) {
        <p>No extraction events recorded.</p>
    } else {
        <table class="table">
            <thead>
                <th width="20%">Extractor</th>
                <th width="20%">Started</th>
                <th width="20%">Latest Update</th>
                <th width="40%">Latest Status</th>
            </thead>
            <tbody>
            @for(e <- extractions.keysIterator) {
                <tr>
                    <td>
                        <a class="btn btn-link" data-toggle="collapse" data-target="#extractions-@e.replace('.','-')">
                            @e
                        </a>
                    </td>
                    <td>@extractions(e).firstMsgTime</td>
                    <td>@extractions(e).latestMsgTime</td>
                    <td>@extractions(e).latestMsg.replace("StatusMessage.start", "START").replace("StatusMessage.processing", "PROCESS").replace("StatusMessage.error", "ERROR")</td>

                </tr>
                <tr class="collapse" id="extractions-@e.replace('.','-')">
                    <td colspan="4">
                        <table class="table">
                            <tbody>
                                @for(e2 <- extractions(e).allMsgs) {
                                    <tr>
                                        <td width="19%"></td>
                                        <td width="81%"><b>@e2.start</b><br/>
                                            @e2.status.replace("StatusMessage.start", "START").replace("StatusMessage.processing", "PROCESS").replace("StatusMessage.error", "ERROR")
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
