@(extractors: List[ExtractorInfo], file: File, folderHierarchy: List[Folder], spaces:List[ProjectSpace], allDatasets: List[Dataset])(implicit user: Option[models.User])
@import _root_.util.Formatters._
@import play.api.libs.json._
@import services.AppConfiguration

@main("Extractions") {
    <ol class="breadcrumb">
        @if(spaces.length == 1 ) {
            <li><span class="glyphicon glyphicon-hdd"></span> <a href="@routes.Spaces.getSpace(spaces.head.id)" title="@spaces.head.name"> @Html(ellipsize(spaces.head.name, 18))</a></li>

        } else {
            @if(spaces.length > 1) {
                <li>
                    <span class="dropdown">
                        <button class="btn-link dropdown-toggle" type="button" id="dropdown_space_list" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-hdd"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" arialanelledby="dropdown_space_list">
                        @spaces.map{ s =>
                            <li><a href="@routes.Spaces.getSpace(s.id)" title="s.name"><span class="glyphicon glyphicon-hdd"></span> @Html(ellipsize(s.name, 18))</a></li>
                        }
                        </ul>

                    </span>
                </li>
            } else {
                <li><span class="glyphicon glyphicon-user"></span> <a href = "@routes.Profile.viewProfileUUID(file.author.id)"> @file.author.fullName</a></li>
            }
        }
        @if(allDatasets.length == 1 ) {
            @allDatasets.map { ds =>
                <li> <span class="glyphicon glyphicon-briefcase"></span> <a href="@routes.Datasets.dataset(ds.id)" title="@ds.name"> @Html(ellipsize(ds.name, 18))</a></li>
            }
        }
        @folderHierarchy.map { fd =>
            <li><span class="glyphicon glyphicon-folder-close"></span> <a href="@routes.Datasets.dataset(allDatasets(0).id)#folderId=@fd.id" title="@fd.displayName">@Html(ellipsize(fd.displayName, 18))</a></li>
        }
        <li><span class="glyphicon glyphicon-file"></span> <a href="@routes.Files.file(file.id)"title="@file.filename">@Html(ellipsize(file.filename, 18))</a></li>
        <li><span class="glyphicon glyphicon-fullscreen"></span> Submit for Extraction</li>

    </ol>
    <div class="row">
        <div class="col-xs-12">
            <h1>Submit file for extraction</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Submit this file to a specific extractor below by providing parameters and clicking
                the submit button. Some parameters may be left empty.</p>
            <p>File name: <a href="@routes.Files.file(file.id)">@file.filename</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Extractor's Name</th>
                        <th>Description</th>
                        <th>Parameters</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    <script src="https://cdn.jsdelivr.net/npm/jsonform@@2.1.5/deps/underscore.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/jsonform@@2.1.5/lib/jsonform.min.js"></script>
                    @for(e <- extractors) {
                        <tr>
                            <td>
                                <a href="@routes.Extractors.showExtractorInfo(e.name)">@e.name</a>
                            </td>
                            <td>@e.description</td>
                            <td>
                                <form id="@(e.name.replaceAll("\\.", "_"))_parameters"></form>
                            </td>
                            <td><button id="@e.id" class="btn btn-primary" onclick="submit('@e.name','@(e.name.replaceAll("\\.", "_"))_parameters','@file.id','@e.id')">Submit</button></td>
                        </tr>

                        <script>
                                var params = JSON.parse("@Json.stringify(e.parameters)".replace(/&quot;/g, "\""));
                                var selector = "#@(e.name.replaceAll("\\.", "_"))_parameters";
                                if (Object.keys(params).length != 0) {
                                    $(selector).jsonForm(params);
                                }
                        </script>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
            function disableSubmit(btn) {
                btn.attr('disabled', true);
                btn.addClass('disabled');
                btn.removeClass('btn-primary');
                btn.addClass('btn-success');
                btn.html('Submitted');
            }

            function enableSubmit(btn) {
                btn.html('Submit');
                btn.removeClass('disabled');
                btn.removeClass('btn-success');
                btn.addClass('btn-primary');
                btn.attr('disabled', false);
            }

        function submit(extractor_name, textbox_id, file_id, submit_id) {
            var clickedBtn = $('#' + submit_id);

            // Throttle submissions to one every 3 seconds
            disableSubmit(clickedBtn);
            setTimeout(function() {
                enableSubmit(clickedBtn);
            }, 3000);

            var params = $('#'+textbox_id).jsonFormValue();
            if (params === "") params = "{}";
            var dataBody = {'extractor': extractor_name, 'parameters': params};
            var request = jsRoutes.api.Extractions.submitFileToExtractor(file_id).ajax({
                data: JSON.stringify(dataBody),
                type: 'POST',
                contentType: "application/json",
            });

            request.done(function (response, textStatus, jqXHR){
                notify("Submitted successfully", "success");
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
            });
        }
    </script>
}

