<script src="@routes.Assets.at("javascripts/lib/masonry.pkgd.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lib/imagesloaded.pkgd.min.js")" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function () {
 // initialize Masonry
 var $container = $('#masonry').masonry();
 // layout Masonry again after all images have loaded
 imagesLoaded( '#masonry', function() {
	 $container.masonry({
       itemSelector: '.post-box',
       columnWidth: '.post-box',
       transitionDuration: 4
 	 });
 });
});
</script>