@(collectionsList: List[Collection], space: String)(implicit user: Option[models.User])

@import api.Permission
<p>
    Most recent collections:
    <span class="pull-right">
        @if(user.isDefined && Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, UUID(space)))) {
            <a id="create-collection" href="@routes.Collections.newCollection(Some(space))" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-ok"></span>
                Create Collection
            </a>
        }

        <a href="@(routes.Collections.list("", "", 12, Some(space)))" class="btn btn-link btn-xs">
            <span class="glyphicon glyphicon-hand-right"></span>
            All Collections
        </a>
    </span>

</p>

@util.masonry()

<div class="row" id="tile-view">
    <div class="col-md-12">
        <div id="masonry">
        @collectionsList.map { collection =>
                @collections.tile(collection, routes.Spaces.getSpace(UUID(space)), "col-lg-4 col-md-4 col-sm-4", false)
        }
        </div>
    </div>
</div>

@if(!user.isDefined) {
    <script type="text/javascript">
        $('#create-collection').addClass('disabled');
    </script>
}
