@(collectionsList: List[Collection], space: String, isPublic: Option[Boolean])(implicit user: Option[models.User])
@import play.api.i18n.Messages
@import api.Permission
<p>
    <span class="small">@Messages("recent.message", Messages("collections.title").toLowerCase)</small>
    <span class="pull-right">
         <a href="@(routes.Collections.list("", "", 12, Some(space)))" class="btn btn-link btn-xs">
            <span class="glyphicon glyphicon-th-large"></span>
             @Messages("view.all", Messages("collections.title"))
        </a>
    </span>

</p>

@util.masonry()

<div class="row" id="tile-view">
    <div class="col-md-12">
        <div id="masonry-collections">
            @isPublic match {
                case Some(b) => {
                    @collectionsList.filter(_.isPublic == b).map { collection =>
                        @collections.tile(collection, routes.Spaces.getSpace(UUID(space)), Some(space), "col-lg-4 col-md-4 col-sm-4", false)
                    }
                }
                case None => {
                    @collectionsList.map { collection =>
                        @collections.tile(collection, routes.Spaces.getSpace(UUID(space)), Some(space), "col-lg-4 col-md-4 col-sm-4", false)
                    }
                }
            }
        </div>
    </div>
</div>

@if(!user.isDefined) {
    <script type="text/javascript">
        $('#create-collection').addClass('disabled');
    </script>
}
