@(collections: List[Collection], space: String)

<p>
    Most recent collections:
    <a href="@(routes.Collections.list("", "", 12, Some(space)))" class="pull-right btn btn-link btn-xs">
        <span class="glyphicon glyphicon-hand-right"></span>
        All Collections
    </a>
</p>

<table id='spacesCollectionsTable' class="table table-bordered table-hover fixedtable">
<thead>
    <tr>
        <th style="width: 27%">Name</th>
        <th style="width: 17%">Created</th>
        <th style="width: 36%">Description</th>
        <th style="width: 20%"></th>
    </tr>
</thead>
<tbody>
@collections.map { collection =>
    <tr data-collectionId="@(collection.id.toString)">
        <td><a href="@(routes.Collections.collection(collection.id))">@collection.name</a></td>
        <td>@collection.created.format("MMM dd, yyyy")</td>
        <td style="white-space:pre-line;">@collection.description</td>
        <td>
            @if(!collection.thumbnail_id.isEmpty){
                <a href="@(routes.Collections.collection(collection.id))">
                    <img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(collection.thumbnail_id.toString().substring(5,collection.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(collection.name)">>
                </a>
            }
            @if(collection.thumbnail_id.isEmpty){No thumbnail available}
        </td>
    </tr>
}
</tbody>
</table>
