@(curationObject: models.CurationObject, dsMetadata: Map[String,Any],
dsUserMetadata: scala.collection.mutable.Map[String,Any], rdfExported: Boolean, files :List[File] )(implicit user: Option[models.User])

@import helper._
@import collection.JavaConverters._
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@printLevel(metadata: scala.collection.immutable.Map[String,Any]) = {
@for((key,value) <- metadata) {
    <li><b>@(key):</b>
        @if(value.isInstanceOf[String]) {
            @if(value.asInstanceOf[String].startsWith("http://") || value.asInstanceOf[String].startsWith("https://")) {
                <a href="@value">@value</a>
            } else {
                @value
            }
        } else {
            @if(value.isInstanceOf[java.lang.Integer] || value.isInstanceOf[java.lang.Double] || value.isInstanceOf[java.lang.Float] ) {
                @value.toString
            } else {
                @if(value.isInstanceOf[com.mongodb.BasicDBList]) {
                    <ul>
                    @printList(value.asInstanceOf[com.mongodb.BasicDBList].toList)
                    </ul>
                } else {
                    @if(value.isInstanceOf[com.mongodb.BasicDBObject]) {
                        <ul>
                        @printLevel(value.asInstanceOf[com.mongodb.BasicDBObject].toMap().asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]].toMap)
                        </ul>
                    } else {
                        @value.toString
                    }
                }
            }
        }</li>
}
}

@printList(metadata: List[AnyRef])	= {
@metadata.indices.map { i =>
    <li><b>@i:</b>
        @if(metadata(i).isInstanceOf[String]) {
            @if(metadata(i).asInstanceOf[String].startsWith("http://") || metadata(i).asInstanceOf[String].startsWith("https://")) {
                <a href="@metadata(i)">@metadata(i)</a>
            } else {
                @metadata(i)
            }
        } else {
            @if(metadata(i).isInstanceOf[java.lang.Integer] || metadata(i).isInstanceOf[java.lang.Double] || metadata(i).isInstanceOf[java.lang.Float] ) {
                @metadata(i).toString
            } else {
                @if(metadata(i).isInstanceOf[com.mongodb.BasicDBList]) {
                    <ul>
                    @printList(metadata(i).asInstanceOf[com.mongodb.BasicDBList].toList)
                    </ul>
                } else {
                    @if(metadata(i).isInstanceOf[com.mongodb.BasicDBObject]) {
                        <ul>
                        @printLevel(metadata(i).asInstanceOf[com.mongodb.BasicDBObject].toMap().asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]].toMap)
                        </ul>
                    } else {
                        @metadata(i)
                    }
                }
            }
        }</li>
}
}
@main(curationObject.name) {

    <div class = "row">
        <ol class="breadcrumb">
            <li> <a href="@routes.Spaces.stagingArea(curationObject.space)"> Staging Area</a></li>
            <li class= "active"> Edit Metadata</li>
        </ol>

    </div>
    <div class="container row">
    <div class="col-md-3">
        @spaces.curation_summary( curationObject, curationObject.name, true)
    </div>
    <div class="col-md-9">
    <div>
        <h2>Dataset <a href ="@routes.Datasets.dataset(curationObject.datasets(0).id)">@curationObject.datasets(0).name</a></h2> <br/>
        Note: The links in this page redirect to the live objects.
        @metadata(curationObject.datasets(0), dsMetadata, dsUserMetadata, curationObject.datasets(0).datasetXmlMetadata, rdfExported, Some(curationObject.id))
    </div>
    @if(curationObject.datasets(0).files.size > 0 ){
        <h2> Files</h2>
    }

    <div>
        <ul style = "list-style-type: none">
        @for(file<- files) {

            <li><h3><a href=@routes.Files.file(file.id)>@file.filename</a></h3>
            <div id ='allMetadata_@(file.id)'>
                <button class="tech_md_" type="button">Show File metadata</button>
                <div style="display:none;">
            <div class="row border-top">
                <div class="col-md-12">
                    <h4>Community generated metadata</h4>
                    @fileusermetadata(file, collection.mutable.Map(file.userMetadata.toSeq: _*) , rdfExported, Some(curationObject.id))
                </div>
            </div>

            <div class="row border-top">
                <div class="col-md-12">
                    <h4>System generated metadata</h4>
                    <div id='technicalMetadata_@(file.id)'>
                        <button class="tech_md_ btn btn-link btn-sm" type="button">Show file technical metadata</button>
                        <div style="display:none;">
                            <ul>
                            @for(i <- 0 until file.metadata.length){
                                @printLevel(file.metadata(i).asInstanceOf[com.mongodb.BasicDBObject].toMap().asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]].toMap)
                            }
                            </ul>
                        </div>
                    </div>
                    <script>
                        $("#technicalMetadata_@(file.id.toString) > button").on('click',function(){
                            if($("#technicalMetadata_@(file.id.toString) > div").attr('style') == 'display:none;'){
                                $("#technicalMetadata_@(file.id.toString) > div").attr('style', 'display:block;');
                                $("#technicalMetadata_@(file.id.toString) > button").get(0).innerHTML = "Hide file technical metadata";
                            }
                            else{
                                $("#technicalMetadata_@(file.id.toString) > div").attr('style', 'display:none;');
                                $("#technicalMetadata_@(file.id.toString) > button").get(0).innerHTML = "Show file technical metadata";
                            }
                        });
                    </script>
                </div>
            </div>

            @if(!file.xmlMetadata.isEmpty) {
                <div id='xmlMetadata_@(file.id.toString)'>
                    <button class="tech_md_" type="button">Show XML-uploaded metadata</button>
                    <div style="display:none;">
                        <ul>
                        @printLevel(file.xmlMetadata)
                        </ul>
                    </div>
                </div>
                <script>
                    $("#xmlMetadata_@(file.id.toString) > button").on('click',function(){
                        if($("#xmlMetadata_@(file.id.toString) > div").attr('style') == 'display:none;'){
                            $("#xmlMetadata_@(file.id.toString) > div").attr('style', 'display:block;');
                            $("#xmlMetadata_@(file.id.toString) > button").get(0).innerHTML = "Hide file XML-uploaded metadata";
                        }
                        else{
                            $("#xmlMetadata_@(file.id.toString) > div").attr('style', 'display:none;');
                            $("#xmlMetadata_@(file.id.toString) > button").get(0).innerHTML = "Show file XML-uploaded metadata";
                        }
                    });
                </script>
            }
            </div>
            </div>
                </li>

            <script>
                $("#allMetadata_@(file.id.toString) > button").on('click', function(){
                    if($("#allMetadata_@(file.id.toString) > div").attr('style') == 'display:none;'){
                        $("#allMetadata_@(file.id.toString) > div").attr('style', 'display:block;');
                        $("#allMetadata_@(file.id.toString) > button").get(0).innerHTML = "Hide file metadata";
                    }
                    else{
                        $("#allMetadata_@(file.id.toString) > div").attr('style', 'display:none;');
                        $("#allMetadata_@(file.id.toString) > button").get(0).innerHTML = "Show file metadata";
                    }
                    });
            </script>
        }
        </ul>
    </div>
    </div>
    </div>
    <div class="row border-top bottom-padding">

        @*<a class="btn btn-default" href="@routes.Spaces.getSpace(space.id)"> <span class="glyphicon glyphicon-arrow-left"></span>Go Back to Space </a>*@
        <a class="btn btn-default" href="@routes.Spaces.stagingArea(curationObject.space)"><span class="glyphicon glyphicon-chevron-left"></span>Staging Area</a>
        <a class="btn btn-primary pull-right" href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)"> Find Repositories <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>


}