@(curationObject: models.CurationObject, title:String,  editCurationObject: Boolean)(implicit user: Option[models.User])
@import api.Permission
    <div class="panel panel-default">
        <div class="panel-body">
            <h5><a href ="@routes.Datasets.dataset(curationObject.datasets(0).id)">@curationObject.datasets(0).name</a></h5>
            <ul class="list-unstyled">
                <li><div id="size">Size: </div> <li/>
                <li><div id="format">File Formats: </div></li>
                <li>Author: @curationObject.datasets(0).author.fullName</li>
                <li>Created: @curationObject.created.format("MMM dd, yyyy")</li>
                <li>Creators: @curationObject.creators.mkString(", ")</li>
            </ul>
            @if(Permission.checkPermission(Permission.EditStagingArea, ResourceRef(ResourceRef.space, curationObject.space))){
                <a class="btn btn-sm btn-link" href="@routes.Spaces.stagingArea(curationObject.space)">
                    <span class="glyphicon glyphicon-briefcase"></span> Staging Area</a>
                @if(!editCurationObject){
                    <a class="btn btn-sm btn-link" href ="@routes.CurationObjects.getCurationObject(curationObject.id)">
                        <span class="glyphicon glyphicon-chevron-left"></span> Go to Edit Metadata</a>
                }
                <a class="btn btn-sm btn-link"  href ="@(routes.CurationObjects.editCuration(curationObject.id))"  >
                    <span class="glyphicon glyphicon-edit"></span> Edit Curation Object</a>
                <a class="btn btn-sm btn-link" onclick="confirmDeleteResource('curation object','@(curationObject.id)','@(curationObject.name.replace("'","&#39;"))',true, '@routes.Spaces.stagingArea(curationObject.space)')"  >
                    <span class="glyphicon glyphicon-trash"></span> Delete Curation Object</a>
            }
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/curationProcess.js")" type="text/javascript"></script>

    <script>
    $(document).ready(getFiles('@curationObject.id'));
    </script>