@(space: models.ProjectSpace, curationObject: models.CurationObject, title: String, editDataset: Boolean)(implicit user: Option[models.User])
@import api.Permission


    <div class="break-word black-border">
        <h1 class="center-glyphicon glyphicon glyphicon-cloud-upload" style="display:block;"></h1> <br/>
        <h5>@curationObject.name</h5> <br/>
        Size: @{curationObject.datasets(0).files.map(_.length).sum /1024} MB <br/>
        File Formats: @curationObject.datasets(0).files.map(_.contentType).toSet.mkString(", ") <br/>
        Creator: @curationObject.datasets(0).author.fullName <br/>
        Uploaded: @curationObject.created.date.format("yyyy-mm-dd hh:mm") <br/>
        @if(!editDataset) {
            <div class="center">
                <a class="btn btn-sm btn-default" href ="@routes.CurationObjects.getCurationObject(space.id, curationObject.id)">Edit Metadata</a>
            </div>
        }
        @if(Permission.checkPermission(Permission.EditStagingArea, ResourceRef(ResourceRef.space, space.id))){
            <button onclick="removeCuration('@(space.id)','@(curationObject.id)')"  type="button" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-trash"></span> Delete Curation Object</button>
        }
    </div>
    <script src="@routes.Assets.at("javascripts/curationProcess.js")" type="text/javascript"></script>