@(space: models.ProjectSpace, curationObject: models.CurationObject, repository: String, success: Boolean)(implicit user: Option[models.User] )
@main("Submitted"){
    @if(success) {
        <h1>Curation Object @curationObject.name has been submitted to Repository @repository </h1>
    } else {
        <h1> There was an error Submitting the curation object @curationObject.name. Please try again later.</h1>
    }

    <a class="btn btn-default" href="@routes.Spaces.getSpace(space.id)"> Go Back to Space </a>
}