@(curationObject: models.CurationObject,m: List[models.Metadata], rdfExported: Boolean, limit: Int)(implicit user: Option[models.User])
@import api.Permission
@import helper._
@import collection.JavaConverters._
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(curationObject.name) {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="@routes.Spaces.stagingArea(curationObject.space)"> Staging Area</a> >
                    <u><strong>Edit Metadata</strong></u> >
                    <a  href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)">Select Repository</a> >
                    Submit to Repository
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="@routes.Spaces.stagingArea(curationObject.space)"><span class="glyphicon glyphicon-chevron-left"></span>Staging Area</a>
        </div>
        <div class="col-md-8 text-center">
            <h1>Edit Metadata</h1>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary pull-right" href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)"> Select Repository <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @spaces.curation_summary( curationObject, curationObject.name, true)
        </div>
        <div class="col-md-9">
        <div>
            <div>Note: The links in this page redirect to the live objects.</div>
            @if(Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.curationObject, curationObject.id))) {
                 <div class="row">
                    <div class="col-md-12">
                    @metadatald.addMetadata("curationObject", curationObject.id.toString, "metadata-content-ds")
                    </div>
                 </div>
            }
            <div class="row">
                <div class="col-md-12" id="metadata-content-ds">
                @metadatald.view(m.filter(_.attachedTo.resourceType == ResourceRef.curationObject), true)
                </div>
            </div>

            <div id="files"></div>

        </div>




        <script type="text/javascript">
            var removeIndicator = false;
            var parentId = "@curationObject.id";
            var parentType = "dataset";
            var pageIndex = 0;
            var folderId;

            $(document).ready(function(){
                getUpdatedFilesAndFolders('@curationObject.id', @limit);
            });
            $(window).on('fileDelete hashchange', function() {
                getUpdatedFilesAndFolders('@curationObject.id', @limit);
            });
                </script>

        </div>
        </div>
    <div class="row bottom-padding">
        <div class="col-md-12">
            <a class="btn btn-default" href="@routes.Spaces.stagingArea(curationObject.space)"><span class="glyphicon glyphicon-chevron-left"></span>Staging Area</a>
            <a class="btn btn-primary pull-right" href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)">Select Repository <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>


}