@(curationObject: models.CurationObject, m: List[models.Metadata], rdfExported: Boolean, files :List[CurationFile] )(implicit user: Option[models.User])

@import helper._
@import collection.JavaConverters._
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@printLevel(metadata: scala.collection.immutable.Map[String,Any]) = {
@for((key,value) <- metadata) {
    <li><b>@(key):</b>
        @if(value.isInstanceOf[String]) {
            @if(value.asInstanceOf[String].startsWith("http://") || value.asInstanceOf[String].startsWith("https://")) {
                <a href="@value">@value</a>
            } else {
                @value
            }
        } else {
            @if(value.isInstanceOf[java.lang.Integer] || value.isInstanceOf[java.lang.Double] || value.isInstanceOf[java.lang.Float] ) {
                @value.toString
            } else {
                @if(value.isInstanceOf[com.mongodb.BasicDBList]) {
                    <ul>
                    @printList(value.asInstanceOf[com.mongodb.BasicDBList].toList)
                    </ul>
                } else {
                    @if(value.isInstanceOf[com.mongodb.BasicDBObject]) {
                        <ul>
                        @printLevel(value.asInstanceOf[com.mongodb.BasicDBObject].toMap().asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]].toMap)
                        </ul>
                    } else {
                        @value.toString
                    }
                }
            }
        }</li>
}
}

@printList(metadata: List[AnyRef])	= {
@metadata.indices.map { i =>
    <li><b>@i:</b>
        @if(metadata(i).isInstanceOf[String]) {
            @if(metadata(i).asInstanceOf[String].startsWith("http://") || metadata(i).asInstanceOf[String].startsWith("https://")) {
                <a href="@metadata(i)">@metadata(i)</a>
            } else {
                @metadata(i)
            }
        } else {
            @if(metadata(i).isInstanceOf[java.lang.Integer] || metadata(i).isInstanceOf[java.lang.Double] || metadata(i).isInstanceOf[java.lang.Float] ) {
                @metadata(i).toString
            } else {
                @if(metadata(i).isInstanceOf[com.mongodb.BasicDBList]) {
                    <ul>
                    @printList(metadata(i).asInstanceOf[com.mongodb.BasicDBList].toList)
                    </ul>
                } else {
                    @if(metadata(i).isInstanceOf[com.mongodb.BasicDBObject]) {
                        <ul>
                        @printLevel(metadata(i).asInstanceOf[com.mongodb.BasicDBObject].toMap().asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]].toMap)
                        </ul>
                    } else {
                        @metadata(i)
                    }
                }
            }
        }</li>
}
}
@main(curationObject.name) {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="@routes.Spaces.stagingArea(curationObject.space)"> Staging Area</a> >
                    <u><strong>Edit Metadata</strong></u> >
                    <a  href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)">Select Repository</a> >
                    Submit to Repository
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="@routes.Spaces.stagingArea(curationObject.space)"><span class="glyphicon glyphicon-chevron-left"></span>Staging Area</a>
        </div>
        <div class="col-md-8 text-center">
            <h1>Edit Metadata</h1>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary pull-right" href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)"> Select Repository <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @spaces.curation_summary( curationObject, curationObject.name, true)
        </div>
        <div class="col-md-9">
        <div>
            <div>Note: The links in this page redirect to the live objects.</div>
            <div class="row">
                <div class="col-md-12">
                @metadatald.addMetadata("curation.dataset", curationObject.datasets(0).id.toString, Some(curationObject.id.toString))
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                @metadatald.view(m.filter(_.attachedTo.resourceType == ResourceRef.curationObject))
                </div>
            </div>
        </div>



        @if(curationObject.datasets(0).files.size > 0 ){
            <h2> Files</h2>
        }

        <div>
            <ul style = "list-style-type: none">
            @for(file<- files) {

                <li><h3><a href=@routes.Files.file(file.fileId)>@file.filename</a></h3>
                <div id ='allMetadata_@(file.id)'>
                    <button class="tech_md_" type="button">Show File metadata</button>
                    <div style="display:none;">
                <div class="row border-top">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                            @metadatald.addMetadata("curation.file", file.id.toString, Some(curationObject.id.toString))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            @metadatald.view(m.filter(_.attachedTo.id == file.id))
                            </div>
                        </div>


                    </div>
                </div>

                </div>
                </div>
                    </li>

                <script>
                    $("#allMetadata_@(file.id.toString) > button").on('click', function(){
                        if($("#allMetadata_@(file.id.toString) > div").attr('style') == 'display:none;'){
                            $("#allMetadata_@(file.id.toString) > div").attr('style', 'display:block;');
                            $("#allMetadata_@(file.id.toString) > button").get(0).innerHTML = "Hide file metadata";
                        }
                        else{
                            $("#allMetadata_@(file.id.toString) > div").attr('style', 'display:none;');
                            $("#allMetadata_@(file.id.toString) > button").get(0).innerHTML = "Show file metadata";
                        }
                        });
                </script>
            }
            </ul>
        </div>
        </div>
        </div>
    <div class="row bottom-padding">
        <div class="col-md-12">
            <a class="btn btn-default" href="@routes.Spaces.stagingArea(curationObject.space)"><span class="glyphicon glyphicon-chevron-left"></span>Staging Area</a>
            <a class="btn btn-primary pull-right" href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)">Select Repository <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>


}