@( curationObject: models.CurationObject, title: String, editDataset: Boolean)(implicit user: Option[models.User])
@import api.Permission


    <div class="break-word black-border">
        <h1 class="center-glyphicon glyphicon glyphicon-cloud-upload" style="display:block;"></h1> <br/>
        <h5>@curationObject.name</h5> <br/>
        Size: @{curationObject.datasets(0).files.map(_.length).sum /1024} MB <br/>
        File Formats: @curationObject.datasets(0).files.map(_.contentType).toSet.mkString(", ") <br/>
        Creator: @curationObject.datasets(0).author.fullName <br/>
        Uploaded: @curationObject.created.date.format("yyyy-mm-dd hh:mm") <br/>
        @if(curationObject.repository
        Selected repository: @curationObject

        @if(Permission.checkPermission(Permission.EditStagingArea, ResourceRef(ResourceRef.space, curationObject.space))){

            @if(!editDataset){
                <div class="center-margin">
                    <a class="btn btn-sm btn-default" href ="@routes.CurationObjects.getCurationObject(curationObject.id)"> <span class="glyphicon glyphicon-edit"></span> Edit Metadata</a>
                </div>
            }
            <div class="center-margin">
            <a class="btn btn-sm btn-default danger" onclick="removeCuration('@(curationObject.space)','@(curationObject.id)')"  >
                <span class="glyphicon glyphicon-trash"></span> Delete Curation Object</a>
            </div>
        }
    </div>
    <script src="@routes.Assets.at("javascripts/curationProcess.js")" type="text/javascript"></script>