@(curationObject: models.CurationObject, mmResponse: models.MatchMakerResponse, repository: String, properties: Map[String, List[String]],  userPreferences:  Map[String,List[String]])(implicit user: Option[models.User] )
@main("Submit to Repository") {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a  href ="@routes.CurationObjects.getCurationObject(curationObject.id)"> Edit Metadata</a> >
                    <a  href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)">Select Repository</a> >
                    <u><strong>Submit to Repository</strong></u>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="@routes.CurationObjects.findMatchingRepositories(curationObject.id)"><span class="glyphicon glyphicon-chevron-left"></span> Select Repository</a>
        </div>
        <div class="col-md-8 text-center">
            <h1>Submit to Repository</h1>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary pull-right" href="@routes.CurationObjects.sendToRepository(curationObject.id)"><span class="glyphicon glyphicon-saved"></span> Submit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @spaces.curationSummary(curationObject, false)
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Preferences</h4>
                    @for((prop, value) <- properties) {
                        <h5>@prop</h5>
                        @for(cur<-value) {
                            @if((userPreferences.contains(prop.replace(" ", "_")) && userPreferences(prop.replace(" ", "_")).contains(cur))) {
                                <input type="checkbox" name="@prop" value="@cur" checked> @cur <br/>

                            } else {
                                <input type="checkbox" name="@prop" value="@cur"> @cur <br/>
                            }

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h3>@mmResponse.repositoryName</h3>
            <h4>Matchmaker Summary</h4>
            <div id="mmresults">
                <ul class="indent_20 list-unstyled">
                    @for(rule <- mmResponse.per_rule_score) {
                        <li>@rule.rule_name </li>
                        @if(rule.Score == 0) {
                            <li><span class="red">@rule.Message</span> <a href="@routes.CurationObjects.getCurationObject(curationObject.id)"> Edit Metadata</a> <br/> </li>
                        } else {
                            <li><span class="green">All Requirements are satisfied.</span></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row bottom-padding">
        <div class="col-md-12">
            <a class="btn btn-default" href="@routes.CurationObjects.findMatchingRepositories( curationObject.id)"><span class="glyphicon glyphicon-chevron-left"></span> Select Repository</a>
            <a class = "btn btn-primary pull-right" href ="@routes.CurationObjects.sendToRepository(curationObject.id)"><span class="glyphicon glyphicon-saved"></span> Submit</a>
        </div>
    </div>


}