@(links: List[java.net.URL], space:models.ProjectSpace)(implicit user: Option[models.User])

@import api.Permission

<div class="row ds-section-sm border-top break-word">
<h3>External Links</h3>
@if(links.size == 0) {
    @if(Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, space.id))) {
        <p>Edit @{spaces.spaceTitle()} to add links</p>
    } else {
        <p>No External Links</p>
    }
} else {
    <ul class="list-unstyled">
    @for(link <- links) {
        <li><a href="@link">@link</a></li>
    }
    </ul>
}
@if(space.isTrial){
    <div id="verify">
        <h3>Status</h3>
    <p>@play.api.i18n.Messages("trail.space")</p>
    @if(api.Permission.checkServerAdmin(user)){
        <button class="btn btn-link" title="Verify this space" >
            <span class="glyphicon glyphicon-ok" ></span> Verify</button>
    }
    </div>
} else {
    <h3>Access</h3>
    @space.status.capitalize
}

</div>
    <script>
        $("#verify").find("button").click(function() {
            var request = jsRoutes.api.Spaces.verifySpace("@space.id").ajax({
                type: 'PUT'
            });
            request.done(function(response, textStatus, jsXHR){
                $("#verify").hide();
                notify("Sapce is verified and set to private", "success", false, 2000);
            });
            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occurred: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to see files and folders.";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Error in getting more files and folders : " + errorThrown, "error");
                }
            });
        });
    </script>
