@(space: ProjectSpace)(implicit user: Option[models.User])

<!-- Fix for CATS-163 An exception is thrown if user is not defined -->           
@if(user.isEmpty || !space.followers.contains(user.get.id)) {
    <button id="followButton" class="btn btn-success followButton btn-xs" objectId="@space.id" objectName="@space.name" objectType="space">
        Follow
    </button>
} else {
    <button id="followButton" class="btn btn-danger followButton btn-xs" objectId="@space.id" objectName="@space.name" objectType="space">
        Unfollow
    </button>
}

<script src="@routes.Assets.at("javascripts/recommendation.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        $(document).on('click', '.followButton', function() {
            var id = $(this).attr('objectId');
            var name = $(this).attr('objectName');
            var type = $(this).attr('objectType');
            followHandler.call(this, jsRoutes, id, name, type, undefined, undefined);
        });
    });
</script>
