@(spaceid: String, spaceName: String, inviter: models.MiniUser, newmember: String, role: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
@import play.api.i18n.Messages
<html>
    <body>

        <p>Hello @newmember,</p>

        <p>You have been added by <a href="@controllers.Utils.baseUrl(request)@routes.Profile.viewProfileUUID(inviter.id)">@inviter.fullName</a>
            to @Messages("space.title") <a href="@controllers.Utils.baseUrl(request)@routes.Spaces.getSpace(UUID(spaceid))">@spaceName</a>
            on <a href="@controllers.Utils.baseUrl(request)@routes.Application.index()">@services.AppConfiguration.getDisplayName</a> as @role.
        </p>
    </body>
</html>