@(myForm: Form[controllers.spaceInviteData], space: ProjectSpace, roleList: List[String])(implicit  flash: play.api.mvc.Flash, user: Option[models.User])
@import helper._

@form(action = routes.Spaces.inviteToSpace(space.id), 'enctype -> "multipart/form-data", 'class -> "form-horizontal", 'autocomplete -> "off", 'method -> "POST") {
    <fieldset class="email-new-users">

        @inputText(myForm("addressList"), '_label -> "Enter email addresses (comma-separated):", 'type -> "Email", 'multiple -> "true")
        @select(myForm("role"), options(roleList), 'id -> "role_list", '_label -> "Default role:", 'placeholder -> "Select a default role for all recipients")
        @textarea(myForm("message"), '_label -> "Add message:")

    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Send"/>
    </div>
}

<script language="javascript">
$('form').submit(function() {
    var addrList = $('#addressList').val().split(',');
    for(var i = 0; i < addrList.length; i++){
        $('form fieldset').append('<input type="hidden" name="addresses['+i+']" value='+addrList[i]+' />');
    }
});
</script>

<style type="text/css">
    textarea {
        width: 100%;
        height: 100px;
    }
    input#addressList{
        width: 100%
    }

</style>
