@(curationObject: models.CurationObject, properties: Map[String, List[String]], userPreferences:  Map[String,List[String]], mmResponse: List[models.MatchMakerResponse])(implicit user: Option[models.User] )
@main("Matchmaker") {
    <div class = "row">
        <ol class="breadcrumb">
            <li> <a href="@routes.Spaces.stagingArea(curationObject.space)"> Staging Area</a></li>
            <li> <a  href ="@routes.CurationObjects.getCurationObject(curationObject.id)"> Edit Metadata</a></li>
            <li class="active"> Find Repositories</li>
        </ol>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Find Repositories for @curationObject.name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @spaces.curation_summary( curationObject, "Matchmaker", false)
            <h4><b>Publication Preferences</b></h4>
            @for((prop, value) <- properties) {
                <h5>@prop</h5>
                @for(cur<-value) {
                    @if(userPreferences.contains(prop.replace(" ", "_").toLowerCase()) && userPreferences(prop.replace(" ", "_").toLowerCase()).contains(cur)) {
                        <input type="checkbox" name="@prop" value="@cur" checked> @cur <br/>

                    } else {
                        <input type="checkbox" name="@prop" value="@cur"> @cur <br/>
                    }

                }
            }
            <button class="btn btn-sm btn-primary" id="updateResults">Update Results</button>
        </div>
        <div class="col-md-9">
                <h3>Candidate Repositories</h3>
                The results below are based on an analysis of the dataset's properties and metadata and the preferences you specified. <br/>
            <span class="error hiddencomplete" id="selecterror"> Please select a repository</span><br>
        @for(curRepository <- mmResponse) {
            @if(curationObject.repository.isDefined && curationObject.repository.get.compareTo(curRepository.orgidentifier.getOrElse("")) == 0) {
                <h4><input type ="radio" name="repository" value="@curRepository.orgidentifier" checked> @curRepository.orgidentifier</h4>
            } else {
                <h4><input type ="radio" name="repository" value="@curRepository.orgidentifier"> @curRepository.orgidentifier</h4>
            }
            <div class="indent20" id="@curRepository.orgidentifier">
                <a><span class="glyphicon glyphicon-chevron-down"> Matchmaker Summary</span></a>
                <div class="indent_20">
                    @for(rule <- curRepository.per_rule_score) {
                        @rule.rule_name <br/>
                        @if(rule.Score == 0){
                            <span class="red"> @rule.Message</span> <a href ="@routes.CurationObjects.getCurationObject(curationObject.id)">Edit Metadata</a><br/>
                        } else {
                            <span class="green">All requirements are satisfied</span><br/>
                        }
                    }
                </div>
            </div>


        }

        </div>

    </div>
    <div class="row border-top bottom-padding">

        @*<a class="btn btn-default" href="@routes.Spaces.getSpace(space.id)"> <span class="glyphicon glyphicon-arrow-left"></span>Go Back to Space </a>*@
        <a class="btn btn-default" href ="@routes.CurationObjects.getCurationObject(curationObject.id)"><span class="glyphicon glyphicon-chevron-left"></span>Edit Metadata</a>
        @*<a class="btn btn-primary pull-right" href=@routes.CurationObjects.compareToRepository(space.id, curationObject.id)> Select Repository <span class="glyphicon glyphicon-chevron-right"></span></a>*@
        <button  class="btn btn-primary pull-right" id="selectRepository">Select Repository <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>

    <script>
        @for(curRepository <- mmResponse) {
             $("#@curRepository.orgidentifier").on('click', function(){
            if($("#@curRepository.orgidentifier > div").attr('style') == 'display:none;'){
                $("#@curRepository.orgidentifier > div").attr('style', 'display:block;');
                $("#@curRepository.orgidentifier > a > span").removeClass('glyphicon-chevron-right');
                $("#@curRepository.orgidentifier > a >span").addClass('glyphicon-chevron-down');
            }
            else{
               $("#@curRepository.orgidentifier > div").attr('style', 'display:none;');
                $("#@curRepository.orgidentifier > a >span").removeClass('glyphicon-chevron-down');
                $("#@curRepository.orgidentifier > a >span").addClass('glyphicon-chevron-right');

            }
            });
        }

            $("#iu_cloud_mm").on('click', function(){
            if($("#iu_cloud_mm > div").attr('style') == 'display:none;'){
                $("#iu_cloud_mm > div").attr('style', 'display:block;');
                $("#iu_cloud_mm > a > span").removeClass('glyphicon-chevron-right');
                $("#iu_cloud_mm > a >span").addClass('glyphicon-chevron-down');
            }
            else{
               $("#iu_cloud_mm> div").attr('style', 'display:none;');
                $("#iu_cloud_mm > a >span").removeClass('glyphicon-chevron-down');
                $("#iu_cloud_mm > a >span").addClass('glyphicon-chevron-right');

            }
            });
            $("#open_icpsr_mm").on('click', function(){
            if($("#open_icpsr_mm > div").attr('style') == 'display:none;'){
                $("#open_icpsr_mm > div").attr('style', 'display:block;');
                $("#open_icpsr_mm > a >span").removeClass('glyphicon-chevron-right');
                $("#open_icpsr_mm > a >span").addClass('glyphicon-chevron-down');
            }
            else{
               $("#open_icpsr_mm > div").attr('style', 'display:none;');
                $("#open_icpsr_mm > a >span").removeClass('glyphicon-chevron-down');
                $("#open_icpsr_mm > a >span").addClass('glyphicon-chevron-right');

            }
            });
        $('#updateResults').on('click', function() {
            var access = [];
            $("input[name='Access']:checkbox:checked").each(function(i){
                access[i] = $(this).val();
            });
           var license = [];
            $("input[name='License']:checkbox:checked").each(function(i){
                license[i] = $(this).val();
            });
            var cost = [];
            $("input[name='Cost']:checkbox:checked").each(function(i){
                cost[i] = $(this).val();
            });
            var affiliation = [];
            $("input[name='Organizational Affiliation']:checkbox:checked").each(function(i){
                affiliation[i] = $(this).val();
            });
            var dataMap = {access: access.toString(), license: license.toString(), cost: cost.toString(), organizational_affiliation: affiliation.toString() };

            var request = jsRoutes.api.CurationObjects.findMatchmakingRepositories('@curationObject.id').ajax({
                type: 'POST',
                data: JSON.stringify({"data": dataMap}),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });

            request.done(function(response, textStatus, jqXHR) {
                console.log("Updated Data in Preferences");
                console.log(response)
            });
            request.fail(function( jqXHR, textStatus, errorThrown) {
                console.error("The following error occurred: " + textStatus, errorThrown);

            });
        });
        $('#selectRepository').on('click', function() {
            var radios = document.getElementsByName('repository');
            var repository = "";
            for (var i = 0, length = radios.length; i < length; i++) {
                 if (radios[i].checked) {
                    repository = radios[i].value;
                 break;
                }
            }
            if(repository == ""){
            $('#selecterror').show();
            }
            else{
            var request = jsRoutes.controllers.CurationObjects.compareToRepository('@curationObject.id', repository).ajax({
                type: 'GET'
            });

            request.done(function(response, textStatus, jqXHR) {
                console.log("Updated Data in Preferences");
                document.write(response);
            });
            request.fail(function( jqXHR, textStatus, errorThrown) {
                console.error("error occurred");
            });
            }
        });

    </script>
}