
@(profile: User, spacesList: List[ProjectSpace], deletePermission: Boolean,
        ownProfile: Option[Boolean], userSelections: List[String])(implicit user: Option[models.User])

<div class="row top-padding">
    <div class="col-xs-12">
        <p>@Messages("space.list.message", Messages("spaces.title"))</p>
    </div>
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
        <span class="pull-right">
            <a href="@routes.Spaces.list("","",12, "", Some(profile.id.stringify))">See More</a>
        </span>
    </div>
</div>
<div class="row" id="masonry-spaces">
@spacesList.map { space =>
    @spaces.tile(space, "col-xs-3", routes.Application.index(), false)
}
</div>
@if(spacesList.size < 1) {
    <div class="text-center">
        <div>@Messages("home.empty.message", Messages("spaces.title")) </div>

        <div> <a class="btn-link" href="@routes.Spaces.newSpace()" title="Create a new @Messages("space.title")">@Messages("create.title", Messages("space.title"))</a></div>
    </div>
}