@(space: ProjectSpace, msg: String)(implicit user: Option[models.User])

@main(space.name) {
  @if( space.bannerURL.isDefined || space.logoURL.isDefined){
    <div class="row">
      @if(space.bannerURL.isDefined) {
        <div class="space-banner nopadding col-md-12 col-lg-12 col-sm-12" style="background-image:url('@(space.bannerURL)');">
        } else {
        <div class="col-md-12 col-lg-12 col-sm-12">
        }
      @if(space.logoURL.isDefined) {
        <img class="space-banner-logo pull-left" src="@(space.logoURL)" alt="Thumbnail of @(space.name)">
        }
    </div>
    </div>
    }

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1 id="spacenamedisplay">@space.name</h1>
      <p><span id="spacedescdisplay">@space.description</span></p>


    </div>
  </div>
  @if(space.homePage.length>0) {
    @spaces.externalLinks(space.homePage, space)
  } else {
    <hr>
  }
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <p>@space.collectionCount
        @if(space.collectionCount > 1) {
           Collections
         }   else {
           Collection
         }
        @space.datasetCount
        @if(space.datasetCount > 1) {
           Datasets
        }   else {
           Dataset
        }
        @space.userCount
        @if(space.userCount > 1) {
          Users
        }   else {
          User
        }
      </p>
    <p>@msg</p>
      @if(!msg.contains("pending")) {
        @spaces.requestAuthorization(space.id)
      }
      </div>
  </div>
}
