@(user:models.User, spaceid: String, spacename:String, requestmessage: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
@import play.api.i18n.Messages
<html>
  <body>
    <p>Hello,</p>

    <p>
      <a href="@controllers.Utils.baseUrl(request)@routes.Profile.viewProfileUUID(user.id)">@user.fullName</a> @{requestmessage} @Messages("space.title") <a href="@controllers.Utils.baseUrl(request)@routes.Spaces.getSpace(UUID(spaceid))">@spacename</a>
      at <a href="@controllers.Utils.baseUrl(request)@routes.Application.index()">@services.AppConfiguration.getDisplayName</a>.
    </p>
    @if(requestmessage.contains("accept")) {
      <p>You can log in to view it.</p>
    }
  </body>
</html>