@(user:models.User, spaceid: String, spacename:String, requestmessage: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
  <body>
    <p>Hello,</p>

    <p>
      <a href="@routes.Profile.viewProfile(user.email).absoluteURL(IdentityProvider.sslEnabled)">@user.fullName</a> @requestmessage space <a href="@routes.Spaces.getSpace(UUID(spaceid)).absoluteURL(IdentityProvider.sslEnabled)">@spacename</a>.
    </p>
    @if(requestmessage.contains("accept")) {
      <p>You can log in to view it.</p>
    }
  </body>
</html>