@(space: Option[ProjectSpace], resourceType: Int, resourceId: UUID)

@if(space.isDefined) {
    <a href="@routes.Spaces.getSpace(space.get.id)" id="space_link">
    @space.map(_.name).getOrElse("N/A")</a>
}
@if(space.isEmpty) {
    <a href="">Default</a>
}
<a href="javascript:changeSpace('@resourceId', @resourceType)">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</a>
<script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/spaces/modify.min.js")" type="text/javascript"></script>