@(space: ProjectSpace, collections: List[Collection], datasets: List[Dataset], creator: Option[User])(implicit user: Option[securesocial.core.Identity])

@import helper._

@main(space.name) {
    <div class="row space-head">
        <div class="col-md-12">
            <div class="row">
                <h1 id="spacenamedisplay">@space.name</h1>
                <div class="pull-right">
                    <a href="@routes.Spaces.updateSpace(space.id)" class="btn btn-default btn-xs">
                        <span class = "glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Space
                    </a>
                </div>
                <p><span id="spacedescdisplay">@space.description</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 space-col-left">
            @spaces.collectionsBySpace(collections)
            @spaces.datasetsBySpace(datasets)
        </div>
        <div class="col-md-4 space-col-right">
            @spaces.usersBySpace(space, creator)
            @spaces.spaceConfiguration(space)
        </div>
    </div>
}