@(space: ProjectSpace)(implicit user: Option[securesocial.core.Identity])

<script src="@routes.Assets.at("javascripts/htmlEncodeDecode.js")" language="javascript"></script>
<script src="@routes.Assets.at("javascripts/spaceconfiguration.js")" language="javascript"></script>
<script src="@routes.Assets.at("javascripts/errorRedirect.js")" language="javascript"></script>

<div class="row ds-section-sm border-top">
	 <!-- Advanced space elements -->
	 <h3>Advanced Configuration</h3>
	 <table>
	     <tr>
	         <td><b>Time To Live (hours): </b></td>
	         <td id="timetolive" style="padding-left:10px;">empty</td>
	     </tr>
	     <tr>
	         <td><b>Expiration Enabled: </b></td>
	         <td id="expireenabled" style="padding-left:10px;">empty</td>
	     </tr>
	 </table>
	 <p>
	 @if(user.isDefined) {
	     <a class="btn btn-default btn-xs btn-margins accordion-toggle collapsed" data-toggle="collapse"
	     data-parent="#accordion6" href="#collapseSix" id="editspaceconfig"
	     title="Edit Space Configuration">
	         <span class="glyphicon glyphicon-chevron-down"></span> Edit
	     </a>
	 }
	
	 <div id="collapseSix" class="accordion-body collapse">
	     <div class="panel panel-primary">
	         <div class="panel-body">
	         @if(user.isDefined) {
	             <form class="form-inline" id="configform">
                      <table>
                          <tr>
                              <td style="width:40%; vertical-align:top;">Time (hours): </td>
                              <td style="width:60%; vertical-align:top; padding-left:4px; padding-right:2px;">
                                  <input type="number" id="edittime" size="5">
                              </td>
                          </tr>
                          <tr>
                              <td style="width:40%; vertical-align:top;">Expiration: </td>
                              <td style="width:60%; vertical-align:top; padding-left:4px; padding-right:2px;">
                                  <input type="radio" name="radiogroup" value="expiretrue" id="exptrue"> On&nbsp;&nbsp;&nbsp;
                                  <input type="radio" name="radiogroup" value="expirefalse" id="expfalse"> Off&nbsp;&nbsp;&nbsp;
                              </td>
                          </tr>
                          <tr>
                              <td style="width:40%; vertical-align:top;">Name: </td>
                              <td style="width:60%; vertical-align:top; padding-left:4px; padding-right:2px; padding-bottom:10px;">
                                  <textarea cols=25 rows=4 type="text" id="editspacename"></textarea>
                              </td>
                          </tr>
                          <tr>
                              <td style="width:40%; vertical-align:top;">Description: </td>
                              <td style="width:60%; vertical-align:top; padding-left:4px; padding-right:2px; padding-bottom:10px;">
                                  <textarea cols=25 rows=4 type="text" id="editspacedesc"></textarea>
                              </td>
                          </tr>
                      </table>

                      <button class="btn btn-primary btn-xs btn-margins" onclick="return updateSpaceConfig('@space.id');"
                          title="Update Information"><span class="glyphicon glyphicon-edit"></span> Submit</button>
                      <button class="btn btn-default btn-xs btn-margins" onclick="return closeSpaceConfig();"
                          title="Close Editor"><span class="glyphicon glyphicon-chevron-up"></span> Close</button>
                  </form>
	         }
	         </div>
	     </div>
	 </div>
	
	 <script type="text/javascript" language="javascript">
		 $(document).ready(function() {    
		     var timeToLive = @space.resourceTimeToLive;
		     timeToLive = timeToLive/3600000;
		     $('#timetolive').html(timeToLive);
		     $('#edittime').val(timeToLive);
		     
		     var $radios = $('input:radio[name=radiogroup]');
		     var isEnabled = @space.isTimeToLiveEnabled;
		     
		     if (isEnabled) {
		    	 $radios.filter('[value=expiretrue]').prop('checked', true);
		    	 //$('input:radio[name=radiogroup]')[0].checked = true;
		         $('#expireenabled').html("On");
		     }
		     else {
		    	 $radios.filter('[value=expirefalse]').prop('checked', true);
		    	 //$('input:radio[name=radiogroup]')[1].checked = true;
		         $('#expireenabled').html("Off");
		     }
		     
		     var name = "@space.name";
		     $('#spacenamedisplay').html(name);
		     $('#editspacename').val(htmlDecode(name));
		     
		     var desc = "@space.description";
		    $('#spacedescdisplay').html(desc);
		    $('#editspacedesc').val(htmlDecode(desc));
	
		});
	 </script>
<!-- End License elements -->
</div>