@(space: ProjectSpace, collections: List[Collection], datasets: List[Dataset], userRoleMap: Map[User, String])(implicit user: Option[models.User])
@import play.api.Play.current
@import api.Permission

@main(space.name) {


    @if( space.bannerURL.isDefined || space.logoURL.isDefined){
        <div class="row">
        @if(space.bannerURL.isDefined) {
            <div class="space-banner nopadding col-md-12 col-lg-12 col-sm-12" style="background-image:url('@(space.bannerURL)');">
        } else {
            <div class="col-md-12 col-lg-12 col-sm-12">
        }
            @if(space.logoURL.isDefined) {
                <img class="space-banner-logo pull-left" src="@(space.logoURL)" alt="Thumbnail of @(space.name)">
            }
            </div>
        </div>
    }

    <div class="row space-head vertical-align">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 id="spacenamedisplay">@space.name</h1>
            <p><span id="spacedescdisplay">@space.description</span></p>
            <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->
            @if(user.isDefined && Permission.checkPermission(Permission.DeleteSpace, ResourceRef(ResourceRef.space, space.id))){
                <button id="deleteButton" onclick="confirmDeleteResource('space','@(space.id)','@(space.name.replace("'","&#39;"))','@(routes.Spaces.list(""))')"
                    class="btn btn-link btn-sm" title="Delete Space but not Enclosed Resources">
                        <span class="glyphicon glyphicon-trash"></span> Delete</button>
            } else {
                <button disabled id="deleteButton" class="btn btn-link btn-sm" title="Delete Space but not Enclosed Resources">
                        <span class="glyphicon glyphicon-trash"></span> Delete</button>
            }
            @if(user.isDefined && Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, space.id))){
                <a id="create_dataset" href="@routes.Datasets.newDataset(Some(space.id.toString()), None)" class="btn btn-link" title="Create Dataset">
                    <span class="glyphicon glyphicon-ok"></span> Create Dataset</a>
                <a id="create_collection" href="@routes.Collections.newCollection(Some(space.id.toString()))" class="btn btn-link" title="Create Collection">
                    <span class="glyphicon glyphicon-ok"></span> Create Collection</a>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 space-col-left">
            @spaces.collectionsBySpace(collections, space.id.stringify)
            @spaces.datasetsBySpace(datasets, space.id.stringify)
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 space-col-right">
            @spaces.otherActions(space, userRoleMap)
            @spaces.externalLinks(space.homePage)
            @if(play.api.Play.configuration.getBoolean("enable_expiration").getOrElse(false)) {
                @spaces.spaceConfiguration(space)
            }
        </div>
    </div>
    <script>

        function activateOne(id) {
            // initialize Masonry
            var $container = $('#'+id).masonry();
            // layout Masonry again after all images have loaded
            imagesLoaded( '#masonry', function() {
                $container.masonry({
                itemSelector: '.post-box',
                columnWidth: '.post-box',
                transitionDuration: 4
                });
            });
        }

        function activate(){
            activateOne("masonry-datasets");
            activateOne("masonry-collections");
        }

        $(document).ready(function () {
            activate();
        });

        // fire when showing from tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            activate();
        })
    </script>
    <script src="@routes.Assets.at("javascripts/spaceListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" language="javascript"></script>
}
