@(resourceId: UUID, resourceType: Symbol, otherSpaces: List[ProjectSpace], resourceSpaces: Option[List[ProjectSpace]])(implicit user: Option[models.User])
@import api.Permission

<div class="row">
    <select class = "chosen-select2" multiple style="..." id ="spacesAvailable">
        @for(curOption <- resourceSpaces) {
            @for(curSpace <- curOption) {
                <option value="@curSpace.id" id ="@curSpace.name" selected>@curSpace.name</option>
            }
        }
        @for(curSpace <-otherSpaces) {
            <!-- Ensure that the space options are available only if the user can actually add to them. -->
            @if(Permission.checkPermission(Permission.AddResourceToSpace, ResourceRef(ResourceRef.space, curSpace.id))) {
                <option value="@curSpace.id" id ="@curSpace.name" >@curSpace.name</option>
            }
        }
    </select>
</div>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>

<script language="javascript">
    $(".chosen-select2").chosen({
        width: "90%",
        placeholder_text_multiple: "Select spaces"
    });
</script>

<script language = "javascript">
    var idNameObj = {};

    resource_type_enum = {
    DATASET : 0,
    COLLECTION : 1
    };

    function isUndefined(value) {
        return typeof value === 'undefined';
    }

    function getName(id) {
        return idNameObj[id];
    }
    $(document).ready(function() {
        @for(space <- otherSpaces) {
            idNameObj["@space.name"] = "@space.id";
        }
    });

    $(".chosen-select2").chosen().change(function(event, params) {
        var targetId = this.getAttribute("id");
        if(!isUndefined(params.selected)) {
            var addedId = params.selected;
            @for(space<-otherSpaces) {
                var currentId = "@space";
                if(currentId != targetId) {
                    $('#@space.id option [value=' + addedId + ']').remove();
                    $('#@space.id').trigger("chosen:updated");
                }
            }
            $('ul.chosen-choices li.search-field').css("width", "0");
        }
        else if(!isUndefined(params.deselected)) {
            var removedId= params.deselected;
            @for(space <- otherSpaces) {
                var currentId = "@space"
                if(currentId != targetId) {
                $('#@space.id').prepend($("<option></option>").attr("value", params.deselected).text(getName(params.deselected)));
                $('#@space.id').trigger("chosen:updated");
                }

            }
        }

        $('#spaces_add').click(function() {
            $('#modalSpaces').modal('hide');
            @if(resourceType == ResourceRef.dataset) {
              updateDatasetInSpaces();
            } else {
                @if(resourceType == ResourceRef.collection) {
                    updateCollectionInSpaces();
                }
            }
        })

    });

    function updateCollectionInSpaces(){

        var ids = $('#spacesAvailable option:selected').map(function() { return this.value}).get();
        var names = $('#spacesAvailable option:selected').map(function() { return this.id}).get();
        var jsonData = JSON.stringify({"space_ids ": ids, " resource_id ": "@resourceId"});
        var request = jsRoutes.api.Spaces.addCollectionToSpaces(ids, "@resourceId").ajax({
            data: jsonData,
            type: 'POST',
            contentType: "application/json",
        });

        request.done(function(response, textStatus, jqXH) {
            updateSpacesEditLink(ids, names)
        });

        request.fail(function(jqHR, textStatus, errorThrown) {
            console.error("The following error occurred: " + textStatus, errorThrown);
        });

    }

    function updateDatasetInSpaces() {
        var ids = $('#spacesAvailable option:selected').map(function(){ return this.value }).get();
        var names = $('#spacesAvailable option:selected').map(function(){ return this.id }).get();
        var jsonData = JSON.stringify({"space_ids": ids, "resource_id": "@resourceId"});
        var request = jsRoutes.api.Spaces.addDatasetToSpaces(ids,"@resourceId").ajax({
            data: jsonData,
            type: 'POST',
            contentType: "application/json",
        });

        request.done(function(response, textStatus, jqXH){
            updateSpacesEditLink(ids, names)
        });

        request.fail(function(jqHR, textStatus, errorThrown){
            console.error("The following error occurred: " + textStatus, errorThrown);
        })
    }

    function updateSpacesEditLink(ids, names) {
        var edit_spaces = $("#editSpaces");
        $("#spaces").text('');
        $("#spaces").html(edit_spaces);
       for(var i=0; i < ids.length; i++){
       $("<a class = 'space-pills' href="+ jsRoutes.controllers.Spaces.getSpace(ids[i]).url +" > " + names[i] + " </a>").insertBefore('#editSpaces')
       }

    }

    if($('ul.chosen-choices .search-field input').attr('class') == 'default') {
        $('ul.chosen-choices li.search-field').css("width", "80%");
        $('ul.chosen-choices li.search-field input[type="text"]').css("width", "100%");
    }

    function spaceAddDataset() {
        var ids = $('#spacesAvailable option:selected').map(function(){ return this.value }).get()

    }
</script>
