@(resourceId: UUID, resourceType: Symbol, resourceSpaces_canRemove : Map[ProjectSpace,Boolean], currentCollection: Option[Collection])(implicit user: Option[models.User])
@import api.Permission
@import play.api.libs.json.Json
    <div class="row bottom-padding">
        <div class="col-md-12">
        @if(resourceType == ResourceRef.collection) {
            <h4>Spaces containing the collection</h4>
        } else {
            <h4>Spaces containing the dataset</h4>
        }
        </div>
    </div>

    <div class="row">
        <div id="spacesList" class="col-md-12">
        @resourceSpaces_canRemove.map {case (s, v) =>
            <div id="col_@s.id" class="row bottom-padding">
                <div class="col-md-2">
                    @if(s.logoURL.isDefined) {
                        <img src="@s.logoURL.get" width="100%">
                    }
                </div>
                <div class="col-md-10">
                    <div>
                        <a href="@routes.Spaces.getSpace(s.id)" id='@s.id' class="space">@Html(s.name)</a>
                        @if(resourceType == ResourceRef.dataset) {
                            @if(Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, s.id))) {
                                | <button onclick="confirmRemoveResourceFromResourceEvent('space','@(s.id)','dataset','@(resourceId)',event)" class="btn btn-link btn-xs" title="Remove the dataset from the space">
                                    <span class="glyphicon glyphicon-remove"></span> Remove</button>
                            } else {
                                |
                                <div class="inline" title="No permission to remove from the space">
                                    <button class="btn btn-link btn-xs disabled"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                </div>
                            }
                        }
                        @if(resourceType == ResourceRef.collection) {
                            @**
                                a collection can be removed from a space as long as it is the highest level collection in that space;
                                meaning it has no parent in the space.
                            **@ß
                            @if(v == true){
                                @if(Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, s.id))) {
                                    |  <button onclick="confirmRemoveResourceFromResourceEvent('space','@(s.id)','collection','@(resourceId)',event)" class="btn btn-link btn-xs" title="Remove the collection from the space">
                                        <span class="glyphicon glyphicon-remove"></span> Remove</button>
                                } else {
                                    |
                                    <div class="inline" title="No permission to remove from the space">
                                        <button class="btn btn-link btn-xs disabled"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                    </div>
                                }
                            } else {
                                |
                                <div class="inline" title="A child collection, only the parent can be removed">
                                    <button class="btn btn-link btn-xs disabled"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

    <!-- If the user can edit the dataset, the elements are enabled, otherwise they are present but disabled to provide consistent UE. -->
    @if(Permission.checkOwner(user, ResourceRef(resourceType, resourceId))) {
        <div class="form-inline">
            <div class="input-group input-group-sm col-md-8">
                @if(resourceType == ResourceRef.collection) {
                    <select id="spaceAddSelect" class="form-control add-resource">
                    </select>


                } else {
                    <select id="spaceAddSelect" class="form-control add-resource">
                    </select>
                }

                @if(resourceType == ResourceRef.dataset) {
                    <span class="input-group-btn">
                    <a href="#" class="btn btn-default btn-large" id="addSpaceBtn" title="Add dataset to Space" onclick="addDatasetToSpace('@resourceId')">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </a>
                    </span>
                } else {
                    <span class="input-group-btn">
                    <a href="#" class="btn btn-default btn-large" id="addSpaceBtn" title="Add collection to Space" onclick="addCollectionToSpace('@resourceId')">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </a>
                    </span>
                }
            </div>
        </div>
    }


<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/spaceModify.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>

<script language="javascript">
    $("#spaceAddSelect").select2({
        theme: "bootstrap",
        placeholder: "Select a space",
        allowClear: true,
        ajax: {
            url: function(params) {
                return jsRoutes.api.Spaces.listCanEdit(params.term, null, 5).url;
            },
            data: function(params) {
                return { title: params.term };
            },
            processResults: function(data, page) {
                return {results: data.filter(function(x) {
                    var ids = $('.space').map(function() {
                        return $(this).attr('id');
                    });
                    return $.inArray(x["id"], ids) == -1;
                }).map(function(x) {
                    return {
                        text: x["name"],
                        id: x["id"]
                    }
                })};
            }
        }
    });

</script>
<script language = "javascript">

    function getCollection(id) {
        var request = jsRoutes.api.Collections.getCollection(id).ajax({
            type: 'GET'
        });

        request.done(function (response, textStatus, jqXHR) {
            var o =$.parseJSON(jqXHR.responseText);
            return o
        });

        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            var errMsg = "Error message.";
            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                notify("Error : " + errorThrown, "error");
            }
        });
        return false;
    }

</script>
