@(dataset: Dataset, space: Option[List[ProjectSpace]], resourceType: Int, resourceId: UUID, previewers: List[Previewer], spacesList: List[ProjectSpace])(implicit user: Option[models.User])
<span id="spaces" >
@if(user.isDefined) {
    @if(space.isDefined) {
        @for(sp <- space) {
            @for(s <- sp) {
                <a href="@routes.Spaces.getSpace(s.id)" id="space_link">
                @s.name</a>
            }
        }

        @*<a href="javascript:changeSpace('@resourceId', @resourceType)">*@
            @*<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>*@
        @*</a>*@
        <a class = "btn btn-default btn-xs accordion-toggle collapsed" data-toggle="modal"
        data-target="#modalSpaces" id="editSpaces" title = "Edit Spaces">
            <span class = "glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    }
    @if(space.isEmpty) {
        <a href="#" id="space_link">Default</a>
        <a href="javascript:changeSpace('@resourceId', @resourceType)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    }
}
@if(user.isEmpty) {
    @if(!space.isEmpty) {
        @for(sp <- space) {
            @for(s <- sp) {
                <a href="@routes.Spaces.getSpace(s.id)" id="space_link">
                @s.name</a>
            }
        }
    }

    @if(space.isEmpty) {
        <a href="#" id="space_link">Default</a>
    }
}
</span>
<div class = "modal fade bs-example-modal-lg" id = "modalSpaces" tabindex = "-1" role = " dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
    <div class ="modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 class = "modal-title">Edit Spaces</h4>
            </div>
            <div class = "modal-body" style= "padding-left: 30px;">

                @spaces.datasetAllocation(dataset, spacesList, space)
            </div>
            <div class ="modal-footer">
                <button class ="btn btn-primary" id="space_add_dataset" title = "Update Spaces Information">
                    <span class ="glyphicon glyphico-edit"></span> Submit
                </button>

                <a href="#" class ="btn btn-default" id = "closebutton" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>

</div>
<script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/spaces/modify.js")" type="text/javascript"></script>