@(space: models.ProjectSpace, curationObjects: List[models.CurationObject])(implicit user: Option[models.User])

@main("Staging Area") {
    <div class = "row">
        <ol class="breadcrumb">
            <li class="active">  Staging Area </li>
        </ol>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Staging Area for @space.name</h1>
        </div>
    </div>
    @util.masonry()
    <div class = "row" id="tile-view">
        <div class = col-md-12>
            <div id = "masonry">
                @curationObjects.map { curObject =>
                    <div class="post-box col-lg-3 col-md-3 coml-sm-3 col-xs-12">
                        <div class = "panel panel-default">
                            @if(curObject.status == "Submitted") {
                                <div class="panel-heading text-center submitted">
                            } else {
                                <div class="panel-heading text-center in-curation">
                            }

                               @curObject.status
                            </div>
                            <div class = "panel-body">
                                <div class="caption break-word">
                                    <h4> <a href="@routes.CurationObjects.getCurationObject( curObject.id)">@curObject.name</a></h4>

                                    Author: @curObject.author.fullName
                                    <p>@curObject.description</p>
                                </div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon glyphicon-file" title="@curObject.datasets.size datasets"></span> @curObject.datasets.size
                                    <span class="glyphicon glyphicon glyphicon-th-large" title="@curObject.collections.size collections"></span> @curObject.collections.size
                                    <button onclick="removeCuration('@(space.id)','@(curObject.id)')"  type="button" class="btn btn-link">
                                        <span class="glyphicon glyphicon glyphicon-trash" title="@curObject.collections.size collections"></span></button>

                                </li>

                            </ul>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="@routes.Spaces.getSpace(space.id)"> Go Back to Space </a>
    <script src="@routes.Assets.at("javascripts/curationProcess.js")" type="text/javascript"></script>
}