@(curationObject: models.CurationObject, files :List[CurationFile], m: List[models.Metadata])(implicit user: Option[models.User])

  @import helper._
  @import collection.JavaConverters._
  @import play.api.Play.current
  @implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

  @main(curationObject.name) {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="@routes.Spaces.stagingArea(curationObject.space)"> Staging Area</a> >
                    <strong> Submitted Curation</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="container row">
      <div class="col-md-6">
      <div>
        <h2>@curationObject.name</h2>
        @curationObject.description<br/><br/>
        <b>Creator</b>: @curationObject.author.fullName <br/>
        <b>Uploaded</b>: @curationObject.created.date.format("MMM dd, yyyy") <br/>
        <b>Repository</b>: @curationObject.repository.getOrElse("Not select.") <br/>
        <b>Submmitted</b>: @{curationObject.submittedDate match {
        case Some(d) => d.format("MMM dd, yyyy")
        case None => "Not submmited"
      }
      }  <br/>
        <b>Published</b>: @{curationObject.publishedDate match {
        case Some(d) => d.format("MMM dd, yyyy")
        case None => "Not published"
      }
      }  <br/>

        <b>External Identifier</b>: @curationObject.externalIdentifier match {
        case Some(e) => {
          @if(e.toString.startsWith("http://") || e.toString.startsWith("https://")) {
          <a href=@e>@e</a>
             } else {
           @e
          }
        }
        case None => {Not Set}
      }  <br/>

        <br/>
        <h4>Dataset <a href ="@routes.Datasets.dataset(curationObject.datasets(0).id)">@curationObject.datasets(0).name</a></h4>
        Note: The links in this page redirect to the live objects.<br/>
        <b>Size</b>: @{files.map(_.length).sum /1024} KB <br/>
        <b>File Formats</b>: @files.map(_.contentType).toSet.mkString(", ") <br/>
        <b>Creator</b>: @curationObject.datasets(0).author.fullName <br/>


        @*if(Permission.checkPermission(Permission.ViewMetadata, ResourceRef(ResourceRef.curationObject, curationObject.id))) {*@
        <div class="row">
          <div class="col-md-12 box-white-space">
            @if(m.filter(_.attachedTo.resourceType == ResourceRef.curationObject).size > 0) {
           	  <h4>Metadata</h4>
            }
            <div  class='usr_md_'>
            @metadatald.view(m.filter(_.attachedTo.resourceType == ResourceRef.curationObject), false)
            </div>
          </div>
        </div>
        @*}*@
      </div>

      <br/>
      <br/>
      @if(files.size > 0 ){
        <h4> Files</h4>
      }

      <ul>
      @for(file<- files) {

        <li><h4><a href=@routes.Files.file(file.fileId)>@file.filename</a></h4>
          <div id ='allMetadata_@(file.id)'>
            <button class="btn btn-link tech_md_" type="button">Show File metadata</button>
            <div style="display:none;">
              <div class="row border-top">
                <div class="col-md-12">
                  @if(m.filter(_.attachedTo.id == file.id).size > 0) {
                 	 <h4>Metadata</h4>
                  }
                  @metadatald.view(m.filter(_.attachedTo.id == file.id), false)
                </div>
              </div>
            </div>
          </div>
        </li>
        <script>
                    $("#allMetadata_@(file.id.toString) > button").on('click', function(){
                        if($("#allMetadata_@(file.id.toString) > div").attr('style') == 'display:none;'){
                            $("#allMetadata_@(file.id.toString) > div").attr('style', 'display:block;');
                            $("#allMetadata_@(file.id.toString) > button").get(0).innerHTML = "Hide file metadata";
                        }
                        else{
                            $("#allMetadata_@(file.id.toString) > div").attr('style', 'display:none;');
                            $("#allMetadata_@(file.id.toString) > button").get(0).innerHTML = "Show file metadata";
                        }
                        });
                </script>
      }
      </ul>


    </div>
    <div class="col-md-6">
    <b>Submission Status in repository</b><button id="status" class ="btn btn-link btn-xs"><span class="glyphicon glyphicon-send"></span> Update</button>
    <br/><br/>
    <div id="showStatus"></div>
    </div>
    </div>
      <script>

      $(document).ready(getStatus('@curationObject.id'));

      $('#status').click(function(){
        getStatus('@curationObject.id');
      });

      function getStatus(id){
        var request = jsRoutes.controllers.CurationObjects.getStatusFromRepository(id).ajax({
          type : 'GET',
          contentType : "application/json"
         });
        request.done ( function ( response, textStatus, jqXHR) {
        console.log("get status: "+ jqXHR.responseText );

        var o =response.Status;
        var table = document.createElement('table');
        table.classList.add('table');
        table.classList.add('table-bordered');
        table.id ='showStatus';

        var thead = document.createElement('thead');
        {
          var tr = document.createElement('tr');
          var th1 = document.createElement('th');
          var th2 = document.createElement('th');
          var th3 = document.createElement('th');
          var th4 = document.createElement('th');

          var text1 = document.createTextNode("Date");
          var text2 = document.createTextNode("Reporter");
          var text3 = document.createTextNode("Stage");
          var text4 = document.createTextNode("Message");

          th1.appendChild(text1);
          th2.appendChild(text2);
          th3.appendChild(text3);
          th4.appendChild(text4);
          tr.appendChild(th1);
          tr.appendChild(th2);
          tr.appendChild(th3);
          tr.appendChild(th4);

          thead.appendChild(tr);
        }
        var tbody = document.createElement('tbody');
        for ( var i = 0, l = o.length; i < l; i++){
         var tr = document.createElement('tr');

          var td1 = document.createElement('td');
          var td2 = document.createElement('td');
          var td3 = document.createElement('td');
          var td4 = document.createElement('td');

          var text1 = document.createTextNode(o[i].date);
          var text2 = document.createTextNode(o[i].reporter);
          var text3 = document.createTextNode(o[i].stage);
          var text4 = document.createTextNode(o[i].message);

          td1.appendChild(text1);
          td2.appendChild(text2);
          td3.appendChild(text3);
          td4.appendChild(text4);

          tr.appendChild(td1);
          tr.appendChild(td2);
          tr.appendChild(td3);
          tr.appendChild(td4);

          tbody.appendChild(tr);
        }
        table.classList.add("fixedtable");
        table.setAttribute('width','100%');
        table.appendChild(thead);
        table.appendChild(tbody);
        $('#showStatus').replaceWith(table);
      });
      request.fail(function(jqXHR) {
          console.error("Error getting status from repository");
          $('#showStatus').replaceWith("<p id='showStatus'>No status available. Try again later.</p>");
      });
    }

    </script>
  }