@(runningExtractors: List[String], selectedExtractors: List[String], space: String)(implicit user: Option[models.User])

@import helper._

@main("Space") {
 @if(runningExtractors.size == 0) {
	<div class="page-header">
        <h1> No extractors running</h1>
  </div>
 } else {     
     <div class="page-header">
        <h1> Update Extractors </h1>
    </div>
    
	@form(action = routes.Spaces.updateExtractors, 'id->"formOne", 'enctype -> "multipart/form-data", 'class -> "form-horizontal"  ){
	   	<!--  Pass the space id to the controller -->                        
  		<input type="hidden" name="space_id" value="@space">
  	
   		<!-- Display all running extractors. If extractor already in this space, check the box. -->
     	@runningExtractors.map { extractor =>
     		<input type="checkbox" name="extractors" value="@extractor"	 
     			@if(selectedExtractors.contains(extractor)) {checked} else {unchecked} >
	 		@extractor	     	
	 		<br>
	 	}
	 	<p> 	
	 	@updateButton()	 	 
	}<!-- end of form -->
 }  
}    
