@(userRoleMap: Map[User, String], externalUsers: List[User], roleList: List[String])(implicit user: Option[securesocial.core.Identity])

<div class="row">
    <div class="col-lg-3">
    @for(roleLevel <- roleList){
        <h4>@roleLevel</h4>        
		<select class="chosen-select" multiple style="width: 500px;" id='@roleLevel.replaceAll("\\s+", "")'>
			<option value=""></option>
			@for((k,v) <- userRoleMap) {
			    @if(v == roleLevel) {
			         <option value="@k.id" selected>@k.fullName (@k.email)</option>
			    }
			}
			@for(extUser <- externalUsers) {
			     <option value="@extUser.id">@extUser.fullName (@extUser.email)</option>
			}
	    </select>
    }
    </div>
</div>

 
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
 
 <script language="javascript">
  $(".chosen-select").chosen({    
    width: "500px",
    placeholder_text_multiple: "Select Users for this Level..."});
</script>