@(space: ProjectSpace, creator: Option[User], userRoleMap: Map[User, String], externalUsers: List[User], roleList: List[String])(implicit user: Option[models.User])

@import api.Permission
@import play.api.libs.json._


<h3>Members</h3>

Owner: <a href= "@routes.Profile.viewProfile(creator.get.email)" title="@creator.get.email"> @creator.get.fullName</a>

<div id="userlist">    
	@if(userRoleMap.size == 0) {
	   <ul class="list-unstyled">
	       <li>No other members</li>
	   </ul>
	}
	
	@for(aRole <- roleList) {
	    <h5>@aRole</h5>
	    <ul>
		@for((k,v) <- userRoleMap) {
		    @if(aRole == v) {    		         
		        <li><a href= "@routes.Profile.viewProfile(k.email)" title="@k.email">@k.fullName</a></li>
		    }    
		}
		</ul> 
	}		
</div>



<!-- If the user can view tags for this dataset, they are displayed, the area is present but empty to provide a consistent UE. -->
@if(Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, space.id))) {
	<a class="btn btn-default btn-xs btn-margins accordion-toggle collapsed" data-toggle="modal"
	data-target="#modalUser" id="edituseralloc"
	title="Edit User Allocation">
	    <span class="glyphicon glyphicon-edit"></span> Edit
	</a>
	@if(!space.requests.isEmpty) {
		<a class="btn btn-default btn-xs btn-margins accordion-toggle collapsed" data-toggle="modal"
		data-target="#requestUser" id="viewrequest"
		title="View Authorization request">
			 @space.requests.length Authorization Request
		</a>
	}
} else {
	<a class="btn btn-default btn-xs btn-margins accordion-toggle collapsed disabled"
	id="edituseralloc" title="Edit User Allocation">
		<span class="glyphicon glyphicon-edit"></span> Edit
	</a>
}

<div class="modal fade bs-example-modal-lg" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;</button>
			<h4 class="modal-title">Edit Users and Roles</h4>
			</div>
			<div class="modal-body">
			@spaces.userAllocation(userRoleMap, externalUsers, roleList)
			</div>
			<div class="modal-footer">
			<button class="btn btn-primary" title="Update User Information" onclick="return updateUsersInSpace('@space.id', '@(routes.Spaces.getSpace(space.id))')">
                <span class="glyphicon glyphicon-edit"></span> Submit
            </button>
			<a href="#" class="btn btn-default" id="closebutton" data-dismiss="modal">Close</a>			
			</div>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-lg" id="requestUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;</button>
				<h4 class="modal-title">Authorization Request</h4>
			</div>
			<div class="modal-body">
				<ul>
				@for(user <- space.requests) {
					<li id="requestli_@user.id.stringify">
						<a href="@routes.Profile.viewProfileUUID(user.id)">@user.name</a>
						<br><br>
					<button class="btn btn-default btn-xs" id="requestadmin_@user.id.stringify" title="accept space request as admin" onclick="return acceptSpaceRequest('@space.id', '@user.id.toString', 'Admin')">
						Accept as Admin
					</button>
					<button class="btn btn-default btn-xs" id="requesteditor_@user.id.stringify" title="accept space request as editor" onclick="return acceptSpaceRequest('@space.id', '@user.id.toString', 'Editor')">
						Accept as Editor
					</button>
					<button class="btn btn-default btn-xs" id="requestviewer_@user.id.stringify" title="accept space request as viwer" onclick="return acceptSpaceRequest('@space.id', '@user.id.toString', 'Viewer')">
						Accept as Viewer
					</button>
					<button class="btn btn-default btn-xs" id="requestrej_@user.id.stringify" title="reject space request" onclick= "return rejectSpaceRequest('@space.id', '@user.id.toString')">
						Reject Request
					</button>
					</li>
				}
				</ul>
				@if( space.requests.length ==0) {
					<p>No more request.</p>
				}
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button" data-dismiss="modal" onClick= "window.location.reload();">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    var roleArray = @Html(Json.stringify(Json.toJson(roleList)))
</script>
<script src="@routes.Assets.at("javascripts/spaces/modify.js")" type="text/javascript"></script>
