@(space: ProjectSpace, creator: Option[User], usersInSpace: List[User], externalUsers: List[User])

<h3>Members</h3>

<ul class="list-unstyled">
    <li>Owner: <a href= "@routes.Profile.viewProfile(creator.get.email)"> @creator.get.fullName</a></li>

@if(usersInSpace.size == 0) {
    <li>No other members</li>
}

@for(user <- usersInSpace) {    
    <li>@user.fullName (
        @for(spacerole <- user.spaceandrole) {
            @spacerole.m_role<br>
        }
    )</li>    
}
</ul>

<h4>Non-Members</h4>

<ul class="list-unstyled">
@if(externalUsers.size == 0) {
    <li>No external members</li>
}

@for(user <- externalUsers) {    
    <li>@user.fullName (@user.email)</li>    
}
</ul>