@(spaceid: String, spaceName: String, member: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
  <body>

    <p>Hello @member,</p>

    <p>Congratulations, your @services.AppConfiguration.getDisplayName @spaces.spaceTitle() <a href="@routes.Spaces.getSpace(UUID(spaceid)).absoluteURL(IdentityProvider.sslEnabled)">@spaceName</a> has been verified!
      @play.api.i18n.Messages("verify.email.content")
    </p>


    <p>Please contact <a style="text-decoration:none;" @if(play.api.i18n.Messages("verify.email.contact.link") == "") {
     href="@routes.Application.email().absoluteURL(controllers.Utils.https(request))"
    } else {
      href="@play.api.i18n.Messages("verify.email.contact.link")"
    }> @services.AppConfiguration.getDisplayName </a> if you have questions or feedback.</p>
    @emails.footer()
  </body>
</html>