html,body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
      
body {
  min-height: 1000px;
  padding-top: 0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.break-word {
    word-wrap: break-word;
}

.fit-in-space {
    max-width: 100%;
    max-height: 100%;
}
/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */

/* Basic button bars */
span.button-bar {
    width:50%;  
}

span.align-right { 
    float:right;
}

.error { 
	color: red;
	padding-left: 10px;
	text-align:left;
}

.success {
	color: green;
	padding-left: 10px;
	text-align:left;
}

.hiddencomplete {
    display: none;
}

.hiddenholdspace {
    visibility: hidden;
}

/* Not required for template or sticky footer method. */
#wrap > .container {
  padding-top: 60px;
}

.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

#nwthumbs {
  text-align:center;
}

#nwthumbs > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

/*
 * ----------------------------------------------------------------------
 * Comments
 * ----------------------------------------------------------------------
 */
.comment {
	padding-top: 25px;
}

.comment-image {
	width: 32px;
	height: 0px;
	float: left;
}

.comment-author {
	float: left;
}

.comment-header {
	padding-left: 10px;
	padding-bottom: 10px;
    font-size: 85%;
}

.comment-body {
	padding-left: 10px;
	min-height:   30px;
}

.comment-footer {
	padding-left: 10px;
	font-size: 85%;
	padding-right: 10px;
}

.comment-reply {
	padding-left: 0px;
}

.comment-input-box {
	width: 100%;
	margin: 10px 0px;
}

.rubberbandDiv {
  position: absolute;
  border: 3px solid blue;
  cursor: crosshair;
  display: none;
  pointer-events: none;
}

.rubberbandCanvas {
  border: thin solid #aaaaaa;
}

.rubberbandFormDiv {
  width: 400px;
  background: white;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: none;
  z-index: 5;
}

.rubberbandForm {
  text-align: center;
}

.rubberbandForm label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.rubberbandForm label input {
  float: right;
  width: 300px;
}

.rubberbandForm label textarea {
  float: right;
  width: 300px;
  height: 100px;
}

button.usr_md_ {
    background:none!important;
     border:none; 
     padding:0!important;
     
     color:rgb(0, 136, 204);
}

.usr_md_{
	margin-right:10px;
	margin-bottom:5px;
}

button.tech_md_ {
    background:none!important;
     border:none; 
     padding:0!important;
     
     color:rgb(0, 136, 204);
     
}

.tech_md_{
	margin-right:10px;
	margin-bottom:5px;
}

#table-scroll {
  height:400px;
  overflow:auto;  
  margin:10px;
  border: 1px solid #ddd;
  padding:10px;
}

.usr_md_search_list {
	list-style-type:none;
}

.usr_md_search_list_not {
	margin-left:58px;
}

.file_separator {
	border-top:1px solid #141414 !important;
}

.ds-section-sm {
	margin-bottom: 20px;
	padding: 0 15px;
}

#geostreams_map { 
	height: 600px; 
}

.wrapped {
	padding: 15px 5px;
}

.avatar {
	width: 48px;
	height: 48px;
}

#checkboxFieldSet .control-group .control-label{
	position:relative;
	left:140px;
}

#datasetRadioFieldSet .control-group .controls span label{
	position:relative;
	top:-17px;
	left:20px;
}

.profilePicture {
  margin-bottom:12px;
  max-width:256px;
  max-height:256px;
}

.editProfileInput input[type='text']{
  width:450px;
  height:30px;
}
.editProfileInput textarea{
  width:450px;
  height:100px;
}
.editProfileInput .chosen-select {
  width:450px;
}

#nameDescrFieldSet .control-group .controls textarea{
	width:208px;
}
#nameDescrFieldSet .control-group .controls input[type='text']{
	width:208px;
	height:30px;
}
fieldset #username_field .controls #username{
	width:208px;
	height:30px;
}
fieldset #password_field .controls #password{
	width:208px;
	height:30px;
}
fieldset #email_field .controls #email{
	width:208px;
	height:30px;
}
#firstName_field .controls #firstName{
	width:208px;
	height:30px;
}
#lastName_field .controls #lastName{
	width:208px;
	height:30px;
}
#password_password1_field .controls #password_password1{
	width:208px;
	height:30px;
}
#password_password2_field .controls #password_password2{
	width:208px;
	height:30px;
}

#adminMailFieldSet .control-group .controls input[type='text']{
	width:208px;
	height:30px;
}

#displayNameField{
	width:208px;
	height:30px;
}



:-webkit-full-screen x3d {
  width: 100%;
  height: 100%;
}

.mmd-img {
	width: 80px;
}

.mmd-col {
	width: 10%;
}

.inner-item {
    text-align: center;
}

.inner-item img {
    margin: 0 auto;
}

.img-thumbnail {
    padding: 10px;
}

.post-box {
    margin: 15px 0 15px 0;
}

.file-type {
	display:block;
	font-size: 20px;
    font-weight: 500;
	color: white;
	background-color: #0B61A4;
	width: 100%;
	min-height: 150px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
}

.file-type:hover {
	color: white;
	text-decoration: none;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
   /* line-height: 200px; */
}

.panel .bookmark-link {
    padding: 0px;
    margin: 0px;
}

.panel .bookmark {
    padding-right: 2px;
}

.panel .panel-body .img-responsive {
    margin: 0 auto;
}

.panel .panel-body .pic {
    vertical-align: middle;
}
.accordion{
	margin-bottom: 30px;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus{
	border-color: rgb(102, 175, 233);
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
	
}

textarea, input[type='text'], input[type='password']{
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.elasticsearchResult{
	margin-bottom:10px;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list-view {
  padding-top: 20px;
}

#tile-view {
}


.file-info .table th, .file-info .table td {
  border-top: none;
}

.col-right-border {
  border-right: 1px solid #E1E1E8;
}

.col-left-border {
    border-left: 1px solid #E1E1E8;
}

.border-top {
  border-top: 1px solid #E1E1E8;
  padding-top: 10px;
  margin-top: 10px;
}

.btn-margins {
  margin: 20px 0px;
}

.col-section {
  margin: 20px 0px;
}

#tagCloudCanvas {
    border:1px solid #e6e6e6;
}

.input-table-cell {
	padding-top: 10px;
	padding-bottom: 10px:
}

.horizontal-radio {
	margin-right: 25px;
}

/* required to get comments to span the entire width of the container */
.media .media-body {
    width: 10000px;
}

.featurette {
    margin-top: 50px;
}

.box-white-space {
    padding: 30px 0px 0px 0px;
}

#add-file-btn {
    margin-top: 10px;
    margin-left: 20px;
}

#ds-title {
    margin-bottom: 10px;
}

#license-img {
    height: 25px;
}