html,body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
      
body {
  padding-top: 80px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: calc( 100% - 30px );
}

.break-word {
    word-wrap: break-word;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Previews */
.fit-in-space {
    max-width: 100%;
    max-height: 100%;
}

/* Basic button bars */
span.button-bar {
    width:50%;  
}

span.align-right { 
    float:right;
}

.error { 
	color: red;
	padding-left: 10px;
	text-align:left;
}

.success {
	color: green;
	padding-left: 10px;
	text-align:left;
}

.hiddencomplete {
    display: none;
}

.hiddenholdspace {
    visibility: hidden;
}

/* Not required for template or sticky footer method. */
#wrap > .container {
  /*padding-top: 60px;*/
}

.container .credit {
  margin: 0px;
}

code {
  font-size: 80%;
}

#nwthumbs {
  text-align:center;
}

#nwthumbs > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

/*
 * ----------------------------------------------------------------------
 * Comments
 * ----------------------------------------------------------------------
 */
.comment {
	padding-top: 25px;
}

.comment-image {
	width: 32px;
	height: 0px;
	float: left;
}

.comment-author {
	float: left;
}

.comment-header {
	padding-left: 10px;
	padding-bottom: 10px;
    font-size: 85%;
}

.comment-body {
	padding-left: 10px;
	min-height:   30px;
}

.comment-footer {
	padding-left: 10px;
	font-size: 85%;
	padding-right: 10px;
}

.comment-reply {
	padding-left: 0px;
}

.comment-input-box {
	width: 100%;
	margin: 10px 0px;
}

.rubberbandDiv {
  position: absolute;
  border: 3px solid blue;
  cursor: crosshair;
  display: none;
  pointer-events: none;
}

.rubberbandCanvas {
  border: thin solid #aaaaaa;
}

.rubberbandFormDiv {
  width: 400px;
  background: white;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: none;
  z-index: 5;
}

.rubberbandForm {
  text-align: center;
}

.rubberbandForm label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.rubberbandForm label input {
  float: right;
  width: 300px;
}

.rubberbandForm label textarea {
  float: right;
  width: 300px;
  height: 100px;
}

.usr_md_{
	margin-right:10px;
	margin-bottom:5px;
}

.tech_md_{
	margin-right:10px;
	margin-bottom:5px;
}

#table-scroll {
  height:400px;
  overflow:auto;  
  margin:10px;
  border: 1px solid #ddd;
  padding:10px;
}

.usr_md_search_list {
	list-style-type:none;
}

.usr_md_search_list_not {
	margin-left:58px;
}

.file_separator {
	border-top:1px solid #141414 !important;
}

.ds-section-sm {
	margin-bottom: 20px;
	padding: 0 15px;
}

#geostreams_map { 
	height: 600px; 
}

.wrapped {
	padding: 15px 5px;
}

.avatar {
	width: 48px;
	height: 48px;
}

#checkboxFieldSet .control-group .control-label{
	position:relative;
	left:140px;
}

#datasetRadioFieldSet .control-group .controls span label{
	position:relative;
	top:-17px;
	left:20px;
}

#nameDescrFieldSet .control-group .controls .buttonset label
{
    margin-right: 10%;
}

#nameDescrFieldSet .homePages .external-link-delete
{
    display: inline-block;
    margin-left:10px;
}

#nameDescrFieldSet .homePages .external-link-add {
    display:inline-block;
    margin-left: 10px;
}

#nameDescrFieldSet .homePages .control-group
{
    display:inline-block;
    width: 85%;
}

#nameDescrFieldSet .homePages .control-label
{
    display: none;
}

.profilePicture {
  	width: 256px;
    height: 256px;
}

.editProfileInput input[type='text']{
  width:450px;
  height:30px;
}
.editProfileInput textarea{
  width:450px;
  height:100px;
}
.editProfileInput .chosen-select {
  width:450px;
}

#nameDescrFieldSet .control-group .controls textarea{
	width:100%;
    height: 100px;
}
#nameDescrFieldSet .control-group .controls input[type='text']{
	width:100%;
	height:30px;
}

.checkbox
{
    font-weight: normal;
}

fieldset #username_field .controls #username{
	width:208px;
	height:30px;
}
fieldset #password_field .controls #password{
	width:208px;
	height:30px;
}
fieldset #email_field .controls #email{
	width:208px;
	height:30px;
}
#firstName_field .controls #firstName{
	width:208px;
	height:30px;
}
#lastName_field .controls #lastName{
	width:208px;
	height:30px;
}
#password_password1_field .controls #password_password1{
	width:208px;
	height:30px;
}
#password_password2_field .controls #password_password2{
	width:208px;
	height:30px;
}

#adminMailFieldSet .control-group .controls input[type='text']{
	width:208px;
	height:30px;
}

#displayNameField{
	width:208px;
	height:30px;
}



:-webkit-full-screen x3d {
  width: 100%;
  height: 100%;
}

.mmd-img {
	width: 80px;
}

.mmd-col {
	width: 10%;
}

.inner-item {
    text-align: center;
}

.inner-item img {
    margin: 0 auto;
}

.img-thumbnail {
    padding: 10px;
}

.post-box {
    margin: 15px 0 15px 0;
}

.file-type {
	display:block;
	font-size: 20px;
    font-weight: 500;
	color: white;
	background-color: #0B61A4;
	width: 100%;
	min-height: 150px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
}

.file-type:hover {
	color: white;
	text-decoration: none;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
   /* line-height: 200px; */
}

.panel .bookmark-link {
    padding: 0px;
    margin: 0px;
}

.panel .bookmark {
    padding-right: 2px;
}

.panel .panel-body .img-responsive {
    margin: 0 auto;
}

.panel .panel-body .pic {
    vertical-align: middle;
}
.accordion{
	margin-bottom: 30px;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus{
	border-color: rgb(102, 175, 233);
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
	
}

textarea, input[type='text'], input[type='password']{
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.elasticsearchResult{
	margin-bottom:10px;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list-view {
  padding-top: 20px;
}

#tile-view {
}


.file-info .table th, .file-info .table td {
  border-top: none;
}

.col-right-border {
  border-right: 1px solid #E1E1E8;
    margin:0px;
}

.col-left-border {
    border-left: 1px solid #E1E1E8;
    margin: -1px;
}

.border-top {
  border-top: 1px solid #E1E1E8;
  padding-top: 10px;
  margin-top: 10px;
}

.btn-margins {
  margin: 20px 0px;
}

.col-section {
  margin: 20px 0px;
}

#tagCloudCanvas {
    border:1px solid #e6e6e6;
}

.tag {
    display: inline-block;
    border: none;
    padding: 1px 10px 1px 10px;
    margin: 5px;
    background: #474949;
    border-radius: .25em;
}

.tag a {
    color: white;
}

.tag a:hover {
    color: white;
}

.tag .tag-delete {
    margin-right: -5px;
}

.space-head {
    border-bottom: 1px solid #E1E1E8;
}

.space-col-right {

}

.space-col-left {
    border-right: 1px solid #E1E1E8;
}

.tag-first-char {
    font-size: 3em;
    bottom: -1em;
    font-weight: bold;
}

.input-table-cell {
	padding-top: 10px;
	padding-bottom: 10px;
}

.horizontal-radio {
	margin-right: 25px;
}

/* required to get comments to span the entire width of the container */
.media .media-body {
    width: 10000px;
}

.featurette {
    margin-top: 50px;
}

.box-white-space {
    padding: 30px 0px 0px 0px;
}

#add-file-btn {
    margin-top: 10px;
    margin-left: 20px;
}

#ds-title {
    margin-bottom: 10px;
}

#license-img {
    height: 25px;
}

.bottom-padding {
    padding-bottom: 15px;
}

.top-padding {
    padding-top: 15px;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.space-banner {
    height: 200px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.space-banner-logo {
    max-height: 100px;
    max-width: 200px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.dataset-preview {
    padding: 20px 0px;
}

.img_wrapper {
	position: relative;
	width: 128px;
	height: 128px;
	margin: 5px;
	display: inline-block;
}

.img_hover {
	position : absolute;
	width: 128px;
	height: 128px;
	background-color: #ffa500;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
	padding-top: 40%;
	text-align: center;
	text-color: #fff;
}

.img_wrapper:hover > .img_hover {
	opacity: 0.9;
}

.img_thumbnail {
	height: 128px;
	width: 128px;
	border:1px solid #d3d3d3; 
	padding:3px; 
	border-radius: 5px; 
}

#scrollTableGalleria{
	width: 100%;
}
#scrollTableGalleria thead,#scrollTableGalleria tbody,#scrollTableGalleria tr,#scrollTableGalleria td,#scrollTableGalleria th{
	display:block;
}
#scrollTableGalleria tr:after{
	content: ' ';
    display: block;
    visibility: hidden;
    clear: both;

}
#scrollTableGalleria tbody{
	overflow-y: auto;
}
#scrollTableGalleria tbody td, #scrollTableGalleria thead th{
            float: left;
}
#scrollTableGalleria .galleriaOrder{
	width: 5%;
}
#scrollTableGalleria .galleriaTheThumbnail{
	width: 35%;
}
#scrollTableGalleria .galleriaInfo{
	width: 35%;
}
#scrollTableGalleria .galleriaFindSimilar{
	width: 25%;
}
#scrollTableGalleria thead{
	width:98%;
}

/* any custom CSS will override the Galleria theme. Here we enlarge the thumbnails: */
.galleria-thumbnails .galleria-image{width:90px;height:60px;}
.galleria-thumbnails-list{height:60px;}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right{height:55px;}
.galleria-info,
.galleria-counter{bottom:80px;}
.galleria-thumbnails-container { height: 62px;}

.galleriaHelp{margin-bottom: 1%;}

.galleria-fscr{
    position:absolute;
    bottom:2%;
    right:2%;
    z-index:4;
    cursor: pointer;
    font-size: 25px;
    color: #bbb;
}
.galleria-fscr:before{
	font-family:"Glyphicons Halflings";
	content:"\e140";
	line-height:1;
  	margin:5px;
}
.galleria-fscr:hover{
    color: #fff;
}
.galleria-fscr:active{
    color: #fff;
}

.space-pills {
    display: inline-block;
    border: none;
    padding: 1px 10px 1px 10px;
    margin: 5px;
    background: #eeeeee;
    border-radius: .25em;
}

.space-pills a {
    color: white;
}

.space-pills a:hover {
    color: white;
}

.inline {
    display: inline;
}

.edit-tab {
    padding-left: 2em;
}

.align-right {
    float:right;
}