@(files: List[models.File], comments: Map[UUID, Int], prev: Int, next: Int, limit: Int, mode: Option[String], dataset:Option[UUID])(implicit user: Option[models.User])

@import api.Permission
@import org.apache.commons.io._

@main("Files") {

    @util.masonry()
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/follow-button.js")" type="text/javascript"></script>
    <div class="row">
        <div class="col-md-12">
            <h1>Files</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <div class="btn-group btn-group-sm pull-right">
                <button type="button" class="btn btn-default active" href="#tile-view" id="tile-view-btn"><span class="glyphicon glyphicon-th-large"></span></button>
                <button type="button" class="btn btn-default" href="#list-view" id="list-view-btn"><span class="glyphicon glyphicon-th-list"></span></button>
            </div>
            <script type="text/javascript" language="javascript">
	        var viewMode = '@mode.getOrElse("tile")';
	        $.cookie.raw = true;
	        $.cookie.json = true;
            $(function() {
                $('#tile-view-btn').click(function() {
                  $('#tile-view').removeClass('hidden');
                  $('#list-view').addClass('hidden');
                  $('#tile-view-btn').addClass('active');
                  $('#list-view-btn').removeClass('active');
                  viewMode = "tile";
                  updatePage();
                  $.cookie('view-mode', 'tile', { path: '/' });
                  console.log("setting tile " + $.cookie('view-mode'));
                  $('#masonry').masonry().masonry({
                      itemSelector: '.post-box',
                      columnWidth: '.post-box',
                      transitionDuration: 4
                  });
                });
                $('#list-view-btn').click(function() {
                  $('#tile-view').addClass('hidden');
                  $('#list-view').removeClass('hidden');
                  $('#list-view-btn').addClass('active');
                  $('#tile-view-btn').removeClass('active');
                  viewMode = "list";
                  updatePage();
                  //Utilizing library from https://github.com/carhartl/jquery-cookie/tree/v1.4.1
                  $.cookie("view-mode", "list", { path: '/' });
                  console.log("setting list " + $.cookie('view-mode'));
                });
            });

            $(document).ready(function() {
            	console.log("on load, cookies are " + $.cookie('view-mode'));
                console.log("on load, viewMode is " + viewMode);
                //Set the cookie, for the case when it is passed in by the parameter
                $.cookie("view-mode", viewMode, { path: '/' });
                if (viewMode == "list") {
                    $('#tile-view').addClass('hidden');
                    $('#list-view').removeClass('hidden');
                    $('#list-view-btn').addClass('active');
                    $('#tile-view-btn').removeClass('active');
                }
                else {
                    $('#tile-view').removeClass('hidden');
                    $('#list-view').addClass('hidden');
                    $('#tile-view-btn').addClass('active');
                    $('#list-view-btn').removeClass('active');
                }
            	updatePage();
            });

            //Function to unify the changing of the href for the next/previous links. Called on button activation for
            //viewMode style, as well as on initial load of page.
	        function updatePage() {
	        if(@dataset.isDefined){
	        	$('#nextlink').attr('href', "@(routes.Files.listByDataset(dataset.getOrElse(UUID()),"a", next, limit, ""))");
	            $('#prevlink').attr('href', "@(routes.Files.listByDataset(dataset.getOrElse(UUID()),"b", prev, limit, ""))");
	             } else {
	            $('#nextlink').attr('href', "@(routes.Files.followingFiles("a", next, limit, ""))");
	            $('#prevlink').attr('href', "@(routes.Files.followingFiles("b", prev, limit, ""))");
	            }
	        }
        </script>
        </div>
    </div>

    <div class="row hidden" id="tile-view">
        <div class="col-md-12">
            <div id="masonry">
            @files.map { file =>
                <div class="post-box col-lg-3 col-md-3 col-sm-3">
                    <div class="panel panel-default">
                        <div class="pull-right">
                            <a href="#" title="Bookmark" class="pull-right bookmark-link"><span class="glyphicon glyphicon-bookmark bookmark"></span></a>
                        </div>
                        <div class="panel-body">
                            @if(!file.thumbnail_id.isEmpty){
                                <a href="@(routes.Files.file(file.id))">
                                    <img class="img-responsive" src="@(routes.Files.thumbnail(UUID(file.thumbnail_id.toString().substring(5,file.thumbnail_id.toString().length-1))))" alt="Thumbnail of @(file.filename)">
                                </a>
                            }
                        <div class="caption break-word">
                            <h4><a href="@(routes.Files.file(file.id))">@file.filename</a></h4>
                            <ul class="list-unstyled">
                                <li>Author: <strong>@file.author.fullName</strong></li>
                                <li>Uploaded: <strong>@file.uploadDate.format("dd MMM, yyyy")</strong></li>
                                <li>Size: <strong>@FileUtils.byteCountToDisplaySize(file.length)</strong></li>
                            </ul>
                        </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon glyphicon-tags" title="@file.tags.size tags"></span> @file.tags.size
                                <span class="glyphicon glyphicon glyphicon-list" title="@(file.metadataCount) metadata fields"></span> @(file.metadataCount)
                                <span class="glyphicon glyphicon glyphicon-comment" title="@(comments.get(file.id)) comments"></span> @(comments.get(file.id))
                                @if(user.isDefined) {
                                        <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->
                                    @if(user.get.identityId.userId.equals(file.author.identityId.userId)){
                                        <button onclick="removeFileAndRedirect('@(file.id)','@(routes.Application.index())')" class="btn btn-link" style="text-align:right" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span></button>
                                    } else {
                                        <button disabled onclick="removeFileAndRedirect('@(file.id)','@(routes.Application.index())')" class="btn btn-link" style="text-align:right" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span></button>
                                    }
                                }
                            </li>
                        </ul>
                        <ul class="list-group center-margin">
                        @user match {
                            case Some(viewer) => {

                                    <a
                                    id="followButton"
                                    type="button"
                                    class="btn-link"
                                    data-toggle="button"
                                    aria-pressed="
                                        @if(viewer.followedEntities.filter(x => (x.id == file.id)).nonEmpty) {
                                            true
                                        }else {
                                            false
                                        }
                                    "
                                    autocomplete="off"
                                    objectType="file"
                                    objectId="@file.id.stringify"
                                    >
                                    @if(viewer.followedEntities.filter(x => (x.id == file.id)).nonEmpty) {
                                        <span class='glyphicon glyphicon-star-empty'></span>Unfollow
                                    } else {
                                        <span class='glyphicon glyphicon-star'></span>Follow
                                    }
                                    </a>
                            }
                        }
                        </ul>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    <div class="row hidden" id="list-view">
        <div class="col-md-12">

                @files.map { file =>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-2 col-sm-2 col-lg-2">
                                 @if(!file.thumbnail_id.isEmpty){<img src="@(routes.Files.thumbnail(UUID(file.thumbnail_id.toString().substring(5,file.thumbnail_id.toString().length-1))))" alt="Thumbnail of @(file.filename)" width="120">}
                              </div>
                              <div class="col-md-10 col-sm-10 col-lg-10">
                                  <h2><a href="@(routes.Files.file(file.id))">@file.filename</a></h2>
                                  <div class="row">
                                      <div class="col-md-6 col-lg-6 col-sm-6">
                                          <ul class="list-unstyled">
                                              <li>@(if(file.contentType != null) file.contentType else "N/A")</li>
                                              <li>@file.uploadDate</li>
                                              <li>
                                                  <span class="glyphicon glyphicon glyphicon-tags" title="@file.tags.size tags"></span> @file.tags.size
                                                  <span class="glyphicon glyphicon glyphicon-list" title="@(file.metadataCount) metadata fields"></span> @(file.metadataCount)
                                                  <span class="glyphicon glyphicon glyphicon-comment" title="@(comments.get(file.id)) comments"></span> @(comments.get(file.id))
                                                  @if(user.isDefined) {
                                                          <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->
                                                      @if(user.get.identityId.userId.equals(file.author.identityId.userId)){
                                                          <button onclick="removeFileAndRedirect('@(file.id)','@(routes.Application.index())')" class="btn btn-link" style="text-align:right" title="Delete">
                                                              <span class="glyphicon glyphicon-trash"></span></button>
                                                      } else {
                                                          <button disabled onclick="removeFileAndRedirect('@(file.id)','@(routes.Application.index())')" class="btn btn-link" style="text-align:right" title="Delete">
                                                              <span class="glyphicon glyphicon-trash"></span></button>
                                                      }
                                                  }
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="col-md-6 col-lg-6 col-sm-6">
                                        <ul class="list-unstyled">
                                            @if( Permission.checkPermission(Permission.DownloadFiles, ResourceRef(ResourceRef.file, file.id))) {
                                                <li><a id="downloadButton" class="btn btn-link" type="button" onclick="window.open(jsRoutes.api.Files.download('@file.id').url, '_blank');" class="btn btn-primary" title="You don't have permission to download this file" > <span class="glyphicon glyphicon-save"></span>
                                                    Download </a></li>
                                            }
                                                <li> @user match {
                                                case Some(viewer) => {
                                                        <a
                                                        id="followButton"
                                                        type="button"
                                                        class="btn btn-link"
                                                        data-toggle="button"
                                                        aria-pressed="
                                                            @if(viewer.followedEntities.filter(x => (x.id == file.id)).nonEmpty) {
                                                                true
                                                            }else {
                                                                false
                                                            }
                                                        "
                                                        autocomplete="off"
                                                        objectType="file"
                                                        objectId="@file.id.stringify"
                                                        >
                                                        @if(viewer.followedEntities.filter(x => (x.id == file.id)).nonEmpty) {
                                                            <span class='glyphicon glyphicon-star-empty'></span>Unfollow
                                                        } else {
                                                            <span class='glyphicon glyphicon-star'></span>Follow
                                                        }
                                                        </a>
                                                }
                                            }
                                            </li>
                                        </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                    <!-- The following items have to be links due to the way the list items render them. Ideally, they should be buttons. -->
                @if(prev >= 0) {
                    <li class="previous"><a id="prevlink" title="Page backwards" href="#">Previous</a></li>
                }
                @if(next >=0) {
                    <li class ="next"><a id="nextlink" title="Page forwards" href="#">Next</a></li>
                }
            </ul>
        </div>
    </div>

    @if(!user.isDefined) {
        <script type="text/javascript">
			$(".requiresLogin").css("display","none");
		</script>
    }

}
