@(filesList: List[models.File], comments: Map[UUID, Int], prev: Int, next: Int, limit: Int, mode: Option[String])(implicit user: Option[models.User])

@import api.Permission
@import org.apache.commons.io._

@main("Following Files") {

    @util.masonry()
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/follow-button.js")" type="text/javascript"></script>
    <div class="row">
        <div class="col-md-12">
            <h1>Files</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <div class="btn-group btn-group-sm pull-right">
                <button type="button" class="btn btn-default active" href="#tile-view" id="tile-view-btn"><span class="glyphicon glyphicon-th-large"></span></button>
                <button type="button" class="btn btn-default" href="#list-view" id="list-view-btn"><span class="glyphicon glyphicon-th-list"></span></button>
            </div>
            <script type="text/javascript" language="javascript">
            var removeIndicator = true;
	        var viewMode = '@mode.getOrElse("tile")';
	        $.cookie.raw = true;
	        $.cookie.json = true;
            $(function() {
                $('#tile-view-btn').click(function() {
                  $('#tile-view').removeClass('hidden');
                  $('#list-view').addClass('hidden');
                  $('#tile-view-btn').addClass('active');
                  $('#list-view-btn').removeClass('active');
                  viewMode = "tile";
                  updatePage();
                  $.cookie('view-mode', 'tile', { path: '/' });
                  console.log("setting tile " + $.cookie('view-mode'));
                  $('#masonry').masonry().masonry({
                      itemSelector: '.post-box',
                      columnWidth: '.post-box',
                      transitionDuration: 4
                  });
                });
                $('#list-view-btn').click(function() {
                  $('#tile-view').addClass('hidden');
                  $('#list-view').removeClass('hidden');
                  $('#list-view-btn').addClass('active');
                  $('#tile-view-btn').removeClass('active');
                  viewMode = "list";
                  updatePage();
                  //Utilizing library from https://github.com/carhartl/jquery-cookie/tree/v1.4.1
                  $.cookie("view-mode", "list", { path: '/' });
                  console.log("setting list " + $.cookie('view-mode'));
                });
            });

            $(document).ready(function() {
            	console.log("on load, cookies are " + $.cookie('view-mode'));
                console.log("on load, viewMode is " + viewMode);
                //Set the cookie, for the case when it is passed in by the parameter
                $.cookie("view-mode", viewMode, { path: '/' });
                if (viewMode == "list") {
                    $('#tile-view').addClass('hidden');
                    $('#list-view').removeClass('hidden');
                    $('#list-view-btn').addClass('active');
                    $('#tile-view-btn').removeClass('active');
                }
                else {
                    $('#tile-view').removeClass('hidden');
                    $('#list-view').addClass('hidden');
                    $('#tile-view-btn').addClass('active');
                    $('#list-view-btn').removeClass('active');
                }
            	updatePage();
            });

            //Function to unify the changing of the href for the next/previous links. Called on button activation for
            //viewMode style, as well as on initial load of page.
	        function updatePage() {
	            $('#nextlink').attr('href', "@(routes.Files.followingFiles(next, limit, ""))");
	            $('#prevlink').attr('href', "@(routes.Files.followingFiles(prev, limit, ""))");
	        }
        </script>
        </div>
    </div>

    <div class="row hidden" id="tile-view">
        <div class="col-md-12">
            <div id="masonry">
            @filesList.map { file =>
                @files.tile(file, "col-lg-3 col-md-3 col-sm-3", routes.Files.followingFiles(prev+1, limit,""), true)
            }
            </div>
        </div>
    </div>

    <div class="row hidden" id="list-view">
        <div class="col-md-12">
            @filesList.map { file =>
                @files.listitem(file, comments, routes.Files.followingFiles(prev+1, limit, ""))
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                    <!-- The following items have to be links due to the way the list items render them. Ideally, they should be buttons. -->
                @if(prev >= 0) {
                    <li class="previous"><a id="prevlink" title="Page backwards" href="#"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a></li>
                }
                @if(next >=0) {
                    <li class ="next"><a id="nextlink" title="Page forwards" href="#">Next<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                }
            </ul>
        </div>
    </div>

    @if(!user.isDefined) {
        <script type="text/javascript">
			$(".requiresLogin").css("display","none");
		</script>
    }

}
