@(user: securesocial.core.Identity, token: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
<body>
<p>Hello @user.firstName,</p>

<p>Please follow this
    <a href="@controllers.Utils.baseUrl(request)@securesocial.core.providers.utils.RoutesHelper.resetPassword(token)">
    link</a> to reset your password on <a href="@controllers.Utils.baseUrl(request)@routes.Application.index()">@services.AppConfiguration.getDisplayName</a>.
</p>
@emails.footer()
</body>
</html>