@(user: securesocial.core.Identity, token: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
<body>
<p>Hello @user.firstName,</p>

<p>Please follow this
    <a href="@securesocial.core.providers.utils.RoutesHelper.resetPassword(token).absoluteURL(IdentityProvider.sslEnabled)">
    link</a> to reset your password on <a href="@routes.Application.index().absoluteURL(IdentityProvider.sslEnabled)">@services.AppConfiguration.getDisplayName</a>.
</p>
@emails.footer()
</body>
</html>