@(user: securesocial.core.Identity)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider

<html>
<body>
<p>Hello @user.firstName,</p>

<p>Your password was updated at <a href="@controllers.Utils.baseUrl(request)@routes.Application.index()">@services.AppConfiguration.getDisplayName</a>.
    Please log in using your new password by clicking <a href="@controllers.Utils.baseUrl(request)@securesocial.core.providers.utils.RoutesHelper.login">here</a></p>
@emails.footer()
</body>
</html>