@(user: securesocial.core.Identity)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider

<html>
    <body>

        <p>Welcome @user.firstName,</p>

        <p>
            Your new account is ready at
            <a href="@controllers.Utils.baseUrl(request)@routes.Application.index()"> @services.AppConfiguration.getDisplayName</a>.
            Click <a href="@controllers.Utils.baseUrl(request)@securesocial.core.providers.utils.RoutesHelper.login">here</a>
            to log in
        </p>

        @emails.footer()

    </body>
</html>
