@(filesList: List[File], fileComments: Map[UUID, Int], dsId: UUID, space: Option[String], parent: ResourceRef, showMove: Boolean)(implicit user: Option[models.User])

@util.masonry()

<div class="row" id="tile-view">
    <div class="col-md-12">
        @filesList.map { file =>
            @if(parent.resourceType == ResourceRef.folder) {
                @files.tile(file, "col-lg-4 col-md-4 col-sm-4", (routes.Datasets.dataset(dsId)), false)
                <!-- @files.listitem(file, (routes.Datasets.dataset(dsId)), Some(dsId.stringify), space, Some(parent.id.stringify), showMove) -->
            } else {
                @files.tile(file, "col-lg-4 col-md-4 col-sm-4", (routes.Datasets.dataset(dsId)), false)
                <!-- @files.listitem(file, (routes.Datasets.dataset(dsId)), Some(dsId.stringify), space, None,showMove) -->
            }
        }
    </div>
</div>
