@(filesList: List[File], fileComments: Map[UUID, Int], dsId: UUID, parent: ResourceRef)(implicit user: Option[models.User])

@util.masonry()

<div class="row" id="tile-view">
    <div class="col-md-12">

        @filesList.map { file =>
            @if(parent.resourceType == ResourceRef.folder) {
                @files.listitem(file, fileComments, (routes.Datasets.dataset(dsId)), Some(parent.id.stringify))
            } else {
                @files.listitem(file, fileComments, (routes.Datasets.dataset(dsId)), None)
            }

        }

    </div>
</div>
