<div class="modal fade ontop" id="sensors-assign">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Assign {{resource_type}} to sensor</h4>
            </div>
            <div class="modal-body">
                <div class="row dts-top-buffer">
                    <div class="col-md-12 popup-content">
                        <ul class="list-group">
                            {{#sensors}}
                                <li class="list-group-item" data-sensor-id="{{id}}" data-sensor-name="{{name}}">
                                    {{name}}
                                </li>
                            {{/sensors}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" id="sensors_add">Assign</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->