@(sensors: String, sensor: String, parameters: String, parameter: String)(implicit user: Option[models.User])

@import services.AppConfiguration
@title = @{
    AppConfiguration.getSensorsTitle + " Administration"
}

@main(title) {
    <div class="page-header">
        <h1>@(AppConfiguration.getSensorsTitle) Administration</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal" role="form" id="sensors-admin">
                <div class="form-group">
                    @play.api.Play.current.plugin[services.PostgresPlugin] match {
                        case Some(db) => {
                            <label for="sensorsTitle">Sensors title (plural form)</label>
                            <input class="form-control" id="sensorsTitle" name="sensorsTitle" type="text" value="@(sensors)" required />
                            <span id="sensorsTitle_error" style="display:none;">Sensors must have a value.</span>
                            <br />

                            <label for="sensorTitle">Sensor title (singular form)</label>
                            <input class="form-control" id="sensorTitle" name="sensorTitle" type="text" value="@(sensor)" required />
                            <span id="sensorTitle_error" style="display:none;">Sensor must have a value.</span>

                            <br /><br />

                            <label for="parametersTitle">Parameters title (plural form)</label>
                            <input id="parametersTitle" name="parametersTitle" type="text" class="form-control" value="@(parameters)" required />
                            <span id="parametersTitle_error" style="display:none;">Parameters must have a title.</span>
                            <br />

                            <label for="parameterTitle">Parameter title (singular form)</label>
                            <input id="parameterTitle" name="parameterTitle" type="text" class="form-control" value="@(parameter)" required />
                            <span id="parameterTitle_error" style="display:none;">Parameter must have a title.</span>

                            <br /><br />
                        }
                        case None => {}
                    }

                    <button class="btn btn-primary" id="sensors-admin-submit"><span class="glyphicon glyphicon-saved"></span> Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/jquery.validate.js")"></script>

    <script language="javascript">
    $(document).ready(function() {

        $("#sensors-admin-submit").click(function(event) {
            event.preventDefault();

            var sensorsTitle = $("#sensorsTitle").val();
            var sensorTitle =  $("#sensorTitle").val();
            var parametersTitle = $("#parametersTitle").val();
            var parameterTitle = $("#parameterTitle").val();

            // setup form validation
            var sensorsForm = $('#sensors-admin');
            sensorsForm.validate({
                messages: {
                    sensorsTitle: "You must provide a title for Sensors",
                    sensorTitle: "You must provide a title for Sensor",
                    parametersTitle: "You must provide a title for Parameters",
                    parameterTitle: "You must provide a title for Parameter"
                }
            });

            if (!sensorsForm.valid()) {
                return false;
            } else {
                var request = $.ajax({
                    url:  "@api.routes.Admin.sensorsConfig",
                    data: JSON.stringify({ sensors: sensorsTitle, sensor: sensorTitle, parameters: parametersTitle, parameter: parameterTitle }),
                    type: "POST",
                    contentType: "application/json"
                });
                request.done(function (response, textStatus, jqXHR){
                    console.log("Response: " + response);
                    notify("Preferences successfully updated. Please refresh page.", "success", 5000);
                });
                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occurred: " + textStatus, errorThrown);
                    notify("The application preferences was not updated due to : " + errorThrown, "error");
                });
                return false;
            }
        });
    });
    </script>
}
