@(resType: String, id: String, contentDiv: String)(implicit user: Option[models.User])
@import api.Permission
@*The permission for curationObject and CurationFile is check outside this file*@
@if(resType == "dataset" && Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.dataset, UUID(id)))
        || resType == "file" && Permission.checkPermission(Permission.AddMetadata, ResourceRef(ResourceRef.file, UUID(id)))
        || resType.startsWith("curation")) {
    <div id="@id" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="pull-left">Add metadata</h5>
                    <div class="pull-right">
                        <div class="btn-group btn-group-xs" role="group" aria-label="metadataEntryMode">
                            <button id="basicRadioBtn" type="button" class="btn btn-primary">Basic</button>
                            <button id="advancedRadioBtn" type="button" class="btn btn-link">Advanced</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="addMetadataBasic">
                        <form id="basic-metadata-form" class="form-horizontal form-md">
                            <select id="add-metadata-select">
                                <option value=""></option>
                            </select>
                        </form>

                        <div id="selected_field" class="row"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="add-metadata-button" type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-saved"></span> Submit</button>
                            </div>
                        </div>
                    </div>
                    <div id="addMetadataAdvanced" hidden>

                        <div class="row">
                            <div class="col-sm-12">
                                <hr />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <form id="advanced-metadata-form" class="form-horizontal form-md">
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button id="add-bulk-metadata-button" type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-saved"></span> Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-timepicker-addon.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/terraformer/terraformer-1.0.5.min.js")"></script>
<script src="@routes.Assets.at("javascripts/terraformer/terraformer-wkt-parser-1.1.0.min.js")"></script>
<script src="@routes.Assets.at("javascripts/metadata/addMetadata.js")"></script>
<style>
.ui-autocomplete-category {
font-weight: bold;
padding: .2em .4em;
margin: .8em 0 .2em;
line-height: 1.5;
}
</style>

<script>
    // Assumption: the input list contains: <cat_short_name>;<cat_display_name> or <cat_short_name>:<var_name>, where <cat_display_name> contains no ":", and <var_name> contains no ";".
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function( ul, items ) {
            var that = this;
            var currentCategory = "";
            var category = "";
            var dispCatMap = new Map();
            $.each( items, function( index, item ) {
                //console.log("in renderMenu: item: ", item);
                var label = item.label;
                var char_index = label.indexOf(";");
                if (char_index > -1) {
                    var shortName = label.slice(0, char_index);
                    var displName = label.slice(char_index + 1);
                    //console.log("Setting category name '" + shortName + "' to '" + displName + "'");
                    dispCatMap.set(shortName, displName);
                }
            });
            $.each( items, function( index, item ) {
                var li;
                // Each item from an original array of strings was converted to an object { label: "val1", value: "val1" }.
                //console.log("item: ", item);
                var label = item.label;
                var char_index = label.indexOf(":");
                if (char_index > -1) {
                    category = label.slice(0, char_index);
                    item.label = label.slice(char_index + 1);
                }
                if ( category != currentCategory ) {
                    //console.log("category changed from " + currentCategory + " to: " + category);
                    var displayed_cat_name = category;
                    if (dispCatMap.has(category)) {
                        displayed_cat_name = dispCatMap.get(category);
                    }
                    ul.append( "<li class='ui-autocomplete-category'>" + displayed_cat_name + "</li>" );
                    currentCategory = category;
                }
                // Used to be: Display only the items containing ":".
                // Don't display the items containing ";".
                if (label.indexOf(";") <= 0) {
                    li = that._renderItemData( ul, item );
                }
            });
        }
    });
</script>

<script language="javascript">
    // submit metadata entry to server
    function submit_@id
    (event){
        event.preventDefault();
        var field_label = $("#@id #addMetadataBasic #field-value").data("label");
        var field_id = $("#@id #addMetadataBasic #field-value").data("id");
        var field_type = $("#@id #addMetadataBasic #add-metadata-select option:selected").data("type");
        var field_value = "";
        var field_types_with_simple_values = {"string": 1, "listjquery": 1, "listgeocode": 1, "scientific_variable": 1,
            "datetime": 1, "wkt": 1, "annotation": 1};
        if (field_type in field_types_with_simple_values) {
            field_value = $("#@id #addMetadataBasic #field-value").val();
        } else if (field_type === "list") {
            field_value = $("#@id #addMetadataBasic #field-value option:selected").val();
        }  else {
            console.log("Wrong field type: " + field_type);
        }

        var error = false;
        if (field_value != "") {
            // define contexts
            var contexts = [];
            contexts.push("https://clowderframework.org/contexts/metadata.jsonld");
            var context = {};
            context[field_label] = field_id;
            contexts.push(context);

            var content = {};
            if (field_type === "listgeocode") {
                // geocode example: "Champaign, IL, USA: 40.12, -88.24"
                var parts = field_value.split(":");
                content[field_label] = parts[0].trim();
                var lat_lng = parts[1].trim().split(",");
                content["Latitude"] = lat_lng[0].trim();
                content["Longitude"] = lat_lng[1].trim();
            } else if (field_type === "scientific_variable") {
                content[field_label] = field_value;
                var unit_val = $("#@id #unit-value").val();
                if (unit_val) {
                    content["Unit"] = unit_val;
                }
            } else if (field_type === "annotation") {
                content[field_label] = field_value;
                var standard_name = $("#@id #standard-name option:selected").val();
                if (standard_name) {
                    content["Standard Name"] = standard_name;
                }
            } else if (field_type === "wkt") {
                try {
                    var primitive = Terraformer.WKT.parse(field_value);
                    content["GeoJSON"] = primitive;
                } catch(err) {
                    notify("There is an error in your WKT. " + err, "error", false, 2000);
                    error = true;
                }
            } else {
                content[field_label] = field_value;
            }

            var body = {
                    "@@context": contexts,
                    "@(resType)_id": "@id",
                    "content": content
            };

            if (!error) {
                var request = jsRoutes.api.Metadata.addUserMetadata().ajax({
                    data: JSON.stringify(body),
                    type: 'POST',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                    // reset submission value
                    $("#@id #addMetadataBasic #selected_field").empty();
                    $("#@id #addMetadataBasic #add-metadata-select").val('').trigger("chosen:updated");
                    $('#no-metadata-label').empty();

                    // Pull both the new card and new table row from the response and render it in the DOM
                    $('#metadata-cards').prepend(response['cards']);
                    $('#metadata-table-body').prepend(response['table']);
                    notify("Metadata successfully added.", "success", false, 2000);
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not added due to : " + errorThrown, "error");
                    }
                });
            }

        }
    }

    // submit metadata entry to server
    function submit_bulk_@id
    (event) {
        event.preventDefault();
        console.log("Testing bulk metadata submission!");

        // TODO: Validation?

        // XXX: We cannot use #field-value as an id here, as datepicker will not work if ID is duplicated
        // See https://stackoverflow.com/questions/34542448/datepicker-cannot-set-property-currentday-of-undefined-when-multiple-array-i/34543906#34543906
        var formFields = $("#advanced-metadata-form .field-value");
        formFields.each(function() {
            var fieldContext = $(this);
            var field_label = fieldContext.data("label");
            var field_id = fieldContext.data("id");
            var field_type = fieldContext.data("type");
            console.log("Adding metadata field " + field_id + "...");
            var field_value = "";
            var field_types_with_simple_values = {"string": 1, "listjquery": 1, "listgeocode": 1, "scientific_variable": 1,
                "datetime": 1, "wkt": 1, "annotation": 1};
            if (field_type in field_types_with_simple_values) {
                field_value = fieldContext.val();
            } else if (field_type === "list") {
                field_value = fieldContext.find("option:selected").val();
            }  else {
                console.log("Wrong field type: " + field_type);
            }

            var error = false;
            if (field_value != "") {
                // define contexts
                var contexts = [];
                contexts.push("https://clowderframework.org/contexts/metadata.jsonld");
                var context = {};
                context[field_label] = field_id;
                contexts.push(context);

                var content = {};
                if (field_type === "listgeocode") {
                    // geocode example: "Champaign, IL, USA: 40.12, -88.24"
                    var parts = field_value.split(":");
                    content[field_label] = parts[0].trim();
                    var lat_lng = parts[1].trim().split(",");
                    content["Latitude"] = lat_lng[0].trim();
                    content["Longitude"] = lat_lng[1].trim();
                } else if (field_type === "scientific_variable") {
                    content[field_label] = field_value;
                    var values = fieldContext.parent().find("[data-id=\'" + field_id + "\']");
                    var unitValue = values[1];
                    var unit_val = unitValue.value;
                    if (unit_val) {
                        content["Unit"] = unit_val;
                    }
                } else if (field_type === "annotation") {
                    content[field_label] = field_value;
                    var values = fieldContext.parent().find("[data-id=\'" + field_id + "\']");
                    var standard_name = values[1];
                    // var unit_val = standard_name.value;
                    if (standard_name) {
                        content["Standard Name"] = standard_name;
                    }
                } else if (field_type === "wkt") {
                    try {
                        var primitive = Terraformer.WKT.parse(field_value);
                        content["GeoJSON"] = primitive;
                    } catch(err) {
                        notify("There is an error in your WKT. " + err, "error", false, 2000);
                        error = true;
                    }
                } else {
                    content[field_label] = field_value;
                }

                var body = {
                    "@@context": contexts,
                    "@(resType)_id": "@id",
                    "content": content
                };

                console.log("Sending request for field " + field_id + "...");
                var request = jsRoutes.api.Metadata.addUserMetadata().ajax({
                    data: JSON.stringify(body),
                    type: 'POST',
                    contentType: "application/json"
                });

                if (!error) {
                    request.done(function (response, textStatus, jqXHR) {
                        // Clear successful submissions to prevent duplicates
                        var selector = "[data-id=\'" + field_id + "\']";
                        if (field_type === 'list') {
                            $(selector).val('').trigger("chosen:updated");
                        } else if (field_type === "scientific_variable") {
                            var values = fieldContext.parent().find("[data-id=\'" + field_id + "\']");
                            values[0].value = '';
                            values[1].value = '';
                        } else if (field_type === "annotation") {
                            var values = fieldContext.parent().find("[data-id=\'" + field_id + "\']");
                            values[0].value = '';
                            $(selector).val('').trigger("chosen:updated");
                        } else {
                            $(selector).val('');
                        }
                        $("#@id #addMetadataBasic #add-metadata-select").val('').trigger("chosen:updated");
                        $('#no-metadata-label').empty();

                        // Pull both the new card and new table row from the response and render it in the DOM
                        $('#metadata-cards').prepend(response['cards']);
                        $('#metadata-table-body').prepend(response['table']);
                        notify("Metadata successfully added.", "success", false, 2000);
                    });

                    request.fail(function (jqXHR, textStatus, errorThrown){
                        console.error("The following error occurred: " + textStatus, errorThrown);
                        var errMsg = "You must be logged in to add metadata";
                        if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                            notify("Metadata was not added due to : " + errorThrown, "error");
                        }
                    });
                }
            } else {
                console.log("Skipping request for field " + field_id + "... field is empty");
            }
        });
    }
    var url = jsRoutes.api.Metadata.getDefinitions();
    var showSpaceInfo = false;
    if("@resType" == "dataset") {
        if(spaceId == "") {
            url = jsRoutes.api.Datasets.getMetadataDefinitions("@id");
            showSpaceInfo = true;
        } else {
            url = jsRoutes.api.Datasets.getMetadataDefinitions("@id", spaceId);
        }
    } else if ("@resType" == "file") {
        if(spaceId == "") {
            showSpaceInfo = true;
            url = jsRoutes.api.Files.getMetadataDefinitions("@id");
        } else {
            url = jsRoutes.api.Files.getMetadataDefinitions("@id", spaceId);
        }

    } else if ("@resType" == "curationObject") {
        url = jsRoutes.api.CurationObjects.getMetadataDefinitions("@id");
    } else if ("@resType" == "curationFile") {
        url = jsRoutes.api.CurationObjects.getMetadataDefinitionsByFile("@id");
    }
    // get metadata definitions
    var request = url.ajax({
        type: 'GET',
        contentType: "application/json"
    });

    request.done(function (response, textStatus, jqXHR) {
        var fields = response;
        for (var i = 0; i < fields.length; i++) {
            var elem = $("<option></option>");
            elem.attr("data-description", fields[i].json.description);
            elem.attr("data-type", fields[i].json.type);
            elem.attr("data-id", fields[i].id);
            elem.attr("value", fields[i].json.uri);
            elem.attr("space_id", fields[i].spaceId);
            elem.text(fields[i].json.label);
            $("#@id  #add-metadata-select").append(elem);
        }
        // chosen pulldown configuration
        $("#@id #addMetadataBasic #add-metadata-select").chosen({
            search_contains: true,
            width: "100%",
            placeholder_text_single: "Select field"});
        $(document).ready(function() {
            // Enable button group toggle functionality
            $('#basicRadioBtn').click(function () {
                // Hide "Advanced", show "Basic"
                $('#addMetadataAdvanced').hide();
                $('#addMetadataBasic').show();
                $('#selected_field').show();

                // Toggle 'Basic' to active, 'Advanced' to inactive
                $('#basicRadioBtn').addClass('btn-primary');
                $('#basicRadioBtn').removeClass('btn-link');
                $('#advancedRadioBtn').addClass('btn-link');
                $('#advancedRadioBtn').removeClass('btn-primary');
            });
            // Enable button group toggle functionality
            $('#advancedRadioBtn').click(function () {
                // Hide "Basic", show "Advanced"
                $('#addMetadataBasic').hide();
                $('#selected_field').hide();
                $('#addMetadataAdvanced').show();

                // Toggle 'Advanced' to active, 'Basic' to inactive
                $('#advancedRadioBtn').addClass('btn-primary');
                $('#advancedRadioBtn').removeClass('btn-link');
                $('#basicRadioBtn').addClass('btn-link');
                $('#basicRadioBtn').removeClass('btn-primary');
            });

            // render advanced metadata form inputs
            $("#@id #addMetadataBasic #add-metadata-select option").each(function() {
                // create html form
                var context = $(this);
                var field_label = context.text();
                var field_description = context.data("description");
                var field_id = context.val();
                var field_type = context.data("type");
                var space_id = context.attr("space_id");
                console.log('Metadata field (' + field_label + '):', {
                    'Context': context,
                    'Label: ': field_label,
                    'Field Description: ': field_description,
                    'Field ID: ': field_id,
                    'Field Type: ': field_type,
                    'Space ID: ': space_id
                });
                // Create the template and HTML content.
                var template_map =
                        {"string": "add_metadata_string",
                            "list": "add_metadata_list",
                            "listjquery": "add_metadata_listjquery",
                            "listgeocode": "add_metadata_string",
                            "scientific_variable": "add_metadata_scientific_variable",
                            "annotation" : "add_metadata_annotation",
                            "datetime": "add_metadata_datetime",
                            "wkt": "add_metadata_wktlocation"
                        };
                if (field_type === null || typeof(field_type) === "undefined") {
                    console.log("Unsupported field_type encountered: ", field_type)
                    // Return true here is equivalent to "continue"
                    return true;
                } else if (field_id.indexOf("https") !== -1) {
                    console.log("Unsupported field_id encountered: ", field_id)
                    // Return true here is equivalent to "continue"
                    return true;
                }
                var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/")" + template_map[field_type]);
                var footerTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/footer")");
                loadExternalResource(field_label, field_description, field_id, field_type, fields, space_id,
                        modalTemplate, footerTemplate, "@id",
                        "#advanced-metadata-form" );
                });
        });

        // register basic submit listener
        $("#@id #addMetadataBasic #add-metadata-button").click(submit_@id);
        // register advanced/bulk submit listener
        $("#@id #addMetadataAdvanced #add-bulk-metadata-button").click(submit_bulk_@id);

        // register basic selection listener
        $("#@id #addMetadataBasic #add-metadata-button").hide();
        $("#@id #add-metadata-select").change(function () {
            $("#@id #addMetadataBasic #add-metadata-button").hide();
            $("#@id #add-metadata-select option:selected").each(function() {
                $("#@id #addMetadataBasic #add-metadata-button").show();
                // create html form
                var field_label = $(this).text();
                var field_description = $(this).data("description");
                var field_id = $(this).val();
                var field_type = $(this).data("type");
                var space_id = $(this).attr("space_id");
                // Create the template and HTML content.
                var template_map =
                    {"string": "add_metadata_string",
                     "list": "add_metadata_list",
                     "listjquery": "add_metadata_listjquery",
                     "listgeocode": "add_metadata_string",
                     "scientific_variable": "add_metadata_scientific_variable",
                     "annotation": "add_metadata_annotation",
                     "datetime": "add_metadata_datetime",
                     "wkt": "add_metadata_wktlocation"
                    };
                var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/")" + template_map[field_type]);
                var footerTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/footer")");
                loadExternalResource(field_label, field_description, field_id, field_type, fields, space_id, modalTemplate,
                        footerTemplate, "@id", "#addMetadataBasic")

            });
        });

        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            var errMsg = "You must be logged in to retrieve metadata definitions";
            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
              notify("Metadata was not added due to : " + errorThrown, "error");
            }
        });
    });
</script>
}
