@(resType: String, id: String)
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Add metadata</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal form-md">
                    <select id="add-metadata-select">
                        <option value=""></option>
                    </select>
                </form>
            </div>
        </div>
        <div id="selected_field" class="row"></div>
    </div>
</div>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
<script language="javascript">
    // submit metadata value to server
    function submit(event){
        event.preventDefault();
        var field_label = $("#field-value").data("label");
        var field_id = $("#field-value").data("id");
        var field_type = $("#add-metadata-select option:selected").data("type");
        var field_value = "";
        if (field_type == "string") {
            field_value = $("#field-value").val();
        } else if (field_type == "list") {
            field_value = $("#field-value option:selected").val();
        }  else {
            console.log("Wrong field type: " + field_type);
        }
        if (field_value != "") {
            var context = {};
            context[field_label] = field_id;
            var content = {};
            content[field_label] = field_value;
            var body = {
                    "@@context": context,
                    "@(resType)_id": "@id",
                    "content": content
                };

            var request = jsRoutes.api.Metadata.addUserMetadata().ajax({
                data: JSON.stringify(body),
                type: 'POST',
                contentType: "application/json"
            });

            request.done(function (response, textStatus, jqXHR) {
                // TODO update gui without reloading page
                location.reload();
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to add metadata";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                  notify("Metadata was not added due to : " + errorThrown, "error");
                }
            });
        }
    }

    // get metadata definitions
    var request = jsRoutes.api.Metadata.getVocabularies().ajax({
        type: 'GET',
        contentType: "application/json"
    });

    request.done(function (response, textStatus, jqXHR) {
        var fields = response;
        for (var i = 0; i < fields.length; i++) {

           var elem = $("<option></option>");
                elem.attr("data-type", fields[i].json.type);
                elem.attr("data-id", fields[i].id);
                elem.attr("value", fields[i].json.uri);
                elem.text(fields[i].json.label);
            $("#add-metadata-select").append(elem);
        }
        // chosen pulldown configuration
        $("#add-metadata-select").chosen({
            no_results_text: "Not found. Press enter to add ",
            search_contains: true,
            width: "100%",
            placeholder_text_single: "Select field"});
        // register selection listener
        $("#add-metadata-select").change(function () {
            $("#add-metadata-select option:selected").each(function() {
                // create html form
                var field_label = $(this).text();
                var field_id = $(this).val();
                var field_type = $(this).data("type");
                if (field_type == "string") {
                    var modalTemplate = Handlebars.getTemplate('/assets/templates/metadata/add_metadata');
                    var html = modalTemplate({'field_label': field_label, 'field_id': field_id, 'field_type': field_type});
                    $('#selected_field').html(html);
                    // register submit listener
                    $("#add-metadata-button").click(submit);
                } else if (field_type == "list") {
                    // find field with the specific uri
                    var field = $.grep(fields, function(e){ return e.json.uri == field_id; });

                    // make call to external service
                    var request = jsRoutes.api.Metadata.getVocabulary(field[0].id).ajax({
                        type: 'GET',
                        contentType: "application/json"
                    });

                    request.done(function (response, textStatus, jqXHR) {
                        var vocabulary = JSON.parse(response);
                        var modalTemplate = Handlebars.getTemplate('/assets/templates/metadata/add_metadata_list');
                        var html = modalTemplate({'field_label': field_label, 'field_id': field_id, 'field_type': field_type,
                            'options': vocabulary});
                        $('#selected_field').html(html);
                        // chosen pulldown configuration
                        $("#field-value").chosen({
                            no_results_text: "Not found. Press enter to add ",
                            search_contains: true,
                            width: "100%",
                            placeholder_text_single: "Select field"});
                        // register submit listener
                        $("#add-metadata-button").click(submit);
                      });

                    request.fail(function (jqXHR, textStatus, errorThrown){
                        console.error("The following error occured: " + textStatus, errorThrown);
                        notify("Could not retrieve external vocabulary: " + errorThrown, "error");
                    });
                }
            });
        });

        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            var errMsg = "You must be logged in to retrieve metadata definitions";
            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
              notify("Metadata was not added due to : " + errorThrown, "error");
            }
        });
    });
</script>
