@(item: AnyRef)

@import api.Permission
@import _root_.util.Formatters.ellipsize
@item match {
    case dataset: models.Dataset => {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2">
                    @if(!dataset.thumbnail_id.isEmpty){
                        <a href="@(routes.Datasets.dataset(dataset.id))">
                            <img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(dataset.thumbnail_id.toString().substring(5,dataset.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(dataset.name)">
                        </a>
                    }
                    </div>
                    <div class="col-md-10 col-sm-10 col-lg-10">
                        <h3><a href="@(routes.Datasets.dataset(dataset.id))">@Html(dataset.name)</a></h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="list-unstyled">
                                    <li>@Html(dataset.description)</li>
                                    <li>@dataset.author.fullName</li>
                                    <li>@dataset.created.format("MMM dd, yyyy")</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    case file: models.File => {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2">
                    @if(!file.thumbnail_id.isEmpty){
                        <a href="@(routes.Files.file(file.id))">
                            <img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(file.thumbnail_id.toString().substring(5,file.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(file.filename)">
                        </a>
                    }
                    </div>
                    <div class="col-md-10 col-sm-10 col-lg-10">
                        <h3><a href="@(routes.Files.file(file.id))">@Html(file.filename)</a></h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="list-unstyled">
                                    <li>@Html(file.description)</li>
                                    <li>@file.author.fullName</li>
                                    <li>@file.uploadDate.format("MMM dd, yyyy")</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}