@(spaces: List[ProjectSpace], selectedSpace: Option[ProjectSpace] = None)(implicit user: Option[models.User])

@import play.api.Play.current

@main("Metadata Search") {
    @selectedSpace match {
        case None => {
            <h1>Metadata Search</h1>
        }
        case Some(space) => {
            <h1>Search Metadata within Space: "@space.name"</h1>
        }
    }
    <p>Search for datasets and files based on metadata fields.</p>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form top-padding" id="metadata-search">
                    <div id="basic-search-container">
                        <div class="row">
                            <!-- ANY/ALL DROPDOWN -->
                            <div class='form-group col-lg-4 col-md-4'>
                                <select id='add-metadata-grouping'>
                                    <option value='AND'>Match ALL of the selected terms (AND)</option>
                                    <option value='OR'>Match ANY of the selected terms (OR)</option>
                                </select>
                            </div>

                            <!-- ADD TERM BTN -->
                            @selectedSpace match {
                                case None => {
                                    <div class="form-group col-lg-2 col-md-2">
                                }
                                case Some(space) => {
                                    <div class="form-group col-lg-8 col-md-8">
                                }
                            }
                                <a class='btn btn-default' id='add-clause' onclick='getBasicDefinitions(2)'>
                                    <span class='glyphicon glyphicon-plus'></span> Add term</a>
                            </div>

                            <!-- SPACEID SELECTOR (OPTIONAL) -->
                            <!-- Hide space selector if a space is already provided -->
                            @selectedSpace match {
                                case None => {
                                    <div class="form-group col-lg-6 col-md-6">
                                        <select id="spaceid-filter-select" class="form-control">
                                                <!-- Default text shown if no space is selected -->
                                            <option value="">Show Results from All Spaces</option>

                                            @for(space <- spaces) {
                                                <option value="@space.id">@space.name</option>
                                            }
                                        </select>
                                    </div>
                                }
                                case Some(_) => {
                                    <!-- Empty matcher is required here to route correctly
                                    with a spaceid query string parameter specified. -->
                                }
                            }
                        </div>

                        <!-- SET OF TERM ROWS (populated in script below) -->
                        <div id="metadata-search-rows"></div>
                    </div>

                    <!-- SUBMIT BTN -->
                    <div class="form-group col-lg-12 col-md-12">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
                        <span id="mt-search-feedback"></span>
                        <button id="resetBtn" type="reset" class="btn btn-default pull-right"><span class="glyphicon glyphicon-cancel"></span> Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row top-padding">
        <div class="col-lg-12 col-md-12">
            <div id="resultstitle"><h3>Results</h3></div>
            <div id="resultslist"></div>
            <div id="resultsfooter" style="text-align:center"></div>
        </div>
    </div>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
    <script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
    <script>
        $("#spaceid-filter-select").select2({
            theme: "bootstrap",
            allowClear: false
        });

        var row_list = [];
        $("#add-metadata-grouping").select2({
            theme: "bootstrap",
            allowClear: false,
            width: "100%"
        });

        // Edge case: properly handle back button between mutliple searches
        window.onpopstate = function(event) {
            var qsParams = new URLSearchParams(document.location.search.slice(1));
            var grouping = qsParams.get('grouping');
            var searchQuery = qsParams.get('query');
            if (searchQuery || grouping) {
                // Set grouping based on query string param
                $("#add-metadata-grouping").val(grouping).trigger('change');

                // Parse the JSON search query into form fields
                var terms = JSON.parse(searchQuery);
                if (terms && terms.length) {
                    parseSearchTerms(terms);
                    performSearchAjax(searchQuery, grouping);
                    return;
                }
            }
        };

        var metadata_definitions = [];

        // count_stepsize is the batch size to get results; e.g. 60 would be 1-60, 61-120, 121-180, etc.
        var count_stepsize = @{play.api.Play.configuration.getInt("elasticsearchSettings.maxResults").getOrElse(240)};
        var count = 0;
        var skipped_count = 0;
        // Whether all results for current search have been exhausted & displayed yet
        var found_all = false;
        // This is set to true when waiting for an auto-scroll result to avoid duplicating request if user scrolls again
        var searching = false;

        $(document).ready(function() {
            $(window).scroll(infiniteScroll);

            // Fetch and cache metadata definitions
            var request = jsRoutes.api.Metadata.getDefinitionsDistinctName().ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function (response, textStatus, jqXHR) {
                metadata_definitions = response;

                // Load and execute searchQuery from query-string parameter, if present
                var qsParams = new URLSearchParams(window.location.search.slice(1));
                var grouping = qsParams.get('grouping');
                var searchQuery = qsParams.get('query');
                if (searchQuery || grouping) {
                    // Set grouping based on query string param
                    $("#add-metadata-grouping").val(grouping).trigger('change');

                    // Parse the JSON search query into form fields
                    var terms = JSON.parse(searchQuery);
                    if (terms && terms.length) {
                        parseSearchTerms(terms);
                        performSearchAjax(searchQuery, grouping);
                        return;
                    }
                }

                // Fall-back to simply adding a placeholder row
                getBasicDefinitions(1);
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to retrieve metadata definitions";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Unable to fetch Metadata definitions : " + errorThrown, "error");
                }
                reject(errMsg);
            });
        });

        // Automatically fetch new search results
        function infiniteScroll() {
            // Attempt to load more results below the current ones automatically
            if (!found_all && !searching) {
                var scrollTop = $(document).scrollTop();
                var windowHeight = $(window).height();
                var height = $(document).height() - windowHeight;
                var scrollPercentage = (scrollTop / height);

                var lastResult = $("#resultsfooter").position().top + $("#resultsfooter").height();

                // If scrolling to bottom or results are shorter than display (i.e. small pages), load more content.
                if (scrollPercentage > 0.98 || lastResult < windowHeight)
                    search(count)
            }
        }

        // Add a new row to the set of criteria
        function getBasicDefinitions(rowId) {
            var rowStr = String(rowId);

            // Basic row definition
            $("#metadata-search-rows").append(
                $("<p><div class='row' id='metadata-clause-"+rowStr+"'>" +
                    <!-- FIELD SELECTOR DROPDOWN -->
                    "<div class='form-group col-lg-4 col-md-4'>" +
                        "<select id='add-metadata-select-"+rowStr+"'><option value=''></option></select></div>" +
                    <!-- OPERATOR DROPDOWN -->
                    "<div class='form-group col-lg-2 col-md-2'> <select id='add-metadata-operator-"+rowStr+"'>" +
                        "<option value='=='>equals</option>" +
                        "<option value='!='>does not equal</option>" +
                        "<option value=':'>contains</option>" +
                        "<option value='>'>greater than</option>" +
                        "<option value='<'>less than</option>" +
                        "<option value='>='>greater or equal to</option>" +
                        "<option value='<='>less or equal to</option>" +
                    "</select></div>" +
                    <!-- VALUE FIELD -->
                    "<div class='form-group col-lg-4 col-md-4'>" +
                        "<input type='text' class='form-control' id='v-"+rowStr+"' placeholder='Type value here'>" +
                    "</div>" +
                    <!-- REMOVE ROW BUTTON -->
                    "<div class='form-group col-lg-2 col-md-2'>" +
                    "<button class='btn' id='remove-"+rowStr+"' onclick='removeRow("+rowStr+")'>" +
                    "<span class='glyphicon glyphicon-minus'></span></button></div>" +
                "</div>"
                )
            );
            document.getElementById("add-clause").onclick = function () { getBasicDefinitions(rowId+1); };
            document.getElementById("v-"+rowStr).onkeydown = function(evt) {
                // Allow Enter key to perform search on any value box
                if (evt.keyCode == 13) {
                    count = 0;
                    skipped_count = 0;
                    found_all = false;
                    search();
                    return false
                } else return true
            };
            row_list.push(rowStr);

            // Add theme to operator/grouping dropdowns
            $("#add-metadata-operator-"+rowStr).select2({
                theme: "bootstrap",
                allowClear: false,
                width: "100%"
            });

            var selector = "#add-metadata-select-" + rowStr;
            $(selector).select2({
                theme: "bootstrap",
                placeholder: "Select a type or field key",
                allowClear: true,
                width: "100%",
                ajax: {
                    url: function(filter) {
                        // Get autocomplete results if typing; otherwise return standard set of definitions
                        if (filter.term == null || filter.term == "") {
                            return jsRoutes.api.Metadata.getDefinitionsDistinctName().url
                        }
                        else {
                            return jsRoutes.api.Metadata.getAutocompleteName(filter.term).url
                        }
                    },
                    // Populate autocomplete as user types
                    processResults: function(data, page) {
                        var outMap = {};

                        for (var rez=0; rez<data.length; rez++) {
                            var entry = data[rez];

                            // Metadata Definitions
                            if (typeof(entry) == 'object') {
                                var entryGroup = "Metadata Definitions";
                                var entryData = {text: entry.json.label, id: "metadata."+entry.json.label};
                                // suggestions from elasticsearch
                            } else {
                                if (entry.indexOf('.') > -1) {
                                    if (entry.indexOf('/extractors/') > -1) {
                                        // Group extractor-specific fields together under extractor
                                        var entryGroup = entry.substring(entry.indexOf('/extractors/')+12, entry.lastIndexOf('.'))+" (Extractor)";
                                    }
                                    else if (entry.split('.').length > 2 ){
                                        // Group user-submitted metadata under user's name
                                        var entryGroup = entry.substring(entry.indexOf('.')+1, entry.lastIndexOf('.'))+" (User)";
                                    }
                                    else {
                                        // This should be metadata definitions otherwise
                                        var entryGroup = "Metadata Definitions";
                                    }
                                    var entryData = {id: entry, text: entry.substring(entry.lastIndexOf('.')+1, entry.length)}
                                } else {
                                    // Simple entry
                                    var entryGroup = ""
                                    var entryData = {text: entry, id: entry}
                                }
                            }
                            if (!outMap.hasOwnProperty(entryGroup))
                                outMap[entryGroup] = [];
                            outMap[entryGroup].push(entryData)
                        }

                        var outList = []
                        for (var group in outMap) {
                            if (group == "") {
                                for (var ungrouped=0; ungrouped<outMap[group].length; ungrouped++)
                                    outList.push(outMap[group][ungrouped])
                            } else
                                outList.push({"text":group, "children": outMap[group]})
                        }
                        
                        return {
                            results: outList
                        };
                    }
                }
            }).empty();

            var fields = metadata_definitions;
            for (var i = 0; i < fields.length; i++) {
                var elem = $("<option></option>");
                elem.attr("data-type", fields[i].json.type);
                elem.attr("data-id", fields[i].json.label);
                elem.attr("value", "metadata."+fields[i].json.label);
                elem.text(fields[i].json.label);
                $(selector).append(elem);
            }

            if (fields.length > 0) {
                var firstFieldKey = 'metadata.' + fields[0].json.label;
                $(selector).val(firstFieldKey).trigger('change');
            }
        }

        // Given a JSON object representing a search query,
        // fill in the appropriate inputs to represent this search
        function parseSearchTerms(terms) {
            // search for a is a spaceid term
            var spaceIdQueryTerm = terms.find(function (term) {
                return !term.extractor_key && term.field_key === 'child_of';
            });

            // If we find one, remove it from the list
            if (spaceIdQueryTerm) {
                // populate space id filter dropdown
                $('#spaceid-filter-select').val(spaceIdQueryTerm.field_value).trigger('change');
                terms.splice(spaceIdQueryTerm, 1);
            }

            // Remove any existing children from metadata rows (should be a noop)
            $("#metadata-search-rows").empty();

            terms.forEach(function (term, index) {
                if (term.extractor_key === 'metadata') {
                    // term is a metadata field, create a new row
                    var rowStr = String(index + 1);

                    // Fetch metadata definitions, then select based on search term
                    getBasicDefinitions(rowStr);

                    // populate new row with search term
                    $('#add-metadata-select-' + rowStr).val(term.field_key).trigger('change');
                    $('#add-metadata-operator-' + rowStr).val(term.operator).trigger('change');
                    $('#v-' + rowStr).val(term.field_value).trigger('change');
                } else {
                    console.log('WARNING: Unknown extractor_key encountered', term);
                }
            });
        }

        // Construct a JSON object with search information
        function generateSearchObject() {
            var searchObj = [];

            @selectedSpace match {
                case Some(space) => {
                    searchObj.push({
                        "field_key": "child_of",
                        "operator": "==",
                        "field_value": "@space.id",
                        "extractor_key": null,
                        "field_leaf_key": "@space.id"
                    });
                }
                case None => {
                    var selectedSpaceId = $('#spaceid-filter-select option:selected').val();
                    if (selectedSpaceId && selectedSpaceId !== '') {
                        searchObj.push({
                            "field_key": "child_of",
                            "operator": "==",
                            "field_value": selectedSpaceId,
                            "extractor_key": null,
                            "field_leaf_key": selectedSpaceId
                        });
                    }
                }
            }

            for (var row=0; row<row_list.length; row++) {
                var rowkey = $("#add-metadata-select-"+row_list[row]+" :selected").val();
                var rowop = $("#add-metadata-operator-"+row_list[row]).val();
                var rowval = $("#v-"+row_list[row]).val();

                // Ignore any terms without a value
                if (rowval != "") {
                    if (rowkey.indexOf('.') > -1) {
                        var keyvals = rowkey.split('.');
                        var extractorKey = keyvals[0];
                        var leafKey = keyvals[keyvals.length-1];
                    } else {
                        var extractorKey = null;
                        var leafKey = rowkey;
                    }

                    searchObj.push({
                        "field_key": rowkey,
                        "operator": rowop,
                        "field_value": rowval,
                        "extractor_key": extractorKey,
                        "field_leaf_key": leafKey
                    });
                }
            }

            return searchObj;
        }

        // Submit contents of basic search rows
        function search(from_count) {
            from_count = from_count || 0;
            console.log("Querying result set from "+String(from_count)+" with size "+String(count_stepsize));
            var query = generateSearchObject();
            if (query != []) {
                var loc = window.location;
                var qsParams = new URLSearchParams(loc.search.slice(1));

                // Save grouping as query-string parameter first
                var grouping = $("#add-metadata-grouping").val();
                qsParams.set('grouping', grouping);

                // Save searchQuery as query-string parameter
                var searchQuery = JSON.stringify(query);
                qsParams.set('query', searchQuery);

                // Update query string without forcing navigation
                var newurl = loc.protocol + "//" + loc.host + loc.pathname + '?' + qsParams;
                window.history.pushState({path: newurl}, '', newurl);

                // Perform a search with the given query and grouping
                performSearchAjax(searchQuery, grouping, from_count);

                return;
            }

            $( "#mt-search-feedback" ).text( " Not valid!" ).show().fadeOut( 2000 );
        }

        function performSearchAjax(searchQuery, grouping, from_count) {

            // Perform the search
            searching = true;
            var request = jsRoutes.api.Search.searchJson(searchQuery, grouping, from_count, count_stepsize).ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function(resp, status, err){
                // Update counts for pagination
                count += resp.scanned_size;
                searching = false;

                // Correctly increment skipped count if we are missing results but have no more pages
                if (resp.count != resp.total_size) {
                    if (resp.size > 0) {
                        if (resp.total_size < resp.scanned_size)
                            skipped_count += (resp.total_size - resp.count);
                        else if (resp.total_size > (resp.from+resp.count)) // last page case
                            skipped_count += (resp.scanned_size - resp.count);
                    } else if (resp.hasOwnProperty('next') || resp.total_size == resp.scanned_size) {
                        // We got size zero result, but ES reports there should be some in total_size
                        skipped_count += resp.total_size
                    }
                }

                $('#resultstitle').html('<h3>Results</h3>');

                // Convert results into displayed list
                if (from_count > 0) {
                    parseSearchResults(resp, status, err, false)
                } else {
                    parseSearchResults(resp, status, err)
                }

                if (resp.count == 0) {
                    found_all = true;
                    if (skipped_count>0)
                        $('#resultsfooter').append("<i><b>All results displayed (omitted "+skipped_count+" results due to insufficient permissions).</b></i>");
                    else
                        $('#resultsfooter').append("<i><b>All results displayed.</b></i>");

                    $('#resultsfooter').append("<br/>&nbsp;<br/>")
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                searching = false;
            });
        }

        function removeRow(rowId) {
            var rowStr = String(rowId);
            $("#metadata-clause-"+rowStr).remove();
            row_list.splice(row_list.indexOf(rowStr), 1);
        }

        function parseSearchResults(response, textStatus, jqXHR, empty=true) {
            if (empty) {
                $( "#resultslist" ).empty();
                $( "#resultsfooter" ).empty();
            }

            for (var i=0; i < response.results.length; i++) {
                var resource = response.results[i];
                if (resource.resource_type == "dataset") {
                    var thumbnailId = (resource.thumbnail == null)? "" : jsRoutes.api.Thumbnails.get(resource.thumbnail).url;
                    var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/search_dataset_result_tile")");
                    var html = modalTemplate(
                            {'url': jsRoutes.controllers.Datasets.dataset(resource.id).url,
                                'name': resource.name,
                                'description':  resource.description,
                                'created': resource.created,
                                'thumbnail': thumbnailId
                            });
                    $('#resultslist').append(html);
                }
                else if (resource.resource_type == "file") {
                    var thumbnailId = (resource.thumbnail == null)? "" : jsRoutes.api.Thumbnails.get(resource.thumbnail).url;
                    var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/search_file_result_tile")");
                    var html = modalTemplate({
                        'url': jsRoutes.controllers.Files.file(resource.id).url,
                        'name': resource.name,
                        'created': resource.created,
                        'thumbnail': thumbnailId
                    });
                    $('#resultslist').append(html);
                }
            }
        }

        // Wire up reset button
        $('#resetBtn').click(function(evt) {
            // Reset results state
            $('#resultslist').empty();
            $( "#resultsfooter" ).empty();

            // Reset form state
            row_list = [];
            $(this).closest('form').find('select').prop('selectedIndex', 0).trigger('change');
            $('#metadata-search-rows').empty();
            $('#showmore').hide();

            // Reinitialize form
            getBasicDefinitions(1);
        });

        // form submission
        $( "form[id='metadata-search']").submit(function( event ) {
            event.preventDefault();
            count = 0;
            found_all = false;
            search();

        });
    </script>
}
