@(metadata: List[models.Metadata], toDelete: Boolean)(implicit user: Option[models.User])
    @import java.net.URL
    @import play.api.libs.json.JsString
    @import play.api.libs.json.JsObject
    @import play.api.libs.json.JsValue
    @import play.api.libs.json.JsArray
    @import api.Permission

    @dateFormatter(date: java.util.Date) = @{
        val formatter = new java.text.SimpleDateFormat("MMM d, yyyy")
        formatter.format(date)
    }

    @printContent(content: JsValue, contextId: Option[UUID], contextURL: Option[URL]) = {
        @content match {
            case o: JsObject => {
                <ul>
                    @for((key, value) <- o.fields) {
                        @value match {
                            case o: JsObject => {
                                <li class="md-block">
                                    <a class="collapse-icon">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    @if(contextId.isDefined) {
                                        <a href="#" onmouseover="getMetadataContext('@contextId.get','@key.replaceAll("[() ]","")');" onmouseout="leaveMetadataContext('@contextId.get@key.replaceAll("[() ]","")');"><strong>@key:</strong></a> @printContent(value,contextId,contextURL)
                                        <!-- ids don't like spaces, you can use regex for removing different characters in metadata names (key) as well -->
                                        <div id='@contextId.get@key.replaceAll("[() ]","")' class="bg-info contextInitDialog"></div>
                                    } else {
                                        @contextURL match {
                                            case Some(u) => {
                                                <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a> @printContent(value,contextId,contextURL)
                                            }
                                            case None => {
                                                <strong>@key:</strong> @printContent(value,contextId,contextURL)
                                            }
                                        }
                                    }
                                </li>
                            }
                            case o: JsArray => {
                                <li class="md-block">
                                    <a class="collapse-icon">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    @if(contextId.isDefined) {
                                        <a href="#" onmouseover="getMetadataContext('@contextId.get','@key.replaceAll("[() ]","")');" onmouseout="leaveMetadataContext('@contextId.get@key.replaceAll("[() ]","")');"><strong>@key:</strong></a> @printContent(value,contextId,contextURL)
                                        <div id='@contextId.get@key.replaceAll("[() ]","")' class="bg-info contextInitDialog"></div>
                                    } else {
                                        @contextURL match {
                                            case Some(u) => {
                                                <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a> @printContent(value,contextId,contextURL)
                                            }
                                            case None => {
                                                <strong>@key:</strong> @printContent(value,contextId,contextURL)
                                            }
                                        }
                                    }
                                </li>
                            }
                            case _ => {
                                <li class="md-block">
                                @if(contextId.isDefined) {
                                    <a href="#" onmouseover="getMetadataContext('@contextId.get','@key.replaceAll("[() ]","")');" onmouseout="leaveMetadataContext('@contextId.get@key.replaceAll("[() ]","")');"><strong>@key:</strong></a> @printContent(value,contextId,contextURL)
                                    <div id='@contextId.get@key.replaceAll("[() ]","")' class="bg-info contextInitDialog"></div>
                                } else {
                                    @contextURL match {
                                        case Some(u) => {
                                            <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a> @printContent(value,contextId,contextURL)
                                        }
                                        case None => {<strong>@key:</strong> @printContent(value,contextId,contextURL)}
                                    }
                                }
                                </li>
                            }
                        }

                    }
                </ul>
            }
            case a: JsArray => {
                <ul>
                @for((value, i) <- a.value.zipWithIndex) {
                    <li class="md-block">@printContent(value,contextId,contextURL)</li>
                }
                </ul>
            }
            case s: JsString => {
                @if(s.value.startsWith("http")) {
                    <a href="@s.value">@s.value</a>
                } else {
                    @s.value
                }
            }
            case _ => {@content}
        }
    }

    @printHeader(agent: Agent, date: java.util.Date, i: Integer) = {
        @agent.operation by
        @if(agent.url.isDefined) {
            <a href="#" onmouseover="getAgentContext('@agent.id','agent@i');" onmouseout="leaveAgentContext('agent@i');">@agent.displayName</a>
            <div id='agent@i' class="bg-info contextInitDialog"></div>
        } else {
            @agent.displayName
        }
        on @dateFormatter(date)
    }

    @if(metadata.size == 0) {
        <h4>No metadata available for this resource</h4>
    }
    @for((m, i) <- metadata.zipWithIndex) {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@i">
                <a data-toggle="collapse" href="#collapse_@i" class="collapse-icon">
                    <span class="panel-icon glyphicon glyphicon-minus"></span>
                </a>
                <span>
                    @printHeader(m.creator, m.createdAt, i)
                </span>
                @if(toDelete && Permission.checkPermission(Permission.DeleteMetadata, ResourceRef(ResourceRef.metadata, m.id))) {
                        <a id="@m.id" title="Delete this metadata" class="btn btn-link delete-icon">
                            <span class="panel-icon glyphicon glyphicon-trash"></span>
                        </a>
                }
            </div>
            <div id="collapse_@i" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@i">
                <div class="panel-body">
                    <div class="tree">
                        @printContent(m.content, m.contextId, m.contextURL)
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('.collapse')
                .on('shown.bs.collapse', function(){
                    $(this).parent().find(".panel-icon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                })
                .on('hidden.bs.collapse', function(){
                    $(this).parent().find(".panel-icon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                });

            $('.tree li').on('click', function (e) {
                //console.log("clicked");
                var children = $(this).find('> ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                } else {
                    children.show('fast');
                    $(this).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                }
                e.stopPropagation();
            });
        })

        $(function () {
            $('.delete-icon').unbind().on('click', function(){
                var delete_icon = $(this);

                var request = jsRoutes.api.Metadata.removeMetadata(this.id).ajax({
                    type: 'DELETE'
                });

                request.done(function (response, textStatus, jqXHR) {
                    //console.log("success");
                    delete_icon.closest(".panel").remove();
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                      notify("Metadata was not removed due to : " + errorThrown, "error");
                    }
                });
            });
        })

        // get metadata definitions
        function getMetadataContext(uuid, mkey) {
            var request = jsRoutes.api.ContextLD.getContextById(uuid).ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function (response, textStatus, jqXHR) {
                var fields = response;
                $("#"+uuid+mkey).append(JSON.stringify(fields, null, 4));
                $("#"+uuid+mkey).removeClass("contextInitDialog");
                $("#"+uuid+mkey).addClass("contextDialog");
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to retrieve metadata definitions";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Metadata context was not shown due to : " + errorThrown, "error");
                }
            });
        }
        function leaveMetadataContext(mid) {
            $("#"+mid).text("");
            $("#"+mid).removeClass("contextDialog");
            $("#"+mid).addClass("contextInitDialog");
            //$("#"+mid).hide();
        }

        // get agent author definitions
        function getAgentContext(uuid,aid) {
            var request = jsRoutes.api.Users.findById(uuid).ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function (response, textStatus, jqXHR) {
                var fields = response;
                $("#"+aid).append(JSON.stringify(fields, null, 4));
                $("#"+aid).removeClass("contextInitDialog");
                $("#"+aid).addClass("contextDialog");
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to retrieve metadata definitions";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Metadata context was not shown due to : " + errorThrown, "error");
                }
            });
        }
        function leaveAgentContext(aid) {
            $("#"+aid).text("");
            $("#"+aid).removeClass("contextDialog");
            $("#"+aid).addClass("contextInitDialog");
        }
    </script>