@()(implicit request: RequestHeader)

@import services.AppConfiguration

<hr>
<p>
    <small>
        This message was sent by <a style="text-decoration:none;" href="@routes.Application.index().absoluteURL(controllers.Utils.https(request))" style="text-decoration: none">@AppConfiguration.getDisplayName</a> an
        instance of <a style="text-decoration:none;" href="http://clowder.ncsa.illinois.edu/">Clowder</a> running
        @sys.props.getOrElse("build.version", default = "0.0.0")#@sys.props.getOrElse("build.bamboo", default = "development")<br/>
        If you have any questions about this email please contact <a style="text-decoration:none;" href="@routes.Application.email().absoluteURL(controllers.Utils.https(request))">the server admins.</a>
    </small>
</p>
