@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main(Messages("securesocial.signup.title") ) {
    <div class="page-header">
        <h1>Sign Up</h1>
    </div>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }
	@if(!play.Play.application().configuration().getBoolean("registerThroughAdmins")){
	    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)"
	          class="form-horizontal"
	          autocomplete="off" method="post"
	    >
    }
    @if(play.Play.application().configuration().getBoolean("registerThroughAdmins")){
	    <form action="@routes.Users.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)"
	          class="form-horizontal"
	          autocomplete="off" method="post"
	    >
    }
        <fieldset>
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("securesocial.signup.email1"),
            'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-wrench"></span> @Messages("securesocial.password.reset")</button>
            </div>
        </fieldset>
    </form>
}
