@(filesList: List[(String, String)], datasetId: String)(implicit user: Option[models.User])

<!-- Snippet to contain elements that are required for listing existing files and allowing them to be selected and added 
to a dataset during creation. It is also re-used in the workflow for attaching existing files to an existing dataset. -->
<!-- This file is currently referenced from newDataset.scala.html and from addToExistingDataset.scala.html. -->

<div>
	<p>                                                             
	<button id="existingcreate" class="btn btn-primary btn-large button-margins" title="Create the Dataset" onclick="attachFiles();return false;"><span class="glyphicon glyphicon-ok"></span> Create Dataset</button>
	<button id="filesCLearBtn" class="btn btn-default btn-large button-margins" style="margin-left:10px;" onclick="clearFiles();return false;"><span class="glyphicon glyphicon-unchecked"></span> Clear Selected Files</button>
    <input type="hidden" name="datasetid" id="hiddenid" value="@datasetId">
    	                                                              
	<p>
	<select multiple name="files" size="15" id="filelist" style="width: 500px;">
		@filesList.map { file =>  
		    <option value="@(file._1)">@(file._2)</option>
		}                    
	</select>
</div>
