@(collections: List[models.Collection], prev: String, next: String, limit: Int, mode: Option[String])(implicit user: Option[models.User])

@import _root_.util.Formatters.ellipsize

@main("Collections") {

@util.masonry()
    
<script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script> 

<div class="page-header">
  <h1>Collections</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-sm pull-right">            
            <button type="button" class="btn btn-default active" href="#tile-view" id="tile-view-btn"><span class="glyphicon glyphicon-th-large"></span></button>
            <button type="button" class="btn btn-default" href="#list-view" id="list-view-btn"><span class="glyphicon glyphicon-th-list"></span></button>            
        </div>
        <script>
	        var viewMode = '@mode.getOrElse("tile")';
	        $.cookie.raw = true;
	        $.cookie.json = true;
            $(function() {            	                
                $('#tile-view-btn').click(function() {
                  $('#tile-view').removeClass('hidden');
                  $('#list-view').addClass('hidden');
                  $('#tile-view-btn').addClass('active');
                  $('#list-view-btn').removeClass('active');
                  viewMode = "tile";
                  updatePage();                  
                  $.cookie('view-mode', 'tile', { path: '/' });
                  $('#masonry').masonry().masonry({
                      itemSelector: '.post-box',
                      columnWidth: '.post-box',
                      transitionDuration: 4
                  });
                });
                $('#list-view-btn').click(function() {
                  $('#tile-view').addClass('hidden');
                  $('#list-view').removeClass('hidden');
                  $('#list-view-btn').addClass('active');
                  $('#tile-view-btn').removeClass('active');
                  viewMode = "list";
                  updatePage();
                  //Utilizing library from https://github.com/carhartl/jquery-cookie/tree/v1.4.1
                  $.cookie("view-mode", "list", { path: '/' });
                });                                
            });
            
            $(document).ready(function() {  
            	//Set the cookie, for the case when it is passed in by the parameter
                $.cookie("view-mode", viewMode, { path: '/' });
                if (viewMode == "list") {
                    $('#tile-view').addClass('hidden');
                    $('#list-view').removeClass('hidden');
                    $('#list-view-btn').addClass('active');
                    $('#tile-view-btn').removeClass('active');                      
                }
                else {
                    $('#tile-view').removeClass('hidden');
                    $('#list-view').addClass('hidden');
                    $('#tile-view-btn').addClass('active');
                    $('#list-view-btn').removeClass('active');                      
                }
                updatePage();               
            });
            
            //Function to unify the changing of the href for the next/previous links. Called on button activation for
            //viewMode style, as well as on initial load of page.
            function updatePage() {
                $('#nextlink').attr('href', "@(routes.Collections.list("a", next, limit))");
                $('#prevlink').attr('href', "@(routes.Collections.list("b", prev, limit))");
            }
        </script>
    </div>
</div>


  <div class="row hidden" id="tile-view">
    <div class="col-md-12">
        <div id="masonry">
            @collections.map { collection =>
            <div class="post-box col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-default">
                    <div class="pull-right">
                        <a href="#" title="Bookmark" class="pull-right bookmark-link"><span class="glyphicon glyphicon-bookmark bookmark"></span></a>
                    </div>
                    <div class="panel-body">
                        @if(!collection.thumbnail_id.isEmpty){
                        <a href="@(routes.Collections.collection(collection.id))">
                            <img class="img-responsive" src="@(routes.Files.thumbnail(UUID(collection.thumbnail_id.toString().substring(5,collection.thumbnail_id.toString().length-1))))" alt="Thumbnail of @(collection.name)">
                        </a>
                        }
                        <div class="caption break-word">
                            <h4><a href="@(routes.Collections.collection(collection.id))">@collection.name</a></h4>
                            <p>@ellipsize(collection.description, 200)</p>
                        </div>
                    </div>                    
                    <!-- Collection Info -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon glyphicon-file" title="@collection.datasets.size datasets"></span> @collection.datasets.size
                            @if(user.isDefined) {
	                            <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->   
	                            @if(collection.author.isDefined && user.get.identityId.userId.equals(collection.author.get.identityId.userId)){
	                                <button onclick="removeCollectionAndRedirect('@(collection.id)','@(routes.Collections.list(""))')" class="btn btn-link" style="text-align:right" title="Detach Delete the Collection">
	                                      <span class="glyphicon glyphicon-trash"></span></button>
	                            } else {
	                                <button disabled onclick="removeCollectionAndRedirect('@(collection.id)','@(routes.Collections.list(""))')" class="btn btn-link" style="text-align:right" title="Detach Delete the Collection">
	                                      <span class="glyphicon glyphicon-trash"></span></button>
	                            }
	                        }
                        </li>
                    </ul>
                </div>
             </div>
             }            
        </div>
    </div>
</div>


  <div class="row hidden" id="list-view">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					@if(user.isDefined) {
						<th style="width: 25%">Name</th>
						<th style="width: 15%">Created</th>
						<th style="width: 40%">Description</th>
						<th style="width: 15%">Preview</th>
						<th style="width: 5%">Delete</th>
					}
					@if(!user.isDefined) {
						<th style="width: 25%">Name</th>
						<th style="width: 15%">Created</th>
						<th style="width: 45%">Description</th>
						<th style="width: 15%">Preview</th>
					}
				</tr>
			</thead>
			<tbody>
				@collections.map { collection =>
					<tr>
						<td><a href="@(routes.Collections.collection(collection.id))">@collection.name</a></td>
						<td>@collection.created.format("MMM dd, yyyy")</td>
						<td style="white-space:pre-line">@collection.description</td>
						<td>
							@if(!collection.thumbnail_id.isEmpty){<img src="@(routes.Files.thumbnail(UUID(collection.thumbnail_id.toString().substring(5,collection.thumbnail_id.toString().length-1))))" alt="Thumbnail of @(collection.name)" width="120">}
							@if(collection.thumbnail_id.isEmpty){No thumbnail available}
						</td>
						<td class="requiresLogin">
							@if(user.isDefined) {								
								<!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->   
                                @if(collection.author.isDefined && user.get.identityId.userId.equals(collection.author.get.identityId.userId)){
                                    <button onclick="removeCollectionAndRedirect('@(collection.id)','@(routes.Collections.list(""))')" class="btn btn-link" style="text-align:right" title="Detach Delete the Collection">
                                    <span class="glyphicon glyphicon-trash"></span></button>
                                } else {
                                    <button disabled onclick="removeCollectionAndRedirect('@(collection.id)','@(routes.Collections.list(""))')" class="btn btn-link" style="text-align:right" title="Detach Delete the Collection">
                                    <span class="glyphicon glyphicon-trash"></span></button>
                                }																                                                            				
							}
						</td>
					</tr>
				}
			</tbody>
		</table>		
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="pager">
            @if(prev != "") {
  				<li class="previous"><a id="prevlink" title="Page backwards" href="#">Previous</a></li>
  			}
  			@if(next != "") {
  				<li class ="next"><a id="nextlink" title="Page forwards" href="#">Next</a></li>
  			}
        </ul>
    </div>
</div>

	@if(!user.isDefined) {
		<script type="text/javascript">
			$(".requiresLogin").css("display","none");
		</script>
	}
}
