@(collections: List[models.Collection], prev: String, next: String, limit: Int)(implicit user: Option[securesocial.core.Identity])

@main("Collections") {
<div class="page-header">
  <h1>Collections</h1>
</div>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th style="width: 27%">Name</th>
					<th style="width: 17%">Created</th>
					<th style="width: 36%">Description</th>
					<th style="width: 10%"></th>
					<th style="width: 10%"></th>
				</tr>
			</thead>
			<tbody>
				@collections.map { collection =>
					<tr>
						<td><a href="@(routes.Collections.collection(collection.id.toString))">@collection.name</a></td>
						<td>@collection.created.format("MMM dd, yyyy")</td>
						<td>@collection.description</td>
						<td>@if(!collection.thumbnail_id.isEmpty){<img src="@(routes.Files.thumbnail(collection.thumbnail_id.toString().substring(5,collection.thumbnail_id.toString().length-1)))" alt="Thumbnail of @(collection.name)" height="120" width="120">}</td>
						<td><a href="#" onclick="removeCollection('@(collection.id.toString)',event)">Remove</a></td>
					</tr>
				}
			</tbody>
		</table>		
		<ul class="pager">
			@if(prev != "") {
  			<li class="previous"><a href="@(routes.Collections.list("b", prev, limit))">Previous</a></li>
  			}
  			@if(next != "") {
  			<li class ="next"><a href="@(routes.Collections.list("a", next, limit))">Next</a></li>
  			}
		</ul>
	</div>
</div>
<script language="javascript">	
	var hostIp = "@play.Play.application().configuration().getString("hostIp")";
</script>
<script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
}