@(id: String, resourceType: String)(implicit user: Option[models.User])

<form class="form-inline">
<textarea id="commentField_@id" class="comment-input-box"></textarea>
<br />
<button class="btn btn-warning" onclick="return postComment('@id', '@resourceType');" title="Post Comment"><span class="glyphicon glyphicon-comment"></span> Post</button>
</form>
  <script src="@routes.Assets.at("javascripts/htmlEncodeDecode.js")" language="javascript"></script>
  <script language="javascript">
       var origText = "";
  
     function showEditComment(id) {
       var commentText = $("#comment-body_" + id).html().replace(/<br>/g, "\n");
       origText = commentText;
       commentText = htmlDecode(commentText.replace(/<br>/g, "\n"));
       if ($("#commentField_" + id).length == 0) {
               var form="<form class=\"form-inline\">";               
               form += "<textarea id=\"editField_" + id + "\" class=\"comment-input-box\"></textarea>";
               form += "<br />";
               form += "<button class=\"btn btn-primary btn-sm\" title=\"Submit Edit\" onclick=\"return updateComment('" + id + "');\" style=\"margin-right:5px;\"><span class=\"glyphicon glyphicon-ok\"></span> Submit</button>";
               form += "<button class=\"btn btn-info btn-sm\" title=\"Cancel\" onclick=\"return cancelEditComment('" + id + "');\"><span class=\"glyphicon glyphicon-remove\"></span> Cancel</button>";
               form += "</form>";
               $("#comment-body_" + id).html("<div class=\"comment-edit\" id=\"edit-form_" + id + "\">" + form + "</div>");
               $("#editField_" + id).val(commentText);               
           }
       else {
         notify("Error editing comment", "error");
       }
       return false;
    }

 function updateComment(id) {
   var text = $("#editField_" + id).val();
   text = htmlEncode(text);
   editComment(id, text);
   return false;
 }

 function cancelEditComment(id) {
       $("#comment-body_" + id).html(origText);
       return false;
   }

function showReplyComment(id) {
  if ($("#commentField_" + id).length == 0) {
    var form="<form class=\"form-inline\">";
    form += "<textarea id=\"commentField_" + id + "\" class=\"comment-input-box\"></textarea>";
    form += "<br />";
    form += "<button class=\"btn btn-primary btn-sm\" onclick=\"return replyComment('" + id + "')\" title=\"Confirm\" style=\"margin-right:5px;\">";
    form += "<span class=\"glyphicon glyphicon-ok\"></span> Submit</button>";
    form += "<button class=\"btn btn-info btn-sm\" onclick=\"return cancelComment('" + id + "')\" title=\"Cancel\">";
    form += "<span class=\"glyphicon glyphicon-remove\"></span> Cancel</button>";
    form += "</form>";
    $("#reply_" + id).prepend("<div class=\"comment-thread\" id=\"form_" + id + "\">" + form + "</div>");
  }
  return false;
}

function replyComment(id) {
  postComment(id, "comment");
  $("#form_" + id).remove();
  return false;
}

function cancelComment(id) {
  $("#form_" + id).remove();
  return false;
}

function postComment(id, resourceType) {
  var text = $('#commentField_' + id).val();
  var encText = htmlEncode(text);
  $('#commentField_' + id).val("");

  console.log("Posting " + text);
  if (text !== "") {
    console.log ( "Submitting comment " + text ) ;

    var request;
    if (resourceType == "comment") {
        request = jsRoutes.api.Comments.comment(id).ajax({
            data : JSON.stringify({text: encText}),
            type : 'POST',
            contentType : "application/json"
        });
    } else if (resourceType == "dataset") {
        request = jsRoutes.api.Datasets.comment(id).ajax({
            data : JSON.stringify({text: encText}),
            type : 'POST',
            contentType : "application/json"
        });
    } else if (resourceType == "section") {
        request = jsRoutes.api.Section.comment(id).ajax({
            data : JSON.stringify({text: encText}),
            type : 'POST',
            contentType : "application/json"
        });
    } else if (resourceType == "file") {
        request = jsRoutes.api.Files.comment(id).ajax({
            data : JSON.stringify({text: encText}),
            type : 'POST',
            contentType : "application/json"
        });
    } else {
        notify("Error with comment type", "error");
        return;
    }

    request.done ( function ( response, textStatus, jqXHR ) {
      // TODO - figure out how to get hour:minute:second on the date format as well...
      var formatted = $.datepicker.formatDate ( 'MM dd, yy', new Date());
      var post = "<div class=\"comment\" id=\"comment_" + response + "\">";
      post += "<div class=\"media\">";
      post += "<a class='pull-left' href='#'>";
      post += "<div class='thumbnail'>";
      post += "<img class='avatar' src='@(user.get.avatarUrl.getOrElse(""))'>";
      post += "</div></a>";
      post += "<div class='media-body'>";
      post += "<div class=\"comment-header\">";
      post += "<a href=\"@routes.Profile.viewProfile(user.get.email)\">@user.get.fullName</a>";
      post += "<span>•</span>";
      post += "<span>" + formatted + "</span>";
      post += "</div>";
      post += "<div class=\"comment-body\" id=\"comment-body_" + response + "\">" + encText.replace(/\n/g, "<br>") + "</div>";
      //Note, no check for comment owner in this case because this case is only displayed immediately after the comment creator posts the comment. MMF - 09/2014
      post += "<div class=\"comment-footer\"><a href=\"#\" class=\"btn btn-link btn-xs\" title=\"Reply To Comment\" onclick=\"return showReplyComment('" + response + "');\"><span class=\"glyphicon glyphicon-share-alt\"></span> Reply</a>&nbsp;&nbsp;<a href=\"#\" class=\"btn btn-link btn-xs\" title=\"Edit Comment\" onclick=\"return showEditComment('" + response + "');\"><span class=\"glyphicon glyphicon-edit\"></span> Edit</a>&nbsp;&nbsp;<a href=\"#\" class=\"btn btn-link btn-xs\" title=\"Delete Comment\" onclick=\"return deleteComment('" + response + "');\"><span class=\"glyphicon glyphicon-trash\"></span> Delete</a> </div>";
      post += "<div class=\"comment-reply\">";
      post += "<div class=\"comment-threads unstyled\" id=\"reply_" + response + "\">";
      post += "</div>";
      post += "</div>";
      post += "</div>";
      post += "</div>";
      post += "</div>";
      $("#reply_" + id).prepend("<div class=\"comment-thread\">" + post + "</div>");
    });

    request.fail(function(jqXHR, textStatus, errorThrown) {
      console.error("The following error occured: " + textStatus, errorThrown);
      var errMsg = "You must be logged in to post a comment.";
      if (!checkErrorAndRedirect(jqXHR, errMsg)) {
        notify("Error posting comment : " + errorThrown, "error");
      }
    });
  }
  return false;
}
</script>

