@(comments: List[models.Comment], name: String = "top")

<ol class="comment-threads unstyled @name">
	@comments.map { s =>
		<li class="comment-thread">
			<div class="comment">
@*				<div class="comment-image"><img src="http://www.gravatar.com/avatar/43a00942406a477b09ad0cf0764b4023?d=404"></div> *@
				<div class="comment-header">
					<div class="comment-author">@s.author</div>
					<div class="comment-date">@s.posted</div>
					<div style="clear: both;"></div>
				</div>
				<div class="comment-body">@s.text</div>
@*				<div class="comment-footer"><a href="javascript:void(0)" onclick="return reply(this)">reply</a></div> *@
			</div>
			@comment(s.replies)
		</li>
	}
</ol>
