@(keysArray:scala.collection.mutable.ArrayBuffer[String],name: String, id: String, size:Integer,  results: scala.collection.mutable.HashMap[String, (String,String,String,scala.collection.mutable.ArrayBuffer[(String,String,Double,String,Map[models.File, Array[(java.lang.String, String, String, String, java.lang.String, String, Long)]])])]) 
@import models.IncrementCounter
@import helper._
@import collection.JavaConverters._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Search Results") {
	<div class="page-header">
		<h1>Search Results For <medium>@name</medium></h1>
	</div>
	@if(size == 0) {
	<div class="row">
		<div class="col-md-12">
			No results found. Sorry!
		</div>
	</div>
	} else {
	<table>
	<tr>
	@for((key, value) <- results) {
		<td>
		<h3>@value._1 / @value._2 / @value._3</h3>
		<table>
		@for(r <- value._4) {
			<tr>
				<td style="vertical-align:middle; height:150px;">
					<div class="media">
					  <a class="pull-left" href="@routes.Files.file(r._1)">
						@for((f, pvs) <- r._5) {
						<img class='mmd-img media-object' src='@api.routes.Previews.download(pvs(0)._1)' alt='@r._4' title='Distance @r._3'></img>
						}
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">@r._4</h4>
					    <p>Distance: @r._3</p>
					    <a href=@routes.Search.findSimilarFile(r._1)>Find Similar</a>
					  </div>
					</div>
					</td></tr>
		}
		</table></td>
	}
	</tr>
	</table>
	}
}