@(host: String)
@import helper._
@import collection.JavaConverters._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Bookmarklet") {

<center>
    <h1>Data Tilling Service (DTS)</h1>
    <h2 style="color:gray;">Drag icon to bookmark toolbar to install</h2>

    <!-- This implements a check to see if the bookmarklet has already been called, and if so, it simply re-runs the init function. You'll need to customize MyBookmarklet to the name of your object -->
    <a href="javascript:if(!window.DTSBookmarklet){
          (function(d,t){
            var timestamp=new Date();
            var g=d.createElement(t), s=d.getElementsByTagName(t)[0];
            g.src='//@{host}/bookmarklet.js?v=' + timestamp.getTime();
            s.parentNode.insertBefore(g,s)
          }(document,'script'));
      } else {
        DTSBookmarklet.init();
      }">
        <img src="http://browndog.ncsa.illinois.edu/graphics/browndog-large-transparent.png" width="200" alt="DTS">
    </a>
    <h3 style="font-family:arial;">dts_bookmarklet.js (alpha)</h3>
</center>

}
