@(host: String)
@import helper._
@import collection.JavaConverters._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<div class="page-header">
		<h1>Bookmarklet</h1>
</div>
	<p> <a href="javascript:(function(){
					document.body.appendChild(document.createElement('script')).src='http://dts1.ncsa.illinois.edu:9000/assets/javascripts/DTSbookmarklet/bookmarkletheader.js';
  		}				
				)();">DTS</a>
	</p>
<p>
    <!-- This implements a check to see if the bookmarklet has already been called, and if so, it simply re-runs the init function. You'll need to customize MyBookmarklet to the name of your object -->
    <a href="javascript:if(!window.DTSBookmarklet){
          (function(d,t){
            var timestamp=new Date();
            var g=d.createElement(t), s=d.getElementsByTagName(t)[0];
            g.src='//@{host}/bookmarklet.js?v=' + timestamp.getTime();
            s.parentNode.insertBefore(g,s)
          }(document,'script'));
      } else {
        DTSBookmarklet.init();
      }">
        DTS Metadata Bookmarklet
    </a>
</p>
