@(events: List[models.Event])(implicit user: Option[models.User] = None)
@import _root_.util.Formatters
<h1> Clowder Email Digest </h1>

Following is a list of events at @services.AppConfiguration.getDisplayName
      @for(event <- events) {
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="media">
                      <div class="media-left">

                      </div>
                      <p>
                      <div class="media-body">
                     
                              @event.user.fullName
                          @newsFeedCardEmail(event)
                          
                          
                      </div>
                      <div class="media-right">
                          @Formatters.humanReadableTimeSince(event.created)
                      </div>
                      </p>
                  </div>
              </div>
          </div>
      }
