@(newsfeed: List[models.Event])(implicit user: Option[models.User])
@import _root_.util.Formatters
@import play.api.i18n.Messages
@for(event <- newsfeed) {
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-1">
          <a href="@routes.Profile.viewProfileUUID(event.user.id)">
            <img class="img-responsive" src="@event.user.avatarURL">
          </a>
        </div>
        <div class="col-xs-11">
          <div class="row">
            <a href="@routes.Profile.viewProfileUUID(event.user.id)">
              @event.user.fullName
            </a>
            @newsfeedCard(event)
          </div>
          <div class="row top-padding">
            @Formatters.humanReadableTimeSince(event.created)
          </div>
        </div>
      </div>
    </div>
  </div>
}
<script>
  $(document).ready(function() {
    // the default number of event index. means there is no event for this user.
    if(eventCount === 3){
      @if( newsfeed.size < 1) {
      $("#moreeventbutton").replaceWith("<p>You can follow <a href=@routes.Users.getUsers()>@Messages("users.title")</a>, <a href=@routes.Spaces.list("")>@Messages("spaces.title")</a>,"
              + " <a href=@routes.Datasets.list("")>@Messages("datasets.title")</a> and <a href=@routes.Collections.list("")>@Messages("collections.title")</a>."
              + " Any updates on your followed instances will show here.</p>");
      } else  {
      @if( newsfeed.size < 20) { $("#moreeventbutton").replaceWith("<p>No more events.</p>");}
      }
    } else {
      @if( newsfeed.size < 10) { $("#moreeventbutton").replaceWith("<p>No more events.</p>");}
    }

  });
</script>