@(extractorName: String, average: Int, lastweeksubmitted: Int, lastmonthsubmitted: Int)(implicit user: Option[models.User])
@import api.Permission

@main("Extractor Details") {
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/extractors/extractors.js")" type="text/javascript"></script>
    <style>
            strong        { text-align: right; }
            fieldset      { margin-top: 5px; }
            .form-actions { margin-top: 15px; }
    </style>

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-fullscreen"></span> <a href="@routes.Extractors.selectExtractors()">Extractor Catalog</a></li>
        <li><span class="glyphicon glyphicon-search"></span> @extractorName</li>
    </ol>

    <div class="page-header"><h1>@extractorName Metrics Details</h1></div>

    <div class="row">
        <div class="col-sm-8">
            <form>
                <fieldset>

                    <div class="row form-group">
                        <strong class="col-sm-3" for="extractorNameField">Last 24 Hours Execution Average</strong>
                        <span class="col-sm-9" for="extractorNameField">@average  Sec</span>
                    </div>
                        <!-- TODO: It would be nice to make this a mailto: link, but it doesn't seem trivial to scrape this out -->
                    <div class="row form-group">
                        <strong class="col-sm-3" for="extractorAuthorField">Last Week Submitted</strong>
                        <span class="col-sm-9" for="extractorAuthorField">@lastweeksubmitted</span>
                    </div>

                    <div class="row form-group">
                        <strong class="col-sm-3" for="extractorVersionField">Last Month Submitted</strong>
                        <span class="col-sm-9" for="extractorVersionField">@lastmonthsubmitted</span>
                    </div>
                </fieldset>

            </form>
        </div>

        <div class="col-sm-4">
                <!-- Insert sidebar here, if desired-->
        </div>
    </div>
}
