@(file: models.File, userMetadata: scala.collection.mutable.Map[String,Any], rdfExported: Boolean, curationId: Option[UUID])(implicit user: Option[models.User])

@import com.mongodb.casbah.Imports.DBObject
@import collection.JavaConverters._
@import api.Permission

<br/>

	@printLevelUserMetadata(metadata: scala.collection.mutable.Map[String,Any]) = {
		<ul class="usr_md_">
		@for((key,value) <- metadata) {
			@if(value.isInstanceOf[com.mongodb.BasicDBList]){
				@for(listValue <- value.asInstanceOf[com.mongodb.BasicDBList]) {
						<li class="usr_md_"><b class="usr_md_">@(key):</b>
						@if(listValue.isInstanceOf[String]) {			
							<span class="usr_md_">@listValue</span><button class="usr_md_ btn btn-link btn-sm" type="button">Modify</button>
                            <button class="usr_md_ btn btn-link btn-sm" >Delete</button>
						} else {
							<button class="usr_md_ btn btn-link btn-sm" type="button">Add property</button>
                            <button class="usr_md_ btn btn-link btn-sm" type="button">Delete</button>@printLevelUserMetadata(listValue.asInstanceOf[DBObject].toMap.asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]])
						}</li>
				}
			}else{
				<li class="usr_md_"><b class="usr_md_">@(key):</b>
				@if(value.isInstanceOf[String]) {			
					<span class="usr_md_">@value</span><button class="usr_md_ btn btn-link btn-sm" type="button">Modify</button>
                    <button class="usr_md_ btn btn-link btn-sm" >Delete</button>
				} else {
					<button class="usr_md_ btn btn-link btn-sm" type="button">Add property</button>
                    <button class="usr_md_ btn btn-link btn-sm" type="button">Delete</button>@printLevelUserMetadata(value.asInstanceOf[DBObject].toMap.asScala.asInstanceOf[scala.collection.mutable.Map[String, Any]])
				}</li>
			}	
		}
		</ul>
	}
	
	<div id='generalUserMetadata_@(file.id.stringify)' class='usr_md_'>
		@if(user.isDefined && Permission.checkPermission(Permission.EditMetadata, ResourceRef(ResourceRef.file, file.id))) {
			<button class="usr_md_ btn btn-link btn-sm" type="button">Add property</button>
		}

		@printLevelUserMetadata(userMetadata)
		<button class="usr_md_submit btn btn-primary btn-xs"><span class="glyphicon glyphicon-saved"></span> Submit</button>
		@if(rdfExported){
			<button class="usr_md_submit btn btn-default btn-sm rdfbtn"><span class="glyphicon glyphicon-pencil"></span> Get as RDF</button>
		}
	</div>




<script language="javascript">
	var topId = "generalUserMetadata_@(file.id.stringify)";
	@if(curationId.isDefined){
		window["uploadIp"+topId] = "@routes.CurationObjects.addFileUserMetadata(curationId.get, file.id)";
	} else {
		window["uploadIp"+topId] = "@api.routes.Files.addUserMetadata(file.id)";
        window["rdfIp"+topId] = "@api.routes.Files.getRDFUserMetadata(file.id)";
    }
	window["modelIp"+topId] = "@(routes.Assets.at("filesUserMetadataModel"))";
</script>
<script src="@routes.Assets.at("javascripts/userMetadata.js")" type="text/javascript"></script>


