@(file: models.File, id: String, previews : Map[models.File, Array[(java.lang.String, String, String, String, java.lang.String, String, Long)]], sections: List[models.Section])(implicit user: Option[securesocial.core.Identity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@showPreview(id: Int, p: (java.lang.String, String, String, String, java.lang.String, String, Long)) = {
	<script>
		var Configuration = {};
		Configuration.tab = "#previewer_@id";
		Configuration.id  = "@file.id";
		Configuration.url = "@p._5";
		Configuration.fileid = "@p._1";
		Configuration.authenticated = @user.isDefined;
		Configuration.previewer = "@routes.Assets.at(p._3)";
		Configuration.hostIp = "@play.Play.application().configuration().getString("hostIp")";
		if("@p._2" === "Thumbnail"){
			Configuration.fileType = "@p._6";
			Configuration.fileSize = @p._7;			
		}
		else if("@p._2" === "PTM"){
			Configuration.appletPath = "@(routes.Assets.at("plugins") + "/" + "envlib.jar")";
		}
		else if("@p._2" === "3DWebGL"){
			Configuration.jsPath = "@(routes.Assets.at("javascripts"))";
			Configuration.imagesPath = "@(routes.Assets.at("images"))";
		}
		else if("@p._2" === "Gigaimaging"){							
			Configuration.jsPath = "@(routes.Assets.at("javascripts"))";
		}
		else if("@p._2" === "X3d"){							
			Configuration.jsPath = "@(routes.Assets.at("javascripts"))";
			Configuration.annotationsEditPath = "@api.routes.Previews.editAnnotation(p._1)";
			Configuration.annotationsListPath = "@api.routes.Previews.listAnnotations(p._1)";
			Configuration.annotationsAttachPath = "@api.routes.Previews.attachAnnotation(p._1)";
		}
		else if("@p._2" === "Pdf"){							
			Configuration.jsPath = "@(routes.Assets.at("javascripts"))";
		}
	</script>
	<script type="text/javascript" src="@(routes.Assets.at(p._3) + "/" + p._4)"></script>
}

@main("File") {

	<script src="@routes.Assets.at("javascripts/previews.js")" type="text/javascript"></script>
	
	<div class="page-header">
		<h1>@file.filename	</h1>
	</div>
	<div class="row-fluid">
		<div class="span2">				
	
		</div>
		<div class="span6">
			<dl class="dl-horizontal">
				<dt>Filename:</dt>
				<dd>@file.filename</dd>
				<dt>Type:</dt>
				<dd>@file.contentType</dd>
				<dt>Uploaded on:</dt>
				<dd>@file.uploadDate</dd>
			</dl>
		</div>
		
		@for((f, pvs) <- previews) {
			<div class="row-fluid">
		    	<div class="span12">
		  			@if(pvs.length == 1) {

				  		<div id="previewer_1" ></div>
				  		@showPreview(1, pvs.head)
		  			} else {
				  		<div class="tabbable">
							<ul class="nav nav-pills" id="myTab">
								@for(i <- pvs.indices) {
						    		<li class=""><a href="#previewer_@i" data-toggle="tab">@pvs(i)._2</a></li>
				  				}
							</ul>
							<div class="tab-content">
								@for(i <- pvs.indices) {
							  		<div class="tab-pane" id="previewer_@i"></div>
							  		@showPreview(i, pvs(i))

								}
					  			<script type="text/javascript">
									$(function () {
					    				$('#myTab a:first').tab('show');
					 				 })
								</script>
							</div>
						</div>
					}
		  		</div>
			</div>
			
			<!-- sections -->
			@if(f.sections.size > 0) {	
			  	<div class="row-fluid" style="padding-top: 10px">
			  	  <div class="span6">
				  	<div id="galleria" style="float:left;clear:none;width:600px;height:300px;">
					  	@f.sections.map { s =>
					  		@if(s.preview.isDefined) {
					  			<img src="@api.routes.Previews.download(s.preview.get.id.toString)"
					  				class="img-polaroid" height="100px" 
					  			@if(s.startTime.isDefined) {
					  		 		data-title="Shot" data-description="Starts at @s.startTime seconds."
					  		 	} else {
					  		 		if (s.area.isDefined) {
					  		 			data-title="Area" data-description="@s.area.toString"
					  		 		} else {
										data-title="Unknown" data-description="Unknown info"
					  		 		}
					  		 	}
					  		 	></img>
					  		}
					  	}
				  	</div>
				  </div>
				</div>
				  
				<div class="row-fluid" style="padding-top: 10px">
				  <div class="span10">
				  	<div>
				  		<h5>Sections</h5>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Thumbail</th>
									<th>Information</th>
									<th>Find</th>
								</tr>
							</thead>
							<tbody>
					  		@f.sections.map { s =>
					  			<tr>
						  			<td>@s.order</td>
						  			<td>
								  		@if(s.preview.isDefined) {
								  			<img src="@api.routes.Previews.download(s.preview.get.id.toString)"
								  				class="img-polaroid" style="max-width: 100px;max-height: 100px;" 
								  			@if(s.startTime.isDefined) {
								  		 		data-title="Shot" data-description="Starts at @s.startTime seconds."
								  		 	} else {
								  		 		@if(s.area.isDefined) {
								  		 			data-title="Area" data-description="@s.area.toString"
								  		 		} else {
													data-title="Unknown" data-description="Unknown info"
								  		 		}
								  		 	}
								  		 	></img>
								  		 }
					  				</td>
						  			 <td>
						  			 @if(s.startTime.isDefined) {
						  			 	@(s.startTime.get / 60):@("%02d".format(s.startTime.get % 60))
						  		 	 } else {
						  		 		@if(s.area.isDefined) {
						  		 			@s.area.toString
						  		 		} else {
											Unknown info
						  		 		}
						  		 	}
						  			 </td>
						  			 <td><a href="@routes.Search.searchMultimediaIndex(s.id.toString)">Similar</a></td>
					  			 </tr>
					  		}
				  		</table>
				  	</div>
				  </div>
			  	</div>

				<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js" type="text/javascript"></script>
				<script>
				    document.addEventListener("DOMContentLoaded", function () {
						if ($("#ourvideo").length>0) {				    
					        var pop = Popcorn("#ourvideo");
					       
							@f.sections.map { s =>
					  			@if(s.startTime.isDefined) {
							   		pop.code({
								        start: @s.startTime,
								        onStart: function() {
								          var frame = @s.order - 1;
								          console.log("Jumping to " + frame + " " + @s.startTime); 
								          $('#galleria').data('galleria').show(frame);
								        },
								        onEnd: function() {
								          //console.log("end");   
								       }
								    });
								}
						    }
						}					    
				    });
		         </script>
													
			    <script src="@routes.Assets.at("javascripts/galleria-1.2.9.js")" type="text/javascript"></script>
			    <script>
			    	$(function() {
					    // Load the classic theme
					    Galleria.loadTheme('@routes.Assets.at("javascripts/galleria-classic/galleria.classic.min.js")');
					
					    // Initialize Galleria
					    Galleria.run('#galleria');
					    
					    var gallery = $('#galleria').data('galleria');
					    
						Galleria.ready(function(options) {
						
						    // 'this' is the gallery instance
						    // 'options' is the gallery options
						
						    this.bind('image', function(e) {
						        Galleria.log('Now viewing ' + e.imageTarget.src);
						    });
						});
				      	 
				      	
				    });
			    </script>
    			}
    		}
		
		<div class="span4">
			<a href="@routes.Files.download(id)" class="btn pull-right" target="_blank">Download</a>
		</div>
	</div>
	<div class="row-fluid" style="margin-top:50px">
		<div class="accordion" id="accordion1">
			<div class="accordion-group">
				<div class="accordian-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion1" href="#collapseOne">Comments</a>
				</div>
				<div id="collapseOne" class="accordion-body in collapse">
					@comment(List.empty, "post", api.routes.Files.comment(file.id.toString).toString)
					@comment(file.comments, file.id.toString)
					@sections.map { s =>
						@comment(s.comments, s.id.toString)
					}
				</div>
			</div>
		</div>
		
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordian-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion2" href="#collapseTwo">Debug</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">@file</div>
					<div class="accordion-inner">Previews:
						<ul>
							@previews.map { p =>
							<li>@p</li>
						}
						</ul>
					</div>
					<div class="accordion-inner">Sections:
						<ul>
						@sections.map { s =>
							<li>@s</li>
						}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}
