@(file: models.File, id: String, comments: List[Comment],
  previews : Map[models.File, Array[(java.lang.String, String, String, String, java.lang.String, String, Long)]],
  sections: List[models.Section], beingProcessed: Boolean, datasets: List[models.Dataset], folders: List[Folder],
  mds: List[models.Metadata],
  rdfExported: Boolean,
  extractionsStatus: List[Extraction], outputFormats: Option[List[String]])(implicit user: Option[models.User])

@import helper._
@import play.api.Play.current
@import api.Permission
@import _root_.util.FileUtils

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@* (pv.id.toString, p.id, p.path, p.main, api.routes.Previews.download(pv.id).toString, pv.contentType, pv.length) *@
@showPreview(id: String, p: (java.lang.String, String, String, String, java.lang.String, String, Long), filename: String, contentType: String) = {
	<script>
		Configuration.tab = "#previewer_@id";
		Configuration.url = "@p._5";
		Configuration.fileid = "@p._1";
		Configuration.previewer = "@routes.Assets.at(p._3)";
		if("@p._2" === "Thumbnail"){
			Configuration.fileType = "@p._6";
			Configuration.fileSize = @p._7;
		}
		else if("@p._2" === "X3d"){
			Configuration.annotationsEditPath = "@api.routes.Previews.editAnnotation(UUID(p._1)))";
			Configuration.annotationsListPath = "@api.routes.Previews.listAnnotations(UUID(p._1))";
			Configuration.annotationsAttachPath = "@api.routes.Previews.attachAnnotation(UUID(p._1))";
			Configuration.wasPTM = "@(filename.endsWith(".ptm") || contentType.contains("ptmimages"))";
			Configuration.calledFrom = "file";
		}
		else if("@p._2" === "Oni"){			
		}
		else if("@p._2" === "Video"){
			Configuration.fileType = "@p._6";
		}
		else if("@p._2" === "Video presentation"){
			Configuration.authenticatedFileModify = false;
			@if(user.isDefined) {
	     	 	@if(user.get.identityId.userId.equals(file.author.identityId.userId)){
					Configuration.authenticatedFileModify = true;
	     	 	}
			}			
		}
		else if("@p._2" === "External resource"){
			Configuration.authenticatedFileModify = false;
			@if(user.isDefined) {
	     	 	@if(user.get.identityId.userId.equals(file.author.identityId.userId)){
					Configuration.authenticatedFileModify = true;
	     	 	}
			}			
		}
	</script>
	<script type="text/javascript" src="@(routes.Assets.at(p._3) + "/" + p._4)"></script>
}

@main("File") {
@defining(play.api.Play.configuration.getBoolean("navOnSectionClick").getOrElse(true)){navOnSectionClick=>	
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/updateLicenseInfo.js")" language="javascript"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="@routes.Assets.at("javascripts/previews.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/popcorn-complete.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/galleria-1.2.9.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sectionsListProcess.js")" type="text/javascript"></script>

	<script>
    	var isPageLoaded = false;
    	var isx3dActive = false;
    	var Configuration = {};
    	Configuration.id  = "@file.id";
		Configuration.authenticated = @user.isDefined;
		Configuration.ptmAppletPath = "@(routes.Assets.at("plugins") + "/" + "envlib.jar")";
		Configuration.expressInstallPath = "@(routes.Assets.at("plugins") + "/" + "expressInstall.swf")";
		Configuration.iipZoomPath = "@(routes.Assets.at("plugins") + "/" + "IIPZoom.swf")";
		Configuration.jsPath = "@(routes.Assets.at("javascripts"))";
		Configuration.imagesPath = "@(routes.Assets.at("images"))";
		Configuration.appContext = "@play.api.Play.configuration.getString("application.context").getOrElse("")";
		var cur_description;
		function updateFileDescription() {
			cur_description = $('#ds_description').html().trim();
			$('<div class="edit_desc"> </div>').insertAfter($('#ds_description'));
			$('.edit_desc').append('<textarea id = "desc_input" class="form-control"/>');
			$('.edit_desc').append('<button id = "update_desc" class= "btn btn-sm btn-primary btn-margins" onclick = "saveDescription()"> <span class="glyphicon glyphicon-send"> </span> Save </button>');
			$('.edit_desc').append('<button id="cancel_desc" class="btn btn-sm edit-tab btn-default btn-margins" onclick="cancelDescription()"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>');
			if(cur_description.indexOf("Add a description") != 0) {
				$('#desc_input').val(htmlDecode(cur_description.replace(new RegExp("<br>", "g"), "\n")));
			}
			$('#ds_description').text("");
			$('#edit-description').css("display", "none");
			$('#edit-description').addClass("hiddencomplete");
		}

		function cancelDescription() {
			$('#ds_description').html(cur_description);
			$('.edit_desc').remove();
			$('#ds_description').css("display", "inline");
			$('#edit-description').removeClass("inline");
			$('#edit-description').css("display", "");
			$('#aboutdesc').mouseleave();
		}

		function saveDescription() {
			var description = $('#desc_input').val();
			var encDescription = htmlEncode(description);
			jsonData = JSON.stringify({"description": encDescription});

			var request = jsRoutes.api.Files.updateDescription("@file.id").ajax({
				data: jsonData,
				type: 'PUT',
				contentType: "application/json"
			});

			request.done(function(response, textStatus,jqXHR) {
				$('#ds_description').html(urlify(htmlEncode(description).replace(/\n/g, "<br>")));
				$('.edit_desc').remove();
				$('#ds_description').css("display", "inline");
				$('#edit-description').removeClass("inline");
				$('#edit-description').css("display", "");
				$('#aboutdesc').mouseleave();
				notify("File description updated successfully", "success", false, 2000 );
			});

			request.fail(function(jqXHR, textStatus, errorThrown) {
				console.error("The following error occurred: " + textStatus, errorThrown);
				var errMsg = " You must be logged in to update the information about a collection.";
				if(!checkErrorAndRedirect(jqXHR, errMsg)) {
					notify("The collection information was not updated due to: " + errorThrown, "error");
				}
			});

		}

		function urlify(text) {
			var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@@#\/%?=~_|!:,.;]*[-A-Z0-9+&@@#\/%=~_|])/ig;
			return text.replace(urlRegex, function(url) {
				return '<a href="' + url + '">' + url + '</a>';
			})
		}
    </script>
    <script>
    	window.onload = function() {
    		isPageLoaded = true;
    	}
    </script>

	<div class="row">
		<div class="col-md-8 col-right-border">
			<div id="prf-file-name" class="text-left inline">
				@if(Permission.checkPermission(Permission.EditFile, ResourceRef(ResourceRef.file, file.id))) {
					<h1 id="file-name-title" class="inline" style="cursor:pointer" title="Click to edit file name.">@Html(file.filename)</h1>
					<div id="h-edit-file" class="hiddencomplete">
						<a id ="edit-file" href="javascript:updateFileName()" title="Click to edit file name.">
							<span class ="glyphicon glyphicon-edit" aria-hidden ="true"></span>
						</a>
					</div>
				} else {
					<h1 id="file-name-title" class="inline">@Html(file.filename)</h1>
				}
			</div>
			<h4>in
			@if(datasets.length > 0) {
				@datasets.map {dataset =>
					<span class="caption break-word">
						<a href="@(routes.Datasets.dataset(dataset.id))" id='@dataset.id'>@Html(dataset.name)</a>
					</span>
				}
			}
			@if(folders.length > 0) {
					@folders.map { folder =>
						<span class="caption break-word">
							<a href="@routes.Datasets.dataset(folder.parentDatasetId)#folderId=@folder.id">@folder.displayName</a>
						</span>
					}
			}
			</h4>
			<div class="col-md-12 box-white-space" id="aboutdesc">
				<p id ="ds_description" class="inline">@if(file.description.length > 0) { @Html(file.description) } else {Add a description}</p>
				@if(Permission.checkPermission(Permission.EditFile, ResourceRef(ResourceRef.file, file.id))) {
					<a id="edit-description" class="hiddencomplete" href="javascript:updateFileDescription()" title="Click to edit description">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
				}
			</div>
		@for((f, pvs) <- previews) {
			<div class="row" id="filePrevContainer_@(f.id.toString)" data-previewsCount="@(pvs.length)" data-filename="@f.filename">
		    	<div class="col-md-12">
		    	<!-- 
		    	First check if there is only one previewer, and if the value of the URL for it is "null". If so
		    	that means there was no preview generated and the file is not allowed to be used due to the license
		    	that is on the file.
		    	 -->
		    	@if(pvs.length == 1 && pvs(0)._5 == "null") {
                    <h4>No previews currently available for this file</h4>
                } else {
			  		<div class="tabbable">
						<ul class="nav nav-pills" id="myTab_@(f.id.toString)">
							@for(i <- pvs.indices) {
					    		<li class=""><a href="#previewer_@(f.id.toString)_@i" data-toggle="tab">@pvs(i)._2</a></li>
			  				}
						</ul>
						<div class="tab-content"  id="previewsContent_@(f.id.toString)">						    						    
						    @for(i <- pvs.indices) {
						  		<div class="tab-pane previewDiv" id="previewer_@(f.id.toString)_@i" data-previewId="@(pvs(i)._1)" data-previewerId="@(pvs(i)._2)"></div>
						  		@showPreview(f.id.toString + "_" + i, pvs(i), f.filename, f.contentType)

							}							
				  			<script type="text/javascript">
								$(function () {
									$('#myTab_@(f.id.toString) a:first').tab('show');
				 				 })
							</script>
						</div>
					</div>
			    }
		  		</div>
			</div>
			@if(pvs.length <= 1) {
				<script>				
	    			$('#myTab_@(f.id.toString)').attr('style', 'display:none;');
	    		</script>
    		}

        <div class="row">
        <div class="col-md-12 button-margins">
          <div class="btn-group" role="group" aria-label="...">
		  @if( Permission.checkPermission(Permission.DownloadFiles, ResourceRef(ResourceRef.file, file.id))) {
			  <button id="downloadButton" type="button" onclick="return downloadFile();" class="btn btn-primary" title="Download and enjoy this file."> <span class="glyphicon glyphicon-save"></span>
				  Download </button>
		  } else {
			  <!-- if 'disabled' title is not visible -->
			  <button type="button" class="btn btn-primary disabled" title="You don't have permission to download this file."> <span class="glyphicon glyphicon-save"></span>
				  Download </button>
		  }
            <!--  If outputFormats list is not empty, display downloadAs drop-down button with the list of available formats -->      
            @if(!outputFormats.isEmpty){  
              <div class="btn-group" role="group">         
                <button id="downloadAsButton" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="glyphicon glyphicon-download-alt"></span> </button>
                <ul class="dropdown-menu" role="menu">
                  @outputFormats.get.map { outputFrmt =>
                    <li id="doc" onclick="return downloadFileAs('@routes.Files.downloadAsFormat(UUID(id), outputFrmt)'  );" > <a href="#">@outputFrmt</a> </li>          
                  }                 
                </ul>  
              </div> <!-- end of class button-group -->                        
            } <!-- end of    if(!outputFormats.isEmpty)-->              
          </div> <!-- end of class btn-group -->
                @if(user.isDefined) {
                <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->                
                    @if(user.get.identityId.userId.equals(file.author.identityId.userId)){                    
                        <span class="align-right">
							@if(datasets.length > 0) {
				            <button id="deleteButton" onclick="confirmDeleteResource('file','@(file.id)','@(file.filename.replace("'","&#39;"))', true, '@(routes.Datasets.dataset(datasets.head.id))')" class="btn btn-link" title="Delete">
						    <span class="glyphicon glyphicon-trash"></span> Delete</button>
							} else {
								<button id="deleteButton" onclick="confirmDeleteResource('file','@(file.id)','@(file.filename.replace("'","&#39;"))', true, '@(routes.Datasets.dataset(folders.head.parentDatasetId))#folderId=@folders.head.id')" class="btn btn-link" title="Delete">
									<span class="glyphicon glyphicon-trash"></span> Delete</button>
							}

					    </span>
					} else {
					    <span class="align-right">
                            <button disabled id="deleteButton" onclick="confirmDeleteResource('file','@(file.id)','@(file.filename.replace("'","&#39;"))', true, '@(routes.Application.index())')" class="btn btn-link" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </span>
					}

                    @if(!file.followers.contains(user.get.id)) {
                        <button id="followButton"
                                class="btn btn-link followButton"
                                objectId="@file.id"
                                objectName="@file.filename"
                                objectType="file"><span class="glyphicon glyphicon-star"></span> Follow
                        </button>
                    } else {
                        <button id="followButton"
                                class="btn btn-link followButton"
                                objectId="@file.id"
                                objectName="@file.filename"
                                objectType="file"><span class="glyphicon glyphicon-star-empty"></span> Unfollow
                        </button>
                    }
                }
            </div>
        </div>

        <div id="recommendPanel" class="panel panel-default" style="display : none;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion"
                    href="#collapseThree"
                    aria-expanded="true"
                    style="float:left;">
                      Also follow these?
                    </a>
                    <a style="float:right;" href="javascript:$('#recommendPanel').slideToggle('slow');">x</a>
                    <div style="clear : both;"></div>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
                <div id="recommendDiv" class="panel-body">
                  </div>
            </div>
        </div>

			<!-- sections -->
			@if(sections.size > 0) {
			  	<div class="row border-top">
			  	  <div class="col-md-12">
                    <h4>Sections</h4>
				  	<div class="galleriaHelp">Click on icon at bottom-right of gallery to toggle sections gallery fullscreen view</div>
				  	<div id="galleria" style="float:left;clear:none;width:100%;height:400px;">
				  	</div>
				  	<script type="text/javascript">
				  		$(document).ready(function() {
				  			window["currGalleriaWidth"]= $("#galleria").css("width").replace("px","");
				  			$(window).resize(function(){
				  				newWidth = $("#galleria").css("width").replace("px","");
				  				if(newWidth != window["currGalleriaWidth"]){
				  					$("#galleria").css("height", Math.round(parseInt($("#galleria").css("height").replace("px",""))*parseInt(newWidth)/parseFloat(window["currGalleriaWidth"]))+"px" );
				  					window["currGalleriaWidth"]=newWidth;
				  				}		
				  			});
				  		});
				  	</script>
				  </div>
				</div>
				<div class="row" style="padding-top: 10px">
				    <div class="col-md-12">
						<table class="table" id="scrollTableGalleria">
							<thead>
								<tr>
									<th class="galleriaOrder">#</th>
									<th class="galleriaTheThumbnail">Thumbnail</th>
									<th class="galleriaPosition">Position</th>
									<th class="galleriaDescr">Description</th>
									<th class="galleriaFindSimilar">Find</th>
								</tr>
							</thead>
							<tbody>
					  		@sections.map { s =>
					  			<tr>
						  			<td class="galleriaOrder">@(if (s.order > 0) s.order else "")</td>
						  			<td class="galleriaTheThumbnail">
								  		@if(s.preview.isDefined || s.thumbnail_id.isDefined) {
								  			@if(s.thumbnail_id.isDefined){
								  				<img src="@(routes.Files.thumbnail(UUID(s.thumbnail_id.get)))"				  			
								  			} else {
								  				<img src="@api.routes.Previews.download(s.preview.get.id)"
								  			}
								  				class="img-polaroid" style="max-width: 100%;"
								  			@if(s.startTime.isDefined) {
								  		 		data-title="Shot" data-description="Starts at @s.startTime seconds."
								  		 	} else {
								  		 		@if(s.area.isDefined) {
								  		 			data-title="Area" data-description="@s.area.toString"
								  		 		} else {
													data-title="Unknown" data-description="Unknown info"
								  		 		}
								  		 	}
								  		 	></img>
								  		}
					  				</td>
						  			 <td class="galleriaPosition">
						  			 @if(s.startTime.isDefined) {
						  			 	@(s.startTime.get / 60):@("%02d".format(s.startTime.get % 60))
						  		 	 } else {
						  		 		@if(s.area.isDefined) {
						  		 			@s.area.get.toString
						  		 		} else {
											Unknown info
						  		 		}
						  		 	}
						  			 </td>
						  			 <td class="galleriaDescr">
						  			 	<span id="sectiondescr_@(s.id)"  style="display:block;white-space: pre-line;">@s.description.getOrElse("")</span>
						  			 	@if(user.isDefined) {
						  			 		@if(user.get.identityId.userId.equals(file.author.identityId.userId)){
						  			 			<div id="sectiondescrEditArea_@(s.id)" style="display:none;">
													<textarea name="sectiondescrText" class="sectionTextBox" id="sectiondescrText_@(s.id)" style="width:100%; height:100px;">@s.description.getOrElse("")</textarea>
												</div>
												<button class="btn btn-default btn-xs btn-margins" onclick="return openForEditSectionDescr('@s.id');" style="display:inline;" id="sectiondescrEdit_@(s.id)" title="Edit Description">
									                <span class="glyphicon glyphicon-edit"></span> Edit</button>
												<button class="btn btn-primary" onclick="return postSectionDescr('@s.id', '@api.routes.Sections.description(s.id).toString');" style="display:none; margin-top:5px;" id="sectiondescrPost_@(s.id)" title="Submit">
									                <span class="glyphicon glyphicon-ok"></span> Submit</button>
												<button class="btn btn-default" onclick="return cancelEditSectionDescr('@s.id');" style="display:none; margin-top:5px;" id="sectiondescrCancel_@(s.id)" title="Cancel">
									                <span class="glyphicon glyphicon-remove"></span> Cancel</button>

									            <script>
									            	window["previousSectiondescr_@(s.id)"] = '@s.description.getOrElse("")';
									            </script>
						  			 		}
						  			 	}
						  			 </td>
						  			 <td class="galleriaFindSimilar"><a href="@routes.Search.callSearchMultimediaIndexView(s.id)">Similar</a></td>
					  			 </tr>
					  		}
					  		</tbody>
					  		<script>
					  			function fixGalleriaTable(){
					  				galleriaScenesVisible = $("#scrollTableGalleria tbody tr").length;
						  			if(galleriaScenesVisible > 5)
						  				galleriaScenesVisible = 5;					  		
						  			$("#scrollTableGalleria tbody").css("height", (parseInt($("#scrollTableGalleria tbody tr").css("height").replace("px",""))*galleriaScenesVisible)+"px");
					  			}
					  			fixGalleriaTable();
					  			$(window).resize(function(){
					  				fixGalleriaTable();
					  			});
					  		</script>
				  		</table>
				  	</div>
			  	</div>
				
				<script>
				    document.addEventListener("DOMContentLoaded", function () {
						if ($("#ourvideo").length>0) {
					        var pop = Popcorn("#ourvideo");

							@sections.map { s =>
					  			@if(s.startTime.isDefined) {
							   		pop.code({
								        start: @s.startTime,
								        onStart: function() {
								          var frame = @s.order - 1;
								          console.log("Jumping to " + frame + " " + @s.startTime);
								          $('#galleria').data('galleria').show(frame);
								        },
								        onEnd: function() {
								          //console.log("end");
								       }
								    });
								}
						    }
						}
				    });
		        </script>
			    
			    <script>
			    	$(function() {
					    // Load the classic theme
					    Galleria.loadTheme('@routes.Assets.at("javascripts/galleria-classic/galleria.classic.min.js")');

						galleriaData = [];
					    @sections.map { s =>
							@if(s.preview.isDefined) {
								galleriaItem = {};
								galleriaItem["image"] = "@api.routes.Previews.download(s.preview.get.id)";
								@if(s.startTime.isDefined) {
									galleriaItem["title"] = "Shot";
									galleriaItem["description"] = "Starts at @s.startTime seconds.";
							 	} else {
							 		@if(s.area.isDefined) {
							 			galleriaItem["title"] = "Area";
							 			galleriaItem["description"] = "@s.area.toString";
							 		} else {
							 			galleriaItem["title"] = "Unknown";
							 			galleriaItem["description"] = "Unknown info";
							 		}
							 	}
								galleriaData.push(galleriaItem);
							}
						}

					    @if(navOnSectionClick){
					    	Galleria.configure({
						        showInfo: false
						    });
					         // Initialize Galleria and, if for a video, onclick events for going to time of selected image when clicking main image
						    Galleria.run('#galleria', {					   		
							        extend: function(options) {
							          if ($("#ourvideo").length>0) {
							            Galleria.log(this); // the gallery instance
							            Galleria.log(options); // the gallery options
		
							            // listen to when an image is shown
							            this.bind('image', function(e) {
		
							                Galleria.log(e); // the event object may contain custom objects, in this case the main image
							                Galleria.log(e.imageTarget); // the current image
		
							                // lets make galleria make the video jump to the time of the selected image when clicking it:
							                $(e.imageTarget).click(this.proxy(function(){
							                	var pop = Popcorn("#ourvideo");
							                	pop.currentTime(parseInt(this._data[this._active].description.match(/\d+/)[0]));
							                }));
							            });
							          }
							        },
							        dataSource: galleriaData
						    });
					    }
					    @if(!navOnSectionClick){
					    	// Initialize Galleria
					    	Galleria.run('#galleria', {dataSource: galleriaData});
					    }

					    var gallery = $('#galleria').data('galleria');

						Galleria.ready(function(options) {
						    // 'this' is the gallery instance
						    // 'options' is the gallery options
						    this.bind('image', function(e) {
						        Galleria.log('Now viewing ' + e.imageTarget.src);
						    });
						    var gallery = this; // galleria is ready and the gallery is assigned
						    this.addElement('fscr');
						    this.appendChild('stage','fscr');
						    var fscr = this.$('fscr')
						        .click(function() {
						            gallery.toggleFullscreen();
						        });
						});
				    });
			    </script>
    			}
    		}

			<div class="border-top">
				<div class="row">
					<div class="col-md-10">
						<h4>Metadata</h4>
					</div>
					<div class="col-md-2">
						<a href="@api.routes.Files.getMetadataJsonLD(file.id)" class="pull-right" title="JSON-LD">
							<img src="@routes.Assets.at("images/json-ld.png")"/>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						@metadatald.addMetadata("file", file.id.toString, "metadata-content")
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="metadata-content">
						@metadatald.view(mds, true)
					</div>
				</div>
			</div>

			<div class="row border-top">
				<div class="col-md-12">
					<h4>Extractions</h4>
					<a class="btn btn-link" data-toggle="collapse" href="#extractions" aria-expanded="false"
					aria-controls="collapseExample">
						List extraction events
					</a>
					<div class="collapse" id="extractions">
						@extractions.extractionsByFile(extractionsStatus)
					</div>
				</div>
			</div>

            <div class="row border-top">
                <div class="col-md-12">
                    <h4>Comments</h4>
                    @if(user.isDefined) {
                        @commentform(file.id.toString, "file")
                    }
                    <ol class="list-unstyled" id="reply_@file.id.toString">
                        @comment(comments)
                    </ol>
                </div>
            </div>

			<script language="javascript">
					var fileName = $('#file-name-title').text();
					$('#file-name-title').click(function(){
						updateFileName();
					});

					function updateFileName() {
						fileName = $('#file-name-title').text();
						$('<div class="inline file_name_div h3"> </div>').insertAfter($('#prf-file-name'));
						$('.file_name_div').append('<input type="text" id="file_name_input" class="form-control" />');
						$('.file_name_div').append('<button class="btn btn-sm btn-primary edit-tab" onclick="saveFileName()"> <span class="glyphicon glyphicon-send"></span> Save</button>');
						$('.file_name_div').append('<button class="btn btn-sm btn-link" onclick="cancelFileName()"> <span class="glyphicon glyphicon-remove"></span> Cancel</button>');
						$('.file_name_div').append('<div class="hiddencomplete" id="file-name-error"> <span class="small error">File name is required.</span></div>');

						$('#file_name_input').val(fileName);
						$('#file-name-title').text("");
						$('#h-edit-file').css("display", "none");
					}

					function saveFileName() {
						if($('#file_name_input').val().length < 1) {
							$('#file-name-error').show();
							return false;
						} else {
							$('#file-name-error').hide();
						}
						var name = $('#file_name_input').val();
						jsonData = JSON.stringify({"name": htmlEncode(name)});

						var request = jsRoutes.api.Files.updateFileName('@file.id').ajax({
							data: jsonData,
							type: 'PUT',
							contentType: "application/json"
						});
						request.done(function(response, textStatus, jqXHR) {
							$('.file_name_div').remove();
							$('#file-name-title').text(htmlEncode(name).replace(/\n/g, "<br />"));
							$('#prf-file-name').mouseleave();
							$('#h-edit-file').css("display", "");
						});
						request.fail(function(jqXHR, textStatus, errorThrown) {
							console.error("The following error occurred: " + textStatus, errorThrown);
							var errMsg = "Yoy must be logged in to update the file name.";
							if(!checkErrorAndRedirect(jqXHR, errMsg)) {
								notify("The file name was not updated due to: "+ errorThrown, "error");
							}
						});
					}

					function cancelFileName() {
						$('#file-name-title').html(fileName);
						$('.file_name_div').remove();
						$('#prf-file-name').css("display", "inline");
						$('#h-edit-file').css("display", "");
						$('#prf-file-name').mouseleave();
					}

					$(document).ready(function(){
						$(document).on('mouseenter', '#prf-file-name', function() {
							$('#h-edit-file').removeClass("hiddencomplete");
							$('#h-edit-file').addClass("inline");
						}).on('mouseleave', '#prf-file-name', function() {
							$('#h-edit-file').removeClass("inline");
							$('#h-edit-file').addClass("hiddencomplete");
						});
					});
			</script>
		</div>

        <div class="col-md-4">

            <div class="row ds-section-sm file-info">
                <table class="table table-condensed">
					<tr><td><b>Type:</b></td><td>@file.contentType</td></tr>
					<tr><td><b>File&nbsp;size:</b></td><td title="@file.length bytes">@FileUtils.humanReadableByteCount(file.length)</td></tr>
					@if(Permission.checkServerAdmin(user)) {
						<tr><td><b>File&nbsp;location:</b></td>
						@if(file.loader == "services.mongodb.MongoDBByteStorage") {
							<td>mongo</td>
						}
						@if(file.loader == "services.filesystem.DiskByteStorageService") {
							@if(file.path.isEmpty) {
								<td>missing</td>
							} else {
								<td>
								@if(file.path.get.length>10) {
									<span title="@file.path.get">...@file.path.get.substring(file.path.get.length-10, file.path.get.length)</span>
								} else {
									@file.path.get
								}
								<a class="btn btn-link btn-sm clipboard" data-copy="@file.path.get" title="Copy path to clipboard"><span class="glyphicon glyphicon-edit"></span> copy</a></td>
							}
						}
						</tr>
					}
					<tr><td><b>SHA&nbsp;512:</b></td><td>
						@if(file.sha512.length > 10) {
							<span title="@file.sha512">...@file.sha512.substring(file.sha512.length-10, file.sha512.length)</span>
						} else {
							@file.sha512
						}
						<a class="btn btn-link btn-sm clipboard" data-copy="@file.sha512" title="Copy SHA to clipboard"><span class="glyphicon glyphicon-edit"></span> copy</a></td></tr>

					<tr><td><b>Uploaded&nbsp;on:</b></td><td>@file.uploadDate.format("MMM dd, yyyy HH:mm:ss")</td></tr>
                    <tr><td><b>Uploaded&nbsp;by:</b></td><td> <a href = "@routes.Profile.viewProfile(file.author.email)"> @file.author.fullName</a></td></tr>
                </table>
            </div>

			<!-- License elements-->
            <div class="row ds-section-sm border-top">
                <div class="accordion" id="accordion6">
                    <div class="accordion-group">
                        <div class="accordian-heading">
                            <h4>License</h4>

                            <table>
                                <tr>
                                    <td><b>Type: </b></td>
                                    <td id="licensetextdata" style="padding-left:10px;">blank</td>
                                </tr>
                                <tr>
                                    <td><b>Holder: </b></td>
                                    <td id="rightsholderdata" style="padding-left:10px;">blank</td>
                                </tr>
                            </table>
                                @if(user.isDefined) {
                                <a class="btn btn-link btn-sm accordion-toggle collapsed" data-toggle="collapse"
                                   data-parent="#accordion6" href="#collapseSix" id="editlicense"
                                   title="Edit License Information">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                                }
                        </div>
                        <div id="collapseSix" class="accordion-body collapse">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    @if(user.isDefined) {
                                      @licenseform(file.id.toString, file.licenseData, "file", file.author.fullName)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="@routes.Assets.at("javascripts/recommendation.js")" type="text/javascript"></script>
                <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    //Will have to modify the if check to see if there is data that specifies what should be selected
                    //Incoming data may specifiy the type of license, the name of the owner of the rights, the text
                    //describing the license rights, the URL for the license, and whether or not downloading is
                    //allowed.
                    var fileLicenseType = "@file.licenseData.m_licenseType";
                    var fileRightsHolder = "@file.licenseData.m_rightsHolder";
                    var fileLicenseText = "@file.licenseData.m_licenseText";
                    var fileLicenseUrl = "@file.licenseData.m_licenseUrl";
                    var fileAllowDownload = "@file.licenseData.isDownloadAllowed(user)";
                    var fileImageBase = '@routes.Assets.at("images")';
                    var fileAuthorName = '@file.author.fullName';

                    if (!@user.isDefined){
                        updateInterface(fileLicenseType, fileRightsHolder, fileLicenseText, fileLicenseUrl, fileAllowDownload, fileImageBase, fileAuthorName);
                    }

                    $(document).on('click', '.followButton', function() {
                        var id = $(this).attr('objectId');
                        var name = $(this).attr('objectName');
                        var type = $(this).attr('objectType');
                        if ($(this).attr('id') === '') {
                          followHandler.call(this, jsRoutes, id, name, type, undefined, undefined);
                        } else {
                          followHandler.call(this, jsRoutes, id, name, type, function(data) {
                                recommendationHandler(jsRoutes, $('#recommendPanel'), $('#recommendDiv'),
                                              data['recommendations']);
                            }, undefined);
                        }
                    });
					$(document).on('mouseenter', '#aboutdesc', function() {
						$('#edit-description').removeClass("hiddencomplete");
						$('#edit-description').addClass("inline");
					}).on('mouseleave', '#aboutdesc', function() {
						$('#edit-description').removeClass("inline");
						$('#edit-description').addClass("hiddencomplete");
					});
                });

                function downloadFile() {
                    var downloadRoute = "@routes.Files.download(UUID(id))";
                    window.open(downloadRoute, '_blank');                    
                }
                
                function downloadFileAs(downloadRoute) {
                    console.log("downloadFileAs - route = " + downloadRoute); 
                    window.open(downloadRoute, '_blank');          
                }	
                
                </script>
            </div>
            <!-- End License elements -->

            <div class="row ds-section-sm border-top">
              <h4>Tags</h4>
              <ul id="tagList">
				  <!-- Do the tags need to have [File] and [Section] appeneded to them? -->
                  @file.tags.map { tag =>
                    <li class="tag"><a href="@routes.Tags.search(tag.name)" id="@tag.name" data-id="@tag.id">@Html(tag.name) [File]</a>
                        <a href='javascript:void(0);'>
                            <span style="display:none;" id='@tag.name' data-id='@tag.id' class='glyphicon glyphicon-remove'></span></a></li>
                  }
                  @file.sections.map { section =>
                    @section.tags.map { tag =>
                      <li><a href="@routes.Tags.search(tag.name)">@Html(tag.name) [Section]</a></li>
                    }
                  }
              </ul>
              <form class="form-inline requiresLogin requiresLoginCommunity">
                <div class="input-group input-group-sm col-md-8">
                  <input type="text" maxlength="@play.api.Play.configuration.getInt("clowder.tagLength").getOrElse(100)" id="tagField" class="form-control">
                  <span class="input-group-btn">
                        <button class="btn btn-default btn-large" id="tagB" title="Add Tag">
                            <span class="glyphicon glyphicon-tag"></span>
                        </button>
                  </span>                  
                </div>
              </form>
              <script language="javascript">
                window["userDefined"] = false;
              </script>
              @if(user.isDefined) {
                <script language="javascript">
                  window["userDefined"] = true;
                </script>
              }
              <script language="javascript">
                //The removeTag code is almost identical to the code in tags.scala.html. Should be unified.
                function removeTag() {
                  var tagId = $(this).attr("id");
                  console.log("Removing tag " + tagId);
                  //The data-id attribute is needed since a) the removeTag for some reason is based off the tag name (text), which is what the id attribute is
				  //and b) identifiying elements by the tag text can sometimes break, especially in the special cases where there are characters that need encoding.
				  //
				  //The real question is since that tags have UUIDs, why aren't they simply removed in that manner. In the add, the dom element isn't added until success
				  //so the ID could be returned there and added into the elements as needed.
                  var tagDataId = $(this).attr("data-id");
        		  console.log("data-id to remove is " + tagDataId);

                  var request = jsRoutes.api.Files.removeTags('@file.id').ajax({
                    data: JSON.stringify({"tags":[tagId]}),
                    type: 'POST',
                    contentType: "application/json"
                  });

                  request.done(function (response, textStatus, jqXHR) {
                    console.log("Response " + textStatus);
                    $("[data-id=" + tagDataId + "]").parents("li").remove();
                  });

                  request.fail(function (jqXHR, textStatus, errorThrown){
                	  console.error("The following error occured: " + textStatus, errorThrown);
                      var errMsg = "You must be logged in to remove a tag from a file.";                                
                      if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                          notify("The tag was not removed from the file due to : " + errorThrown, "error");
                      }    
                  });
                  
                  return false;
                }

                function removeIconMouseIn() {
                  $(this).find(".glyphicon-remove").fadeIn(100);
                }

                function removeIconMouseOut() {
                  $(this).find(".glyphicon-remove").fadeOut(100);
                }

                $(function() {
                  var tmpId = 1;
                  if(window["userDefined"] == true)
                    $("#tagList").children("li").each(function(){
                      $(this).hover(
                        removeIconMouseIn,removeIconMouseOut
                      );
                    });
                  $("#tagList").find(".glyphicon-remove").click(removeTag);
                  
                  $('#tagB').click(function() {
                    var tag = $('#tagField').val();
                    tag = htmlEncode(tag);

                    var isTagPresent = false;
                    $("#tagList").children("li").each(function (index, tagLi) {
                      if($(tagLi).attr("name")===tag) {
                        isTagPresent = true;
                      }
                    });
        
                    if (tag !== "" && isTagPresent != true) {
                      console.log("submitting tag " + tag);
                      var request = jsRoutes.api.Files.addTags('@file.id').ajax({
                        data: JSON.stringify({"tags":[tag]}),
                        type: 'POST',
                        contentType: "application/json",
                      });
                       
                      request.done(function (response, textStatus, jqXHR){
                        console.log("Response " + response);
                        var url = jsRoutes.controllers.Tags.search(tag).url;
                        $newTag = $("<li class='tag'><a href='" + url + "'id='" + htmlEncode(tag) +"' data-id='newId" + tmpId + "'>" + tag + " [File]</a><a href='javascript:void(0);'><i style='display:none;'id='" + htmlEncode(tag) +"' data-id='newId" + tmpId + "' class='glyphicon glyphicon-remove'></i></a></li>").appendTo('#tagList');
                        $newTag.hover(removeIconMouseIn,removeIconMouseOut);
                        $newTag.find(".glyphicon-remove").click(removeTag);
                        $('#tagField').val("");
                        tmpId = tmpId+1;
                       });
                  
                      request.fail(function (jqXHR, textStatus, errorThrown){
                    	  console.error("The following error occured: " + textStatus, errorThrown);
                          var errMsg = "You must be logged in to add a tag to a file.";                                
                          if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                              notify("The tag was not added to the file due to : " + errorThrown, "error");
                          }    
                      });
                      return false;
                    }
                  });
                  
                  $('#tagField').keypress(function (e) {
                  if (e.which == 13) {
                    console.log("enter");
                    $('#tagB').click();
                    return false;
                  }
                });
                
              });
            </script>           
            @if(!user.isDefined) {
              <script language="javascript">
                $(".requiresLogin").css("display","none");
              </script>
            }
            </div>





    </div> @* End of small right hand side column *@

	</div>

	@if(!user.isDefined) {
        <script language="javascript">
            $(".requiresLogin").css("display","none");
        </script>
    }

    @if(user.isDefined) {
        @if(!user.get.identityId.userId.equals(file.author.identityId.userId)){
            <script language="javascript">
                $(".requiresLogin:not(.requiresLoginCommunity)").css("display","none");
            </script>
        }
    }

}}

