@(files: List[models.File], prev: String, next: String, limit: Int)(implicit user: Option[securesocial.core.Identity])

@main("Files") {
<div class="page-header">
  <h1>Files</h1>
</div>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Uploaded</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@files.map { file =>
					<tr>
						<td><a href="@(routes.Files.file(file.id.toString))">@file.filename</a></td>
						<td>@(if(file.contentType != null) file.contentType else "N/A")</td>
						<td>@file.uploadDate</td>
						<td>@if(!file.thumbnail_id.isEmpty){<img src="@(routes.Files.thumbnail(file.thumbnail_id.toString().substring(5,file.thumbnail_id.toString().length-1)))" alt="Thumbnail of @(file.filename)" height="120" width="120">}</td>
						<td><a href="#" onclick="removeFile('@(file.id.toString)',event)">Remove</a></td>
					</tr>
				}
			</tbody>
		</table>
		<ul class="pager">
			@if(prev != "") {
  			<li class="previous"><a href="@(routes.Files.list("b", prev, limit))">Previous</a></li>
  			}
  			@if(next != "") {
  			<li class ="next"><a href="@(routes.Files.list("a", next, limit))">Next</a></li>
  			}
		</ul>
	</div>
</div>
<script language="javascript">	
	var hostIp = "@play.Play.application().configuration().getString("hostIp")";
</script>
<script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>
}
