@()(implicit user: Option[models.User])

@main("File metadata search") {
<div class="page-header">
  <h1>File metadata search</h1>
</div>
<div class="row-fluid">
	<div class="span12">
		<form class="form-inline">
			<h5>Select properties to search for (in value strings, input * alone to search for any string value):</h5>
			<div id='queryUserMetadata' class='usr_md_'>
				&nbsp;&nbsp;&nbsp;<button class="usr_md_" type="button">Add property</button>
				<ul class="usr_md_ usr_md_search_list"></ul>
				<button class="usr_md_" type="button">Add disjunction</button>
				<br />
				<button class="usr_md_submit btn" type="button">Submit</button></div>
		</form>	
		<table id='resultTable' class="table table-bordered table-hover" style="display:none;">
			<thead>
				<tr>					
						<th>Name</th>
						<th>Type</th>
						<th>Uploaded</th>
						<th></th>
						@if(user.isDefined) {
							<th></th>
						}
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<ul class="pager">
			<li class="previous" style="visibility:hidden;"><a class="btn btn-link" href="#"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
			<li class ="next" style="visibility:hidden;"><a class="btn btn-link" href="#">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
		</ul>
	</div>
</div>
<script language="javascript">
	window["userDefined"] = false;
	window["userId"] = "";
</script>
@if(user.isDefined) {
	<script language="javascript">
		window["userDefined"] = true;
		window["userId"] = "@user.get.identityId.userId";
	</script>
}
<script language="javascript">	
	var queryIp = "@api.routes.Files.searchFilesGeneralMetadata";
	var searchOn = "files";
	var searchFor = "all";
</script>
<script src="@routes.Assets.at("javascripts/searchUserMetadata.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>
}
