@(files: List[models.File], prev: String, next: String, limit: Int)(implicit user: Option[securesocial.core.Identity])

@main("Files") {
<div class="page-header">
  <h1>Files</h1>
</div>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Uploaded</th>
				</tr>
			</thead>
			<tbody>
				@files.map { file =>
					<tr>
						<td><a href="@(routes.Files.file(file.id.toString))">@file.filename</a></td>
						<td>@(if(file.contentType != null) file.contentType else "N/A")</td>
						<td>@file.uploadDate</td>
					</tr>
				}
			</tbody>
		</table>
		<ul class="pager">
			@if(prev != "") {
  			<li class="previous"><a href="@(routes.Files.list("b", prev, limit))">Previous</a></li>
  			}
  			@if(next != "") {
  			<li class ="next"><a href="@(routes.Files.list("a", next, limit))">Next</a></li>
  			}
		</ul>
	</div>
</div>
}
