@(files: List[com.mongodb.DBObject]) @main("Files") {
<div class="page-header">
  <h1>Files</h1>
</div>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Uploaded</th>
				</tr>
			</thead>
			<tbody>
				@files.map { file =>
					<tr>
						<td><a href="@(routes.Files.file(file.get("_id").asInstanceOf[ObjectId].toString))">@file.get("filename")</a></td>
						<td>@(if(file.get("contentType") != null) file.get("contentType") else "N/A")</td>
						<td>@file.get("uploadDate")</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
}
