@main("Geostreams") {

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 <link rel="stylesheet" href="@routes.Assets.at("stylesheets/leaflet.css")">
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="@routes.Assets.at("stylesheets/leaflet.ie.css")">
 <![endif]-->
<script src="@routes.Assets.at("javascripts/leaflet-src.js")" type="text/javascript"></script>

	<div class="page-header">
		<h1>Geostreams</h1>
	</div>
	<div class="row-fluid">
		<div class="span10">
			<div id="geostreams_map"></div>
		</div>
		<div class="span2">
			<div id="list_streams"></div>
		</div>
	</div>
}
<script language="javascript">
   $(function() {
	   var map = L.map('geostreams_map').setView([51.505, -0.09], 13);
	   
	   L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	    attribution: 'Map data © OpenStreetMap contributors',
	    maxZoom: 18
	   }).addTo(map);
	   	   
	   var geojsonMarkerOptions = {
		    radius: 2,
		    fillColor: "#ff7800",
		    color: "#000",
		    weight: 10,
		    opacity: 1,
		    fillOpacity: 0.8
		};
	   
	   var request = jsRoutes.api.Geostreams.searchSensors().ajax({
	       type: 'GET',
	       contentType: "application/json",
	       dataType: 'json',
	     });
	     
	     request.done(function (response, textStatus, jqXHR){
	        console.log("Response " + JSON.stringify(response));
	        var geojsonLayer = L.geoJson(response,{style: function (feature) {
			        return {color: feature.properties.color};
			    },
			    
			    pointToLayer: function (feature, latlng) {
			        return L.circleMarker(latlng, geojsonMarkerOptions);
			    },
			    
			    onEachFeature: function (feature, layer) {
			        layer.bindPopup(createPopup(feature, layer));
			    }}).addTo(map);
 			map.fitBounds(geojsonLayer.getBounds());
	     });
	  
	     request.fail(function (jqXHR, textStatus, errorThrown){
	        console.error(
	            "The following error occured: "+
	            textStatus, errorThrown  
	        );
	     });

	     function createPopup(feature, layer) {
			    var div = document.createElement('div');
		    	var link = document.createElement('a');
		    	link.href = "#point_555_444";
		    	link.innerHTML = "Click me";
		    	link.onclick = function() {
				    listStreams(feature.id);
				};
				var info = document.createElement('div');
				info.innerHTML = JSON.parse(JSON.stringify(feature.properties.name));
				div.appendChild(info);
				div.appendChild(link);
				return div;
	     }

	     function listStreams(sensor_id) {
	  	   var request = jsRoutes.api.Geostreams.getSensorStreams(sensor_id).ajax({
		       type: 'GET',
		       contentType: "application/json",
		       dataType: 'json',
		     });

		  	 request.done(function (response, textStatus, jqXHR){
			  	 console.log('Got streams for sensor');
			  	 console.log(response);
			  	for (var i = 0; i < response.length; i++) {
			  	 $('#list_streams').append(response[i]['stream_id'] + '<br>');
			  	}
		  	 });

	     	request.fail(function (jqXHR, textStatus, errorThrown){
		        console.error(
		            "The following error occured: "+
		            textStatus, errorThrown  
		        );
		     });
		     
	     }
   });
</script>