@(displayedName: String,  newsfeed: List[models.Event], profile:User, datasetsList: List[Dataset],  dscomments: Map[UUID, Int], collectionsList:List[Collection], spacesList: List[ProjectSpace],
         deletePermission: Boolean,  followers: List[(UUID, String, String, String)], followedUsers: List[(UUID, String, String, String)], followedFiles: List[(UUID, String, String)],
        followedDatasets: List[(UUID, String, String)], followedCollections: List[(UUID, String, String)], followedSpaces: List[(UUID, String, String)], ownProfile: Option[Boolean])(implicit user: Option[models.User])

@import _root_.util.Formatters

@main(displayedName) {
    <script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/spaceListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <div class="row">
        <h2>@profile.fullName</h2>
        <div class="button-margins">
            <a href="@routes.Profile.viewProfileUUID(profile.id)" class="btn btn-link" title="Show profile">
                <span class="glyphicon glyphicon-user"></span> Profile</a>
            <a href="@routes.Spaces.newSpace()" class="btn btn-link" title="Create a new space">
                <span class="glyphicon glyphicon-ok"></span> Create Space</a>
            <a href="@routes.Datasets.newDataset(None, None)" class="btn btn-link" title="Create a new dataset">
                <span class="glyphicon glyphicon-ok"></span> Create Dataset</a>
            <a href="@routes.Collections.newCollection(None)" class="btn btn-link" title="Create a new collection">
                <span class="glyphicon glyphicon-ok"></span> Create Collection</a>
        </div>
    </div>

    <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#events" aria-controls="events" role="tab" data-toggle="tab"><b>Activity</b></a></li>
            <li role="presentation"><a href="#spaces" aria-controls="spaces" role="tab" data-toggle="tab"><b>My Spaces</b></a></li>
            <li role="presentation"><a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab"><b>My Datasets</b></a></li>
            <li role="presentation"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab"><b>My Collections</b></a></li>
            <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab"><b>Followers</b></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="events">
                <div class="top-padding">
                    @for(event <- newsfeed) {
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="@routes.Profile.viewProfileUUID(event.user.id)">
                                            <img class="media-object" src="@event.user.avatarURL">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="@routes.Profile.viewProfileUUID(event.user.id)">
                                            <h4 class="media-heading">@event.user.fullName</h4>
                                        </a>
                                        @newsfeedCard(event)
                                    </div>
                                    <div class="media-right">
                                    @Formatters.humanReadableTimeSince(event.created)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if(newsfeed.size < 1) {
                        <p>You can follow <a href="@routes.Users.getUsers()">users</a>, <a href="@routes.Spaces.list("")">spaces</a>, <a href="@routes.Datasets.list("")">datasets</a> and <a href="@routes.Collections.list("")">collections</a>.
                            Any updates on your followed instances will show here.</p>
                    }
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="spaces">
                @* spaces *@
                <div class="row top-padding">
                    <div class="col-xs-6">

                    </div>
                    <div class="margin-top-h col-xs-6">
                        <span class="pull-right">
                            <a href="@routes.Spaces.list("","",12, "", Some(profile.id.stringify))">See More</a>
                        </span>
                    </div>
                </div>
                <div class="row" id="masonry-spaces">
                @spacesList.map { space =>
                    @spaces.tile(space, "col-xs-6", routes.Application.index(), false)
                }
                </div>
                @if(spacesList.size < 1) {
                    <div class="text-center">
                        <div>This area will show all spaces you've created. </div>

                        <div> <a class="btn-link" href="@routes.Spaces.newSpace()" title="Create a new space">Create Space</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="datasets">
                @* datasets *@
                <div class="row top-padding">
                    <div class="col-xs-6">
                        Most recents datasets you have created
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right"> <a href="@routes.Datasets.list("","",12, None, "", Some(profile.id.stringify))">See More</a></span>
                    </div>
                </div>
                <div class="row" id="masonry-datasets">
                @datasetsList.map { dataset =>
                    @datasets.tile(dataset, None, dscomments, "col-xs-6", false, false, routes.Application.index())
                }
                </div>
                @if(datasetsList.size < 1) {
                    <div class="text-center">
                        <div>This area will show all datasets you've created.</div>

                        <div> <a class="btn-link" href="@routes.Datasets.newDataset(None, None)" title="Create a new dataset">Create Dataset</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="collections">
                @* collections *@
                <div class="row top-padding">
                    <div class="col-xs-6">
                        <h5>Collections you have created</h5>
                    </div>
                    <div class="margin-top-h col-xs-6">
                        <span class="pull-right">
                            <a href="@routes.Collections.list("","",12, None, "", Some(profile.id.stringify))">See More</a>
                        </span>
                    </div>
                </div>
                <div class="row" id ="masonry-collections">
                @collectionsList.map { collection =>
                    @collections.tile(collection, routes.Application.index(), "col-xs-6", false)
                }
                </div>
                @if(collectionsList.size < 1) {
                    <div class="text-center">
                        <div>This area will show all collections you've created</div>

                        <div> <a class="btn-link" href="@routes.Collections.newCollection(None)" title="Create a new collection">Create Collection</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="followers">
                <div class="row top-padding">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h2> Followers</h2>
                    </div>
                    <div class="margin-top-h col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-right"> <a href="@routes.Users.getFollowers()">See More</a></span>
                    </div>
                </div>
                <div class="row">

                    @for(row <- followers) {
                        @users.tile(row, "col-lg-4 col-md-4 col-sm-4 col-xs-6", false)
                    }
                    @if(followers.size < 1) {
                        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            This area will show users that follow you. Ask other users to follow you <a class="btn-link" href="@routes.Profile.viewProfileUUID(profile.id)">here</a>
                        </div>
                    }
                </div>
                <h2>Following</h2>
                <div class="panel-group" id="accordion" style="margin-top: 15px">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Users</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Users.getFollowing()">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body caption break-word">
                                <div class="row" style="margin-top : 15px;">
                                @for(userInfo <- followedUsers) {
                                    @users.tile(userInfo, "col-sm-4 col-xs-6", true)
                                }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSpaces">Spaces</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Spaces.followingSpaces(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseSpaces" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(info <- followedSpaces) {
                                <div class="col-md-4" style="margin-top : 30 px" id="@info._1-tile">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a href="@routes.Spaces.getSpace(info._1)">@info._2.toString</a>
                                        </div>
                                        <div class="panel-body caption break-word">
                                        @info._3
                                        </div>
                                        <div class="panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {
                                                        <h4>
                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                    btn btn-link
                                                                } else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                    true
                                                                } else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="space"
                                                            objectId="@info._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>
                                                        </h4>
                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Files</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Files.followingFiles(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(fileInfo <- followedFiles) {
                                <div class="col-md-4" style="margin-top: 30px" id="@fileInfo._1-tile">
                                    <div class="panel panel-default">
                                        <div class="panel-heading caption break-word">
                                            <a href="@routes.Files.file(fileInfo._1)">@fileInfo._2.toString</a>
                                        </div>
                                        <div class="panel-body caption break-word">
                                        @fileInfo._3
                                        </div>
                                        <div class="panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {
                                                        <h4>
                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectId = "@fileInfo._1.stringify"
                                                            objectType = "file"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>
                                                        </h4>
                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Datasets</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Datasets.followingDatasets(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(datasetInfo <- followedDatasets) {
                                <div class="col-md-4" style="margin-top: 30px" id="@datasetInfo._1-tile">
                                    <div class="panel panel-default">
                                        <div class="panel-heading caption break-word">
                                            <a href="@routes.Datasets.dataset(datasetInfo._1)">@datasetInfo._2.toString</a>
                                        </div>
                                        <div class="panel-body caption break-word">
                                        @datasetInfo._3
                                        </div>
                                        <div class="panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {
                                                        <h4>
                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="dataset"
                                                            objectId="@datasetInfo._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>
                                                        </h4>
                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Collections</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Collections.followingCollections(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(collectionInfo <- followedCollections) {
                                <div class="col-md-4" style="margin-top: 30px" id="@collectionInfo._1-tile">
                                    <div class="panel panel-default">
                                        <div class="panel-heading caption break-word">
                                            <a href="@routes.Collections.collection(collectionInfo._1)">@collectionInfo._2.toString</a>
                                        </div>
                                        <div class="panel-body caption break-word">
                                        @collectionInfo._3
                                        </div>
                                        <div class="panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {
                                                        <h4>
                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="collection"
                                                            objectId="@collectionInfo._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>
                                                        </h4>
                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/lib/masonry.pkgd.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/imagesloaded.pkgd.min.js")" type="text/javascript"></script>

    <script>
        var removeIndicator=true;
        function activateOne(id) {
            // initialize Masonry
            var $container = $('#'+id).masonry();
            // layout Masonry again after all images have loaded
            imagesLoaded( '#masonry', function() {
                $container.masonry({
                itemSelector: '.post-box',
                columnWidth: '.post-box',
                transitionDuration: 4
                });
            });
        }

        function activate(){
            activateOne("masonry-datasets");
            activateOne("masonry-collections");
            activateOne("masonry-spaces");
        }
        $(document).ready(function() {

            /*
            * Clamped-width.
            * Usage:
            *  <div data-clampedwidth=".myParent">This long content will force clamped width</div>
            *
            * Author: LV
            */
            $('[data-clampedwidth]').each(function () {
                var elem = $(this);
                var parentPanel = elem.data('clampedwidth');
                var resizeFn = function () {
                    var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
                    elem.css('width', sideBarNavWidth);
                };

                resizeFn();
                $(window).resize(resizeFn);
            });

            var panel = $('#resources-panel');
            panel.affix({
                offset: {
                    top: panel.offset() - panel.height()
                }
            });

            var width = $('.col-md-7').width() * 0.05;
            $('.media-object' ).each(function() {
                $(this ).css("width", width);
                $(this ).css("height", width);
            });
            activate();
        });



        // fire when showing from tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            activate();
        })
    </script>
    <script src="@routes.Assets.at("javascripts/follow-button.js")" type="text/javascript"></script>
}
