@(files: List[models.File], datasetsCount: Long, datasetsCountAccess: Long, filesCount: Long, filesBytes: Long,
        collectionsCount: Long, collectionsCountAccess: Long, spacesCount: Long, spacesCountAccess: Long, usersCount: Long,
        displayedName: String, welcomeMessage: String)(implicit user: Option[models.User])

@import _root_.util.Formatters

@main(displayedName) {
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Welcome to @displayedName</h2>
            <p class="lead">@welcomeMessage</p>
        </div>
        <div class="col-md-5" id="resources-panel-container">
            <div class="panel panel-default" id="resources-panel" data-clampedwidth=".col-md-5">
              <div class="panel-heading">
                <h3 class="panel-title">Resources</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">

                        <li class="list-group-item" title="Access to @{spacesCountAccess} @Messages("space.title")">
                            <a href="@routes.Spaces.list()">@Messages("spaces.title")<span class="badge pull-right">@spacesCount</span></a>
                        </li>

                      <li class="list-group-item" title="Access to @collectionsCountAccess collections">
                          <a href="@routes.Collections.list("")">@Messages("collections.title") <span class="badge pull-right">@collectionsCount</span></a>
                      </li>
                      <li class="list-group-item" title="Access to @datasetsCountAccess datasets">
                          <a href="@routes.Datasets.list("")">@Messages("datasets.title") <span class="badge pull-right">@datasetsCount</span></a>
                      </li>
                      <li class="list-group-item">
                          Files <span class="badge pull-right">@filesCount</span>
                      </li>
                      <li class="list-group-item" title="Total number of raw bytes stored.">
                          Bytes <span class="badge pull-right">@_root_.util.FileUtils.humanReadableByteCount(filesBytes)</span>
                      </li>
                      <li class="list-group-item" title="Total number users signed up for this server.">
                          @if(user.isDefined) {
                              <a href="@routes.Users.getUsers()"> Users <span class="badge pull-right">@usersCount</span></a>
                          } else {
                             Users <span class="badge pull-right">@usersCount</span>
                          }
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </div>
}
