@(files: List[models.File], datasetsCount: Long, datasetsCountAccess: Long, filesCount: Long,
        collectionsCount: Long, collectionsCountAccess: Long, spacesCount: Long, spacesCountAccess: Long, usersCount: Long,
        displayedName: String, welcomeMessage: String, newsfeed: List[models.Event])(implicit user: Option[models.User])

@import _root_.util.Formatters

@main(displayedName) {
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Welcome to @displayedName</h2>
            <p class="lead">@welcomeMessage</p>
            @for(event <- newsfeed) {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="@routes.Profile.viewProfileUUID(event.user.id)">
                                    <img class="media-object" src="@event.user.avatarURL">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="@routes.Profile.viewProfileUUID(event.user.id)">
                                    <h4 class="media-heading">@event.user.fullName</h4>
                                </a>
                                @newsfeedCard(event)
                            </div>
                            <div class="media-right">
                                @Formatters.humanReadableTimeSince(event.created)
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-5" id="resources-panel-container">
            <div class="panel panel-default" id="resources-panel" data-clampedwidth=".col-md-5">
              <div class="panel-heading">
                <h3 class="panel-title">Resources</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">
                      <li class="list-group-item" title="Access to @spacesCountAccess spaces">
                          <a href="@routes.Spaces.list()">Project Spaces <span class="label label-default pull-right">@spacesCount</span></a>
                      </li>
                      <li class="list-group-item" title="Access to @collectionsCountAccess collections">
                          <a href="@routes.Collections.list("")">Collections <span class="label label-default pull-right">@collectionsCount</span></a>
                      </li>
                      <li class="list-group-item" title="Access to @datasetsCountAccess datasets">
                          <a href="@routes.Datasets.list("")">Datasets <span class="label label-default pull-right">@datasetsCount</span></a>
                      </li>
                      <li class="list-group-item">
                          Files <span class="label label-default pull-right">@filesCount</span>
                      </li>
                      <li class="list-group-item">
                          Users <span class="label label-default pull-right">@usersCount</span>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            /*
            * Clamped-width.
            * Usage:
            *  <div data-clampedwidth=".myParent">This long content will force clamped width</div>
            *
            * Author: LV
            */
            $('[data-clampedwidth]').each(function () {
                var elem = $(this);
                var parentPanel = elem.data('clampedwidth');
                var resizeFn = function () {
                    var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
                    elem.css('width', sideBarNavWidth);
                };

                resizeFn();
                $(window).resize(resizeFn);
            });

            var panel = $('#resources-panel');
            panel.affix({
                offset: {
                    top: panel.offset() - panel.height()
                }
            });

            var width = $('.col-md-7').width() * 0.05;
            $('.media-object' ).each(function() {
                $(this ).css("width", width);
                $(this ).css("height", width);
            });
        });
    </script>

    @*******
    *if(user.isDefined) {
    *    @carousel(files)
    *}
    ********@
}
