@(token: String, spaceName: String, inviter: String, message: Option[String])(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
    <body>

        <p>Hello,</p>

        <p>You have been invited to space @spaceName by @inviter at <a href="@routes.Application.index().absoluteURL(IdentityProvider.sslEnabled)">@services.AppConfiguration.getDisplayName</a>. Please follow this
            <a href="@securesocial.core.providers.utils.RoutesHelper.signUp(token).absoluteURL(IdentityProvider.sslEnabled)">link</a> to accept this invitation.
        </p>
        <p>@message</p>
    </body>
</html>