@(token: String, userEmail: String, spaceName: String, inviter: String, message: Option[String])(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider
<html>
    <body>
        <p style="font-style:italic;">To admin: Forward the following registration completion email to @userEmail if this person and email are trusted.</p>

        <p>Hello,</p>

        <p>You have been invited to space @spaceName by @inviter. Please follow this
            <a href="@securesocial.core.providers.utils.RoutesHelper.signUp(token).absoluteURL(IdentityProvider.sslEnabled)">link</a> to accept this invitation.
        </p>
        <p>@message</p>
    </body>
</html>