@(myForm: Form[Credentials])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Login") {

  <div class="page-header">
    <h1>Login</h1>
  </div>

  @form(action = routes.Authentication.loginSubmit, 'class -> "form-horizontal") {
    @if(myForm.hasErrors) {
        <div class="alert">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }
    <fieldset>
      @inputText(
        myForm("email"),
        '_label -> "Email Address",
        'placeholder -> "Email",
        '_error -> myForm.error("email")
      )
      @inputPassword(
        myForm("password"),
        '_label -> "Password",
        '_error -> myForm.error("password"),
        'placeholder -> "Password" 
      )
    </fieldset>
    <div class="control-group">
      <div class="controls"> 
        <input type="submit" class="btn btn-default" value="Login"/>
      </div>
    </div>
  }
}