@(title: String)(content: Html)(implicit user: Option[models.User] = None)

@import services.AppConfiguration
@import play.api.i18n.Messages
@import play.api.Play.current
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/themes/" + AppConfiguration.getTheme)">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pdf.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tableborder.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/select2.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/select2-bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@api.routes.Logos.downloadPath("GLOBAL", "favicon", Some("images/favicon.png"))&x=@System.currentTimeMillis()">
    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/noty/packaged/jquery.noty.packaged.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/select2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/clipboard.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
@* Turn console.log off when in production mode *@
@JSConsole()

<!--@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="glyphicon-bar"></span>
                  <span class="glyphicon-bar"></span>
                  <span class="glyphicon-bar"></span>
                </button>
                @services.DI.injector.getInstance(classOf[services.LogoService]).get("GLOBAL", "logo") match {
                    case Some(logo) => {
                        <a class="navbar-brand" style="padding-top: 5px; padding-bottom: 5px" href="@routes.Application.index">
                            <img class="pull-left" style="height: 100%" src="@api.routes.Logos.downloadPath("GLOBAL", "logo")" alt="LOGO">
                        </a>
                        @if(logo.showText) {
                            <a class="navbar-brand" href="@routes.Application.index">
                                @(AppConfiguration.getDisplayName)
                            </a>
                        }
                    }
                    case None => {
                        <a class="navbar-brand" href="@routes.Application.index">
                            @(AppConfiguration.getDisplayName)
                        </a>
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                @if(user.isDefined) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            You <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.Application.index"><span class="glyphicon glyphicon-user"></span> Dashboard</a></li>
                            @if(play.Play.application().configuration().getBoolean("enablePublic")) {
                                <li><a href="@routes.Spaces.list(showPublic=false)"><span class="glyphicon glyphicon-hdd"></span> @Messages("spaces.title")</a></li>
                                <li><a href="@routes.Datasets.list(showPublic=false)"><span class="glyphicon glyphicon-briefcase"></span> @Messages("datasets.title")</a></li>
                                <li><a href="@routes.Collections.list(showPublic=false)"><span class="glyphicon glyphicon-th-large"></span> @Messages("collections.title")</a></li>
                            } else {
                                <li><a href="@routes.Spaces.list(owner=Some(user.get.id.stringify))"><span class="glyphicon glyphicon-hdd"></span> @Messages("spaces.title")</a></li>
                                <li><a href="@routes.Datasets.list(owner=Some(user.get.id.stringify))"><span class="glyphicon glyphicon-briefcase"></span> @Messages("datasets.title")</a></li>
                                <li><a href="@routes.Collections.list(owner=Some(user.get.id.stringify))"><span class="glyphicon glyphicon-th-large"></span> @Messages("collections.title")</a></li>
                            }
                        </ul>
                    </li>
                }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Explore <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.Spaces.list()"><span class="glyphicon glyphicon-hdd"> </span> @Messages("spaces.title")</a></li>
                            @user match {
                                case Some(x) => {
                                    @if(play.Play.application().configuration().getBoolean("verifySpaces") && api.Permission.checkServerAdmin(user)) {
                                        <li><a href="@routes.Spaces.list(onlyTrial=true, showOnlyShared = play.Play.application().configuration().getBoolean("showOnlySharedInExplore"))"><span class="glyphicon glyphicon-hdd"> </span> Trial @Messages("spaces.title")</a></li>
                                    }
                                }
                                case None => {

                                }
                            }
                            <li><a href="@routes.Datasets.list(showOnlyShared = play.Play.application().configuration().getBoolean("showOnlySharedInExplore"))"><span class="glyphicon glyphicon-briefcase"> </span> @Messages("datasets.title")</a></li>
                            <li><a href="@routes.Collections.list(showOnlyShared = play.Play.application().configuration().getBoolean("showOnlySharedInExplore"))"><span class="glyphicon glyphicon-th-large"> </span> @Messages("collections.title")</a></li>
                            <li><a href="@routes.Extractors.selectExtractors()"><span class="glyphicon glyphicon-fullscreen"> </span> @Messages("extractors.title")</a></li>
                            @if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined){
                                <li><a href="@routes.CurationObjects.getPublishedData("")"><span class="glyphicon glyphicon-book"></span> Published Data</a></li>
                            }
                            @if(user.isDefined){
                                <li><a href="@routes.Users.getUsers()"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                            }
                            @play.api.Play.current.plugin[services.PostgresPlugin] match {
                                case Some(db) if db.isEnabled => {
                                    <li><a href="@routes.Geostreams.list"><span class="glyphicon glyphicon-globe"> </span> @(AppConfiguration.getSensorsTitle) List</a></li>
                                    <li><a href="@routes.Geostreams.map"><span class="glyphicon glyphicon-globe"> </span> @(AppConfiguration.getSensorsTitle) Map</a></li>
                                }
                                case _ => {}
                            }
                            <li><a href="@routes.Tags.tagListOrdered"> <span class="glyphicon glyphicon-tags"> </span>  Ordered Tags</a></li>
                            <li><a href="@routes.Tags.tagListWeighted"><span class="glyphicon glyphicon-tags"> </span>  Weighted Tags</a></li>
                            <li><a href="@routes.Metadata.search"> <span class="glyphicon glyphicon-search"> </span> Metadata Search</a></li>
                        </ul>
                    </li>
                @if(user.isDefined) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Create <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.Spaces.newSpace()"><span class="glyphicon glyphicon-hdd"> </span>
                                @Messages("spaces.title")
                            </a></li>
                            <li><a href="@routes.Datasets.newDataset(None, None)"><span class="glyphicon glyphicon-briefcase"> </span>
                                @Messages("datasets.title")</a></li>
                            <li><a href="@routes.Collections.newCollection(None)"><span class="glyphicon glyphicon-th-large"> </span>
                                @Messages("collections.title")</a></li>
                            @play.api.Play.current.plugin[services.PostgresPlugin] match {
                                case Some(db) if db.isEnabled => {
                                    <li><a href="@routes.Geostreams.newSensor"><span class="glyphicon glyphicon-globe"> </span>
                                        @(AppConfiguration.getSensorsTitle)</a></li>
                                }
                                case _ => {}
                            }


                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Selections <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.Selected.get" id="selected-count"><span class="glyphicon glyphicon-ok"> </span>
                                Manage Selections</a></li>
                            <li><a href="#" onclick="downloadAllSelections();"><span class="glyphicon glyphicon-download-alt"> </span>
                                Download All
                            </a></li>
                            <li><a href="#" onclick="showTagPopup();"><span class="glyphicon glyphicon-tag"> </span>
                                Tag All</a></li>
                            <li><a href="#" onclick="confirmDeleteSelected();"><span class="glyphicon glyphicon-trash"> </span>
                                Delete All</a></li>
                            <li><a href="#" onclick="clearSelections();"><span class="glyphicon glyphicon-erase"> </span>
                                Clear All</a></li>
                        </ul>
                    </li>
                    @if(play.Play.application().configuration().getBoolean("useTrash")){
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Trash <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.Datasets.list(owner=Some(user.get.id.stringify), showTrash = true)"><span class="glyphicon glyphicon-briefcase"></span> @Messages("datasets.title") in trash</a></li>
                                <li><a href="@routes.Collections.list(owner=Some(user.get.id.stringify), showTrash = true)"><span class="glyphicon glyphicon-th-large"></span> @Messages("collections.title") in trash</a></li>
                            </ul>
                        </li>
                    }

                }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" title="Help">Help<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://clowderframework.org/" target="_blank">About Clowder</a></li>
                            <li><a href="@routes.Application.about">About this instance</a></li>
                            @if(user.isDefined) {
                                <li><a href="@routes.Application.email("")">Contact server admins</a></li>
                            }
                            <li><a href="@routes.Application.tos(None)">Terms of Service</a></li>
                            <li><a href="@routes.Application.swaggerUI()" target="_blank">API</a></li>
                            @play.Play.application.configuration.getConfigList("helpMenu").map { helpItem =>
                              <li><a href="@helpItem.getString("url")" target="_blank">@helpItem.getString("label")</a></li>

                            }
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if(play.api.Play.current.plugin[services.ElasticsearchPlugin].isDefined) {
                        <li>
                            <form class="navbar-form" role="search" action="@routes.Search.search("")">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="query">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    }



                    @user match {
                        case Some(x) => {
                            @if(api.Permission.checkServerAdmin(user)) {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" title="Administration">
                                        <span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@routes.Admin.customize">Customize</a></li>
                                        <li><a href="@routes.Admin.tos">Terms of Service</a></li>
                                        <li><a href="@routes.Admin.users">Users</a></li>
                                        <li><a href="@routes.Admin.listRoles">List Roles</a></li>
                                        <li><a href="@routes.Admin.createRole">Add Role</a></li>
                                        <li><a href="@routes.Extractors.selectExtractors">Extractors</a></li>
                                        <li><a href="@routes.Extractors.manageLabels">Extractor Labels</a></li>
                                        <li><a href="@routes.Extractors.listAllExtractions">Extractions Log</a></li>
                                        <li><a href="@routes.Previewers.list">Previewers</a></li>
                                        <li><a href="@routes.Admin.adminIndex">Indexes</a></li>
                                        <li><a href="@routes.Admin.viewDumpers">Dumps</a></li>
                                        <li><a href="@routes.Admin.getMetadataDefinitions">Metadata Definitions</a></li>
                                        @play.api.Play.current.plugin[services.PostgresPlugin] match {
                                            case Some(db) if db.isEnabled => {
                                                <li><a href="@routes.Admin.sensors">@(AppConfiguration.getSensorsTitle)</a></li>
                                            }
                                            case _ => {}
                                        }
                                        @if(user.exists(_.superAdminMode)) {
                                            <li><a href="javascript:toggelServerAdmin();">Drop SuperAdmin</a></li>
                                        } else {
                                            <li><a href="javascript:toggelServerAdmin();">Enable SuperAdmin</a></li>
                                        }

                                    </ul>
                                </li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" title="@x.format(false)"><img src="@x.getAvatarUrl(16)" style="min-width: 20px; width: 1em"><b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@routes.Profile.viewProfileUUID(x.id)">View Profile</a>
                                    </li>
                                    <li>
                                        <a href="@securesocial.controllers.routes.LoginPage.logout" title="Logout from the system">
                                            <span class="glyphicon glyphicon-log-out"></span> Logout </a>
                                    </li>
                                </ul>
                             </li>
                        }
                        case None => {
                            @if(play.Play.application().configuration().getBoolean("securesocial.registrationEnabled", true)) {
                                <li>
                                    <a href="@securesocial.core.providers.utils.RoutesHelper.startSignUp()" title="Sign up to the system">Sign up</a>
                                </li>
                            }
                            <li>
                                <a href="@securesocial.controllers.routes.LoginPage.login" title="Login to the system"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        }
                    }
                </ul>
            </div>
    </div>
    </div>
    <div class="container">
        @content
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <p class="muted credit">Powered by <a href="http://clowder.ncsa.illinois.edu">Clowder</a>
                    (@sys.props.getOrElse("build.version", default = "0.0.0")#@sys.props.getOrElse("build.bamboo", default = "development")
                    branch:@sys.props.getOrElse("build.branch", default = "unknown") sha1:@sys.props.getOrElse("build.gitsha1", default = "unknown")).</p>
            </div>
        </div>

    </div>
  </div>

  @if(user.exists(_.superAdminMode)) {
    <div id="superadmin" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign"></span>
      You have temporary access to administrative functions. <a href="javascript:toggelServerAdmin();">Drop access</a> if you no longer require it.
    </div>
  }

@if(AppConfiguration.getGoogleAnalytics != "") {
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '@AppConfiguration.getGoogleAnalytics', 'auto');
            ga('send', 'pageview');
    </script>
}

<script>
    function toggelServerAdmin() {
        $.cookie("superAdmin", $.cookie("superAdmin") != "true", { path: '/' });
        location.reload();
    }
</script>

<script>
    var repeatInt = 1; // check for session expiration in minutes

    if (@user.isDefined) {
        var intervalCount = setInterval(function(){checkSession()}, repeatInt*60000);

        // Populate initial selection count on page load
        var request = jsRoutes.api.Selected.get().ajax({
            type: 'GET'
        });
        request.done(function (response, textStatus, jqXHR) {
            updateSelectedCount(response.length);
        });
        request.fail(function (jqXHR, textStatus, errorThrown) {
            console.error("The following error occured: " + textStatus, errorThrown);
            if (errorThrown != "Unauthorized") {
                notify("Could not get selections: " + errorThrown, "error");
            }
        });
    }

    function checkSession() {
        nowTime = new Date();
        var request = jsRoutes.controllers.Login.isLoggedIn().ajax({
            type: 'GET'
        });
        request.done(function(response, textStatus, jqXHR) {
            if (response === "no") {
                clearInterval(intervalCount);    //stop the timer
                var modalHTML = '<div class="modal" role="dialog">';
                modalHTML += '<div class="modal-dialog">';
                modalHTML += '<div class="modal-content">';
                modalHTML += '<div class="modal-body">';
                modalHTML += '<p>Your session has expired as of ' + nowTime.toTimeString() + '.<br />Press OK to log in again.</p>';
                modalHTML += '</div>';
                modalHTML += '<div class="modal-footer">';
                modalHTML += '<a type="button" class="btn btn-primary" href="@securesocial.controllers.routes.LoginPage.logout"><span class="glyphicon glyphicon-ok"></span> OK</a>';
                modalHTML += '</div>';
                modalHTML += '</div>';
                modalHTML += '</div>';
                modalHTML += '</div>';
                var confirmModal = $(modalHTML);
                confirmModal.modal({backdrop: "static", keyboard: false});
                confirmModal.modal("show");
            }
        });
        request.fail(function(jqXHR, textStatus, errorThrown) {
            console.error("The following error occurred: " + textStatus, errorThrown);
        });
    }

    function deleteAllSelections() {
        var request = jsRoutes.api.Selected.deleteAll().ajax({
            type: 'DELETE'
        });
        request.done(function (response, textStatus, jqXHR) {
            location.reload()
        });
        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            notify("Could not delete selections: " + errorThrown, "error");
        });
    }

    function downloadAllSelections() {
        // Simple check for whether there are 1+ things selected
        if ($('#selected-count')[0].innerHTML.indexOf("Manage Selections (<b>0</b>)") == -1) {
            window.open(jsRoutes.api.Selected.downloadAll().url, '_blank');
        } else {
            notify("No datasets currently selected", "warning")
        }
    }

    function clearSelections() {
        var request = jsRoutes.api.Selected.clearAll().ajax({
            type: 'POST'
        });
        request.done(function (response, textStatus, jqXHR) {
            location.reload()
        });
        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            notify("Could not clear selections: " + errorThrown, "error");
        });
    }

    function showTagPopup() {
        if ($('#selected-count')[0].innerHTML.indexOf("Manage Selections (<b>0</b>)") == -1) {
            var modalHTML = `
            <div id="enter-tag" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Tag All Selections</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Multiple tags may be entered, separated by commas.
                            </p>
                            <input maxlength="@play.api.Play.configuration.getInt("clowder.tagLength").getOrElse(100)"
                                type="text" id="bulk-tag-selector" class="form-control add-resource" placeholder="Enter a tag...">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <a type="button" class="btn btn-primary" id="OKModalButton" href="javascript:tagAllSelections()"><span class="glyphicon glyphicon-ok"></span> OK</a>
                        </div>
                    </div>
                </div>
            </div>
            `;

            var confirmModal = $(modalHTML);
            confirmModal.modal();
            confirmModal.modal("show");
        } else {
            notify("No datasets currently selected", "warning")
        }
    }

    function tagAllSelections() {
        var tag = $('#bulk-tag-selector')[0].value;

        if (tag.length > 0) {
            var request = jsRoutes.api.Selected.tagAll(tag.split(",")).ajax({
                type: 'POST'
            });
            request.done(function (response, textStatus, jqXHR) {
                notify("Tag(s) successfully added.", "success", false, 2000);
            });
            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                notify("Could not tag selections: " + errorThrown, "error");
            });

        } else {
            console.log("No tag was provided.")
        }
        $("#enter-tag").modal("hide")
    }

    function updateSelectedCount(count) {
        $('#selected-count')[0].innerHTML = '<span class="glyphicon glyphicon-ok"></span> Manage Selections (<b>'+String(count)+'</b>)';
    }
</script>
</body>
</html>
