@(title: String)(content: Html)(implicit user: Option[models.User] = None)

@import services.AppConfiguration

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>@title</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/themes/" + AppConfiguration.getTheme)">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pdf.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tableborder.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/noty/packaged/jquery.noty.packaged.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
	<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>

  <div id="wrap">
	<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				      <span class="glyphicon-bar"></span>
				      <span class="glyphicon-bar"></span>
				      <span class="glyphicon-bar"></span>
				    </button>
					<a class="navbar-brand" href="@routes.Application.index">@(AppConfiguration.getDisplayName)</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Spaces<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="@routes.Spaces.newSpace">Create</a></li>
                                <li><a href="@routes.Spaces.list()">List</a></li>
							</ul>
						</li>
						<li class="dropdown">
						   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections<b class="caret"></b></a>
						   <ul class="dropdown-menu">
						   	<li><a href="@routes.Collections.newCollection">Create</a></li>
						   	<li><a href="@routes.Collections.list("")">List</a></li>						   	
						   </ul>
						</li>
						<li class="dropdown">
						   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Datasets<b class="caret"></b></a>
						   <ul class="dropdown-menu">
						   	<li><a href="@routes.Datasets.newDataset">Create</a></li>
						   	<li><a href="@routes.Datasets.list("")">List</a></li>
						   	<li><a href="@routes.Datasets.metadataSearch">Search by user metadata</a></li>
						   	<li><a href="@routes.Datasets.generalMetadataSearch">General metadata search</a></li>						   	
						   </ul>
						</li>
						<li class="dropdown">
						   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Files<b class="caret"></b></a>
						   <ul class="dropdown-menu">
						   	<li><a href="@routes.Files.uploadFile">Upload</a></li>
						   	<li><a href="@(routes.Files.list(""))">List</a></li>
						   	<li><a href="@routes.Files.metadataSearch">Search by user metadata</a></li>
						   	<li><a href="@routes.Files.generalMetadataSearch">General metadata search</a></li>
						   </ul>
						</li>
						<li class="dropdown">
						   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags<b class="caret"></b></a>
						   <ul class="dropdown-menu">
							   <li><a href="@routes.Tags.tagListOrdered">List (Ordered)</a></li>
							   <li><a href="@routes.Tags.tagListWeighted">List (Weighted)</a></li>
                               <li><a href="@routes.Tags.tagCloud">Cloud</a></li>
						   </ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						@if(play.api.Play.current.plugin[services.ElasticsearchPlugin].isDefined) {
							<li>
								<form class="navbar-form" role="search" action="@routes.Search.search("")">
									<div class="input-group">
										<input type="text" class="form-control input-sm" placeholder="Search" name="query" id="srch-term">
										<div class="input-group-btn">
											<button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
										</div>
									</div>
								</form>
							</li>
						}

						<li class="dropdown">
							<a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" title="Help"><span class="glyphicon glyphicon-question-sign"></span><b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="http://opensource.ncsa.illinois.edu/projects/artifacts/MMDB/latest/documentation/manual/" target="_blank">Help</a></li>
								<li><a href="http://opensource.ncsa.illinois.edu/projects/MMDB" target="_blank">About</a></li>
								<li><a href="@routes.Assets.at("docs/api/index.html")" target="_blank">API</a></li>
							</ul>
						</li>

						@user match {
							case Some(x) => {
								<li class="dropdown">
									<a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" title="Administration"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="@routes.Admin.main">Customize</a></li>
										<li><a href="@routes.Admin.listAdmins">List adminstrators</a></li>
										<li><a href="@routes.Admin.newAdmin">Add administrator</a></li>
										<li><a href="@routes.Extractors.listAllExtractions">Extractions</a></li>
										<li><a href="@routes.Admin.adminIndex">Indexes</a></li>
                                        <li><a href="@routes.Admin.listMetadata">Metadata</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" title="Logged in as @x.fullName"><img src="@x.getAvatarUrl(16)" style="width: 20px"><b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="@routes.Profile.viewProfileUUID(x.id)">View Profile</a>
										</li>
										<li>
											<a href="@securesocial.controllers.routes.LoginPage.logout" title="Logout from the system"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
										</li>
									</ul>
								 </li>
                            }
                            case None => {
                                <li>
                                    <a href="@securesocial.controllers.routes.LoginPage.login" title="Login to the system"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                </li>
                            }
                        }
					</ul>
				</div>
		</div>
	</div>
	<div class="container">
		@content
	</div>
	<div id="push"></div>
  </div>
  
  <div id="footer">
    <div class="container">
      <p class="muted credit">Powered by <a href="http://clowder.ncsa.illinois.edu">Clowder</a>
		  (@sys.props.getOrElse("build.version", default = "0.0.0")#@sys.props.getOrElse("build.bamboo", default = "development")
		  branch:@sys.props.getOrElse("build.branch", default = "unknown") sha1:@sys.props.getOrElse("build.gitsha1", default = "unknown")).</p>
    </div>
  </div>
  

</body>
</html>
