@(metadata: List[models.MetadataDefinition])(implicit user: Option[models.User])

@main("Metadata Definitions") {
    <script src="@routes.Assets.at("javascripts/metadata/manageDefinitions.js")" type="text/javascript"></script>
	<script>
        $(document).ready(function() {
            $("#type").change(function() {
                var definitions = $("#definitions_url");
                var validateButton = $("#validateButton");
                var queryParameter = $("#query_parameter");
                var queryParameterValue = $("#query_parameter_value");
                if ($(this).val() == "string") {
                    definitions.attr("disabled", true);
                    validateButton.attr("disabled", true);
                    queryParameter.attr("disabled", true);
                    queryParameterValue.attr("disabled", true);
                } else if ($(this).val() == "list") {
                    definitions.removeAttr("disabled");
                    validateButton.removeAttr("disabled");
                    queryParameter.attr("disabled", true);
                    queryParameterValue.attr("disabled", true);
                } else {
                    definitions.removeAttr("disabled");
                    validateButton.removeAttr("disabled");
                    queryParameter.removeAttr("disabled");
                    queryParameterValue.removeAttr("disabled");
                }
            });
            $(function () {
                $('[data-toggle="popover"]').popover({
                    trigger: 'focus'
                })
            });

            $("#validateButton").click(function(e){
                e.preventDefault();
                // get the value of this metadata definition url from the form
                var definitionsValue = $("#definitions_url").val();
                // get a reference to the form boxes for a query param and value in case this is a queryable list
                var queryParam = $("#query_parameter");
                var queryParamValue = $("#query_parameter_value");
                // set a variable where we will store the query parameter key and value if it is filled out
                var queryString;
                // if this is a queryable list, we will enable the user to add a query parameter that will be registered with the definition
                // we will also allow them to submit a sample value for the query parameter so they can test that the url works
                if (!queryParam.attr("disabled") && queryParam.val() && queryParamValue.val()) {
                    var paramString = {};
                    paramString[queryParam.val()] = queryParamValue.val();
                    queryString = $.param(paramString);
                }
                if (queryString) {
                    definitionsValue = definitionsValue + "?" + queryString;
                }
                if (definitionsValue) {
                    var request = $.ajax({
                        url: definitionsValue,
                        dataType: 'jsonp',
                        timeout: 1500,
                        error: function() {
                            $("#validationResults").html(
                                '<div class="alert alert-danger fade in">' +
                                '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                                '<strong>Error!</strong> Data was not found at the URL!</div>');
                        }
                    });

                    request.done(function(data, textStatus) {
                        // TODO: validation of the results would require either knowing which element
                        // to look for in the response, or requiring all API's to use a standard response structure.
                        // For now, if we got a successful response from the GET request, we'll proceed
                        var linkText;
                        if (data && data.length) {
                            linkText = data.length + " items";
                        } else {
                            linkText = "View";
                        }
                        $("#validationResults").html(
                            '<div class="alert alert-success fade in">' +
                            '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                            '<strong>Success!</strong> Data was found at the URL: (<a href=' +
                            definitionsValue + ' target="_blank">' + linkText + '</a>)</div>');
                    });
                }
            });

            $("#addDefinition").submit(function(e){
                e.preventDefault();
                var data = {};
                $(this.elements).each(function(index, element){
                    var value = $(element).val();
                    if (value) {
                        data[$(element).attr('id')] = value;
                    }
                });
                if (data['query_parameter_value']) delete data['query_parameter_value'];
                if (data.type == "list" || data.type == "listjquery" || data.type == "scientific_variable") {
                    if (!data.definitions_url) {
                        $("#validationResults").html(
                            '<div class="alert alert-danger fade in">' +
                            '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                            '<strong>Error!</strong> Definitions URL is required for Lists</div>');
                        return false;
                    }
                }

                addDefinition(data, window.location.href);
            });

             $('.delete-definition').unbind().on('click', function(){
                        var delete_object = $(this);
                        var request = jsRoutes.api.Metadata.deleteDefinition(this.id).ajax({
                            type: 'DELETE'
                        });

                        request.done(function (response, textStatus, jqXHR) {
                            console.log("success");
                            delete_object.closest("TR").remove();
                        });

                        request.fail(function (jqXHR, textStatus, errorThrown){
                            console.error("The following error occured: " + textStatus, errorThrown);
                            var errMsg = "You must be logged in to delete metadata definition";
                            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                              notify("Metadata definition was not removed due to : " + errorThrown, "error");
                            }
                        });
                     });
        });

    </script>

	<div class="page-header">
		<h1>Metadata Definitions</h1>
        <p>The following metadata definitions will be available throughout Clowder.</p>
	</div>
	@if(metadata.size == 0) {
	<div class="row">
		<div class="col-md-12">
			No metadata present.
		</div>
	</div>
	}
	@if(metadata.size > 0) {
        <table class="table">
            <thead>
                <tr>
                    <th>Label <a tabindex="0" role="button" aria-hidden="true" data-toggle="popover" title="Label" data-content="A label or name that users will see when selecting this as a type of metadata."><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>URI <a tabindex="0" role="button" aria-hidden="true" data-toggle="popover" title="URI" data-content="A unique URI where this metadata is defined. This is not queried or used to populate metadata values, only for reference."><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>Type <a tabindex="0" role="button" aria-hidden="true" data-toggle="popover" title="Metadata Type" data-html=true data-content="Currently supported types:<br /><ul><li>String: this is free-form, plain-text field.</li><li>List: an array or list of metadata options that can be retrieved from a URL. The list type requires you to define a Definitions URL that will return the available metadata options in JSON format.</li><li>Queryable List: similar to list, except that you can also pass a query parameter to filter the list at the Definitions URL.</li><li>Location: also a queryable list, but it expects the response to contain a latitude and longitude.</li></ul>"><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>Definitions URL <a tabindex="0" role="button" data-toggle="popover" title="Metadata Definitions URL" data-content="This URL should return a list of values that the user can select from as possible options for this metadata definition." aria-hidden="true" ><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>Query Parameter <a tabindex="0" role="button" data-toggle="popover" title="Query Parameter" data-content="Some list types support filtering the data by use of a query parameter. Example: example.com?searchterm=value" aria-hidden="true" ><span class="glyphicon glyphicon-info-sign"></span></a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(m <- metadata) {
                    <tr>
                        <td>
                            @((m.json \ "label").asOpt[String].getOrElse(""))
                        </td>
                        <td>
                            @((m.json \ "uri").asOpt[String].getOrElse(""))
                        </td>
                        <td>
                            @((m.json \ "type").asOpt[String].getOrElse("")) match {
                                case "string" => {String}
                                case "list" => {List}
                                case "listjquery" => {Queryable List}
                                case "scientific_variable" => {Scientific Variable}
                                case "datetime" => {Date and Time}
                                case "listgeocode" => {Location}
                            }
                        </td>
                        <td>
                            @((m.json \ "definitions_url").asOpt[String].getOrElse(""))
                        </td>
                        <td>
                            @((m.json \ "query_parameter").asOpt[String].getOrElse(""))
                        </td>
                        <td><a href="#addDefinition" onclick="editDefinition('@(m.id)', '@(m.json)', this);">Edit</a>
                            / <a id="@m.id" href="#" title="Delete metadata definition" class="delete-definition">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
	}

    <hr/>
    <br/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="definitionAction">Add</span> a Metadata Definition <span class="caret"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form id="addDefinition" class="form-horizontal">
                        <div class="form-group has-feedback">
                            <label for="label" class="col-sm-2">Label</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="label" placeholder="Label" required />
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uri" class="col-sm-2">URI</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" id="uri" placeholder="http://" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2">Type</label>
                            <div class="col-sm-4">
                                <select name="type" id="type" class="form-control" required>
                                    <option value="string">String</option>
                                    <option value="list">List</option>
                                    <option value="listjquery">Queryable List</option>
                                    <option value="listgeocode">Location</option>
                                    <option value="scientific_variable">Scientific Variable</option>
                                    <option value="datetime">Date and Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="definitions_url" class="col-sm-2">Definitions URL</label>
                            <div class="col-sm-8">
                                <input type="url" class="form-control" id="definitions_url" placeholder="http://" disabled />
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-default" id="validateButton" disabled><span class="glyphicon glyphicon-ok"></span> Validate URL</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="query_parameter" class="col-sm-2">Query Parameter</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="query_parameter" placeholder="term" disabled />
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="query_parameter_value" placeholder="value" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8" id="validationResults"></div>
                        </div>
                        <hr/>
                        <a href="#" class="btn btn-default pull-left" id="cancelButton" onclick="reset(this)" style="display:none;"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                        <button type="submit" class="btn btn-primary pull-right"><span class="definitionAction"><span class="glyphicon glyphicon-plus"></span> Add</span></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
}
