@()(implicit user: Option[securesocial.core.Identity])

@main("Dataset user metadata search") {
<div class="page-header">
  <h1>Dataset user metadata search</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<form class="form-inline">
			<h5>Select properties to search for (in strings, input * alone to search for any string value):</h5>
			<div id='queryUserMetadata' class='usr_md_'>
				&nbsp;&nbsp;&nbsp;<button class="usr_md_" type="button">Add property</button>
				<ul class="usr_md_ usr_md_search_list"></ul>
				<button class="usr_md_" type="button">Add disjunction</button>
				<br />
				<button class="usr_md_submit btn" type="button">Submit</button></div>
		</form>	
		<table id='resultTable' class="table table-bordered table-hover" style="display:none;">
			<thead>
				<tr>
					@if(user.isDefined) {
						<th style="width: 25%">Name</th>
						<th style="width: 15%">Created</th>
						<th style="width: 40%">Description</th>
						<th style="width: 10%"></th>
						<th style="width: 10%"></th>
					}
					@if(!user.isDefined) {
						<th style="width: 25%">Name</th>
						<th style="width: 15%">Created</th>
						<th style="width: 50%">Description</th>
						<th style="width: 10%"></th>
					}
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<ul class="pager">
  			<li class="previous" style="visibility:hidden;"><a href="#">Previous</a></li>
  			<li class ="next" style="visibility:hidden;"><a href="#">Next</a></li>
		</ul>
	</div>
</div>
<script language="javascript">
	window["userDefined"] = false;
	window["userId"] = "";
</script>
@if(user.isDefined) {
	<script language="javascript">
		window["userDefined"] = true;
		window["userId"] = "@user.get.identityId.userId";
	</script>
}
<script language="javascript">	
	var queryIp = "@api.routes.Datasets.searchDatasetsUserMetadata";
	var modelIp = "@(routes.Assets.at("datasetsUserMetadataModel"))";
	var searchOn = "datasets";
	var searchFor = "userMetadata";
</script>
<script src="@routes.Assets.at("javascripts/searchUserMetadata.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
}
