@(fileName:String, fileId:models.UUID, resultsList:List[(VersusIndex,  List[PreviewFilesSearchResult])])   						

@**********************************************************************@
@****   Template to display search results for each index                  ***@
@****    User can enter weights to combine search results into one  ***@
@***********************************************************************@


@import helper._
@import collection.JavaConverters._

@import models.VersusIndex
@import models.PreviewFilesSearchResult
@import models.SearchResultFile
@import models.SearchResultPreview

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Search Results") {	

	@***********  Display search results for each index  ******************@

	<div class="page-header">
		<h1>Search Results For <medium>@fileName</medium></h1>
	</div>
	@if(resultsList.size == 0) {
	<div class="row">
		<div class="col-md-12">
			No results found
		</div>
	</div>
	} else {	
			
	<table>
	@** Fix to align results at the top - otherwise <tbody> tag would be automatically inserted and valign set to "middle"**@
	<tbody valign="top">	
	<tr>  
	@for((index, previewsAndFiles) <- resultsList) {
		<td>
		<h3>@index.extractorID / @index.measureID / @index.indexerType</h3>
		<table>
		@for(oneResult <- previewsAndFiles) {			
			<tr>
				<td style="vertical-align:middle; height:150px;">
					<div class="media">
					  
						@****** result is File ******@
						@if(oneResult.fileOrPreview.equalsIgnoreCase("file")){
							
							<a class="pull-left" href=@oneResult.searchResultFile.url>							
							@if(!oneResult.searchResultFile.thumbnailIdString.isEmpty){
								<img class='mmd-img media-object' 
									src='@(routes.Files.thumbnail(UUID(oneResult.searchResultFile.thumbnailIdString)))'
									alt='Thumbnail of @(oneResult.searchResultFile.title)' 
									title='Distance @oneResult.searchResultFile.distance'>
								</img>
							}
							@if(oneResult.searchResultFile.thumbnailIdString.isEmpty){No thumbnail available}						
							<br>
							
							</a>
					  <div class="media-body">
					    <h4 class="media-heading">@oneResult.searchResultFile.title</h4>
					    <p>Distance (normalized): @oneResult.searchResultFile.distance</p>			    
						
					    @if(oneResult.searchResultFile.datasetIdList.size==0){
					    	No dataset associated with this image 
					    }
					  @if(oneResult.searchResultFile.datasetIdList.size>0){
					  	<b>Belongs to  @oneResult.searchResultFile.datasetIdList.size dataset(s)</b>
					  	@oneResult.searchResultFile.datasetIdList.map{id=>					   
					     		<br><a href=@routes.Datasets.dataset(UUID(id))> View Dataset </a>
					    	}  						  	 
					    }	 
					    
					    <br>					    	
					    	<a href=@routes.Search.findSimilarFile(oneResult.searchResultFile.id)>Find Similar</a>					 
					     	<br>
					     	<a href="@(routes.Files.file(oneResult.searchResultFile.id))">View File @oneResult.searchResultFile.title</a>
					     	
						}	@*end of is File*@		
						
    
   					 @*** result is Preview ***@
						@if(oneResult.fileOrPreview.equalsIgnoreCase("preview")){					
						<a class="pull-left" href=@oneResult.searchResultPreview.url>	
						<img class='mmd-img media-object' 
							src='@api.routes.Previews.download(oneResult.searchResultPreview.id)' 
							alt='@oneResult.searchResultPreview.previewName' 
							title='Distance @oneResult.searchResultPreview.distance'>
						</img>
						
						</a>
					  <div class="media-body">

					    <h4 class="media-heading">@oneResult.searchResultPreview.previewName</h4>
					    <p>Distance (normalized): @oneResult.searchResultPreview.distance</p>				    
						
					    @if(oneResult.searchResultPreview.datasetIdList.size==0){
					    	No dataset associated with this image 
					    }
					  @if(oneResult.searchResultPreview.datasetIdList.size>0){
					  		<b>Belongs to  @oneResult.searchResultPreview.datasetIdList.size dataset(s)</b>
					  		@oneResult.searchResultPreview.datasetIdList.map{id=>					   
					     			<br><a href=@routes.Datasets.dataset(UUID(id))> View Dataset </a>
					     			<br>					     		
					    	}  						  	 
					    }					    
					    
					    <a href="@(routes.Files.file(UUID(oneResult.searchResultPreview.fileIdString)))">
					     		View File @oneResult.searchResultPreview.fileTitle</a>
					     <br>
					     		Shot start time: @oneResult.searchResultPreview.shotStartTime					     		
						}@* end of If Preview *@

					  </div>
					</div>
					</td></tr>
		}  @** END OF @for(oneResult <- previewsAndFiles) { **@
		</table>
		</td>		
	}
	</tr>
	</tbody></table>
	@***********  End of search results for each index  ******************@
	

	<br>@************ form to combine search results - if two or more indexes ************@

	@if(resultsList.size >=2) {
		 @form(action = routes.Search.findSimilarWeightedIndexes, 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
			    <fieldset>
			      <legend>Combine search results</legend>			     
			    	 <input type="hidden" name="FileID" value="@fileId">			    
			     	@for((index, previewsAndFiles) <- resultsList) {	
			     		<p>Please select weight for index @index.extractorID / @index.measureID  			
			     		<input type="text" name="Weight" >			
						<input	type="hidden" name="IndexID" value="@index.id">														
					}			     
			    	</fieldset>
		        	<div class="form-actions">
		          		<input type="submit" class="btn btn-primary" value="Combine Results"/>
		        	</div>
		}
	}<!--end of if(resultsList.size >=2) -->
@************ end of form ************@

	}		
}
