@(keysArray:scala.collection.mutable.ArrayBuffer[String],name: String, id: String, size:Integer, results: scala.collection.mutable.HashMap[String, scala.collection.mutable.ArrayBuffer[(String,String,Double,String)]]) 
@import models.IncrementCounter

@main("Search Results") {
	<div class="page-header">
		<h1>Search Results For <medium>@name</medium></h1>
	</div>
	@if(size == 0) {
	<div class="row-fluid">
		<div class="span12">
			No results found. Sorry!
		</div>
	</div>
	}
	
<div class="container" > 
	<div class="row-fluid" >
	
	@for(index<-keysArray){
	<div class="span4">
		
	<table id='tablec' class="table table-bordered table-hover">
	<thead>
		<tr>
	    <th colspan="3"><a href="http://localhost:8080/api/v1/index/@index">IndexID: @index</a></th>
		</tr>
		<tr>
		<th id='rank'>Rank</th>
		<th id='ID'>ID</th>
		<th id='prox'>Proximity</th>
		</tr>
	</thead>
	<tbody>
		@results.get(index).map { case (list) =>
			@defining(new IncrementCounter){ i=>
		   <tr>
		 	
			@list.map { case (id,link, distance, fname) =>
			<tr>
			 <td>@{i.count+=1;i.count}</td> 
			<td><a href=@routes.Files.file(id)> @fname</a></td>
			<td>@distance</td>
			</tr>	
			}
			
		}
	}	
    </tbody>
    </table>
	</div>
	
	}
	</div>
	</div>
	}
	
	
	
	