@()
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Medici 2.0") {

<script>
var Configuration = {};
Configuration.hostIp = "@play.Play.application().configuration().getString("hostIp")";
</script>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dragdrop.css")">

<div class="page-header">
    <h1>Multimedia Search</h1>
  </div>
<div class="row">
	<div class="col-md-12">
		
	<!-- 		@form(action = routes.Search.SearchByText(""), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
					<legend>Search by Text</legend>
					<input type="text" placeholder="Type your keywords" name="query">
					<div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Search"/>
          </form>
        </div>
					
			}-->
<br>
<br>
 @form(action = routes.Files.uploadSelectQuery, 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
	    <fieldset>
	      <legend>Select an Image and Search</legend>
	     <input type="file" id="query" name="File">
	    </fieldset>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Search"/>
        </div>
	  }
	  
	   
	  
	  @* @form(action = routes.Files.uploadAjax, 'class -> "form-horizontal") {
	  
	  <fieldset> *@
	      <legend> Drop an Image and Search </legend>
	      <br>
	      <div id="filedrag"> Drop Box</div>
	      <output id="list"></output>
	 @*  </fieldset> *@
	  <div class="form-actions">
          <input type="submit" class="btn btn-primary" id="submit-button-id" value="Search"/>
           
        </div>
	 @*  } *@
	  
   @form(action = routes.Search.searchbyURL(""), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
	    <fieldset>
	      <br>
	 	    <label><h4>Paste your query image URL</h4></label>
    	<input type="text" placeholder="Paste your URL here" name="query">
	    <br>
	    <br>
	   <!--   <label><h4>Filter by</h4></label>	
	    <select id="tag" onchange="">
		<option value="invalid">--None--</option>
		<option value="">People</option>
		<option value="">Nature</option>
		<option value=""> Technology</option>
		<option value="">Healthcare</option>
		</select>-->
		</fieldset>	
		<br>
		<br>
	   <div style="text-align: center;">			
       <input type="submit" class="btn btn-primary" value="Search" />
       </div>
       <br>
       <br>
      <!--  <div style="text-align: center;">
       <a class="btn btn-primary" href="@routes.Search.advanced">Advanced Search</a>
  	   </div>-->
       
	  }
	  	 
	
	</div>
   
        
	</div>		
   <script src="@routes.Assets.at("javascripts/file-browser/views/dragdrop.js")" type="text/javascript"></script>
    
  }
 
