@(myForm: Form[Collection])(implicit flash: play.api.mvc.Flash, user: Option[securesocial.core.Identity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Collection") {
  <div class="page-header">
    <h1>Create New Collection</h1>
  </div>
  <div class="row">
	<div class="col-md-12">
	@if(myForm.hasErrors) {
		<div class="alert alert-error">
            <p>Please fix all errors</p>
        </div>
    }
    @flash.get("error").map { message =>
    	<div class="alert alert-error">
            <p>@message</p>
        </div>
    }
    
	  @form(action = routes.Collections.submit, 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {	 
	    <fieldset>
	      @inputText(myForm("name"), '_label -> "Name")
	      @textarea(myForm("description"), '_label -> "Description")
	    </fieldset>
        <div class="form-actions">
          <input type="submit" class="btn" value="Create"/>
        </div>
	  }
    </div>
  </div>
}