@(msg: String, id: String, resourceType: String)(implicit user: Option[models.User])
@main("Not authorized") {
	<div class="row">
		<h2>
			@if(msg != null){
				@msg.
			}else{
				You are not authorized to proceed with your request.
			}
		</h2>
		@if(user.isDefined && (id != null && !id.isEmpty)) {
			@if( resourceType.compareTo("'space") ==0 ){
			<a class="btn btn-default btn-xs btn-margins accordion-toggle collapsed"
			href="@(routes.Spaces.addRequest(UUID(id)))"><span class="glyphicon glyphicon-envelope"></span>
				Authorization request</a>
			}
		}

	</div>
}