@(id: String, posturl: String, currentHTML: String)(implicit user: Option[securesocial.core.Identity])


	<form class="form-inline" style="margin-top:20px;">
		<div id="noteContainer_@id" style="display:block;">
		  @Html(currentHTML)
		</div>
		@if(user.isDefined) {	
			<div id="noteEditor_@id" style="display:none;">
				<textarea name="content" class="notesArea" id="noteField_@id" style="width:100%;">@currentHTML</textarea>
			</div>
			<button class="btn btn-link btn-sm" onclick="return openForEdit();" style="display:inline;" id="noteEdit_@id" title="Edit Note">
                <span class="glyphicon glyphicon-chevron-down"></span> Edit</button>
			<button class="btn btn-primary" onclick="return postNote('@id', '@posturl');" style="display:none; margin-top:5px;" id="notePost_@id" title="Submit">
                <span class="glyphicon glyphicon-ok"></span> Submit</button>
			<button class="btn btn-default" onclick="return cancelEdit();" style="display:none; margin-top:5px;" id="noteCancel_@id" title="Cancel">
                <span class="glyphicon glyphicon-remove"></span> Cancel</button>
		}
	</form>
	@if(user.isDefined) {
		<script language="javascript">
			window["previousHTML"] = '@Html(currentHTML)';
			
			function postNote(id, posturl) {			
				var html =  tinyMCE.get('noteField_@id').getContent();
							
				console.log("Posting " + html + " to " + posturl);
				var request = $.ajax({
					url:  posturl,
					data: JSON.stringify({ notesHTML: html }),
					type: "POST",
					contentType: "application/json",
		     	});
				request.done(function (response, textStatus, jqXHR) { 
					console.log("Response " + response);
					window["previousHTML"] =  tinyMCE.get('noteField_@id').getContent();
					$('#noteContainer_@id').html(window["previousHTML"]);
									
					$('#noteEditor_@id').css("display","none");
					$('#noteContainer_@id').css("display","block");
					$('#notePost_@id').css("display","none");
					$('#noteCancel_@id').css("display","none");
					$('#noteEdit_@id').css("display","inline");
					
				});
				request.fail(function (jqXHR, textStatus, errorThrown){
					console.error("The following error occured: " + textStatus, errorThrown);
					alert("The note was not posted due to : " + errorThrown);
				});						
				return false;			
			}
			
			function cancelEdit(){
				$('#noteContainer_@id').html(window["previousHTML"]);			
				$('#noteEditor_@id').css("display","none");
				tinymce.get('noteField_@id').setContent(window["previousHTML"]);
				$('#noteContainer_@id').css("display","block");						
				$('#notePost_@id').css("display","none");
				$('#noteCancel_@id').css("display","none");
				$('#noteEdit_@id').css("display","inline");
				
				return false;
			}
			
			function openForEdit(){
				$('#noteContainer_@id').css("display","none");
				$('#noteEditor_@id').css("display","block");			
				$('#noteEdit_@id').css("display","none");
				$('#notePost_@id').css("display","inline");
				$('#noteCancel_@id').css("display","inline");
				
				return false;
			}
		</script>
	}
