@(previewers: List[models.Previewer])

@main("Previewers") {
	<div class="page-header">
		<h1>Available Previewers</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>List of available previewers and the resource types they work with.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Path</th>
						<th>File</th>
						<th>Preview</th>
						<th>Dataset</th>
						<th>Collection</th>
					</tr>
				</thead>
				<tbody>
					@previewers.map { previewer =>
						<tr>
							<td><a href="@(routes.Assets.at(previewer.path + "/package.json"))">@previewer.id</a></td>
							<td>@previewer.path</td>
							<td align="center">@if(previewer.file) {X}</td>
							<td align="center">@if(previewer.preview) {X}</td>
							<td align="center">@if(previewer.dataset) {X}</td>
							<td align="center">@if(previewer.collection) {X}</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}