@(profile: User, ownProfile: Option[Boolean])(implicit user: Option[securesocial.core.Identity] = None)
@main("Profile") {
<div class="page-header">

  <table>
    <tr>
      <td valign="top">
        <img src=@profile.getAvatarUrl class="profilePicture">
        <div align="center">
          <h4><a href="@routes.Datasets.userDatasets("", "", 12, "", profile.email.getOrElse(""))">View Datasets</a> </h4>
          <h4>Followed by @profile.followedByUsers.size people</h4>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#followingModal">
            Followers and followees
          </button>
          @user match {
            case Some(viewer) => {
              @ownProfile match {
                case Some(sameProfile) =>{
                <h4>
                  <a href="@routes.Profile.editProfile">Edit Profile</a>
                </h4>
                }
                case None => {
                  <h4>
                    <button
                      id="followButton"
                      type="button"
                      class="
                        @if(profile.followedByUsers.contains(viewer.email.getOrElse(""))) {
                          btn btn-danger
                        }else {
                          btn btn-success
                        }
                      "
                      data-toggle="button"
                      aria-pressed="
                        @if(profile.followedByUsers.contains(viewer.email.getOrElse(""))) {
                          true
                        }else {
                          false
                        }
                      "
                      autocomplete="off"
                    >
                      <!-- Is there a way to store a scala variable somewhere?... -->
                      @if(profile.followedByUsers.contains(viewer.email.getOrElse(""))) {
                        Unfollow
                      } else {
                        Follow
                      }
                    </button>
                  </h4>
                  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
                  <script>
                    var profileEmail = "@profile.email";
                    $(document ).ready(function() {
                      var followButton = $("#followButton");
                      followButton.click(function() {
                        if (followButton.text( ).trim() === "Follow") {
                          jsRoutes.api.Users.addFollowingRelationship(profileEmail).ajax({
                            type: "POST"
                          })
                            .done(function(data) {
                              followButton.text("Unfollow");
                              followButton.removeClass('btn-success');
                              followButton.addClass('btn-danger');
                            })
                            .fail(function(data) {
                              console.log(data);
                              console.log("Failed to follow");
                            });
                        } else {
                          jsRoutes.api.Users.removeFollowingRelationship(profileEmail).ajax({
                            type: "POST"
                          })
                            .done(function(data) {
                              followButton.text("Follow");
                              followButton.removeClass('btn-danger');
                              followButton.addClass('btn-success');
                            })
                            .fail(function(data) {
                              console.log(data);
                              console.log("Failed to unfollow");
                            });
                        }
                      });
                    });
                  </script>
                }
              }
            }
            case None => {}
          }
        </div>
      </td>
      <td>
        <div style="margin-left: 45px;">
          <h1>@profile.fullName</h1>
          <h5>
            @profile.position
            @profile.position match{
              case Some(info) => {
                @profile.institution match{
                  case Some(info) => {at}
                  case None => {}
                }
              }
              case None => {}
            }
            @profile.institution
          </h5>
          
          <p style="margin-bottom: 24px">@profile.email.getOrElse("")</p>

          @profile.orcidID match{
            case Some(info) => {
              <h4>Orcid ID</h4>
              <a href="http://orcid.org/@info" target="_blank"> <p>@info</p> </a>
            }
            case None => {}
          }

          @profile.biography match{
            case Some(info) => {
              <h4>Biography</h4>
              <p>@info</p>
            }
            case None => {}
          }
          @profile.currentprojects match{
            case Some(info) => {
              <h4>Current Projects</h4>
              <p>@info</p>
            }
            case None => {}
          }
          @profile.pastprojects match{
            case Some(info) => {
              <h4>Past Projects</h4>
              <p>@info</p>
            }
            case None => {}
          }

        </div>
      </td> 
    </tr>
  </table>

</div>

<!-- Modal -->
<div
  class="modal fade"
  id="followingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="followingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="followingModalLabel">@profile.fullName</h4>
      </div>
      <div class="modal-body">
        <table width="100%">
          <thead>
            <th>Following</th>
            <th>Followed by</th>
          </thead>
          <tbody>
            <!-- This is loaded when the page loads, might not reflect up-to-date data -->
            @for(row <- profile.followsUsers.zipAll(profile.followedByUsers, "", "")) {
              <tr>
                <td><a href="@routes.Profile.viewProfile(Option(row._1))">@row._1</a></td>
                <td><a href="@routes.Profile.viewProfile(Option(row._2))">@row._2</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}
