@(profile: User, ownProfile: Option[Boolean])(implicit user: Option[models.User] = None)
@main("Profile") {
<div class="page-header">

  <table>
    <tr>
      <td valign="top">
        <img src=@profile.getAvatarUrl class="profilePicture">
        <div align="center">
          <h4><a href="@routes.Datasets.userDatasets("", "", 12, "", profile.email.getOrElse(""))">View Datasets</a> </h4>
          <h4>
            Followed by
            <span id="followerSize">@profile.followers.size</span>
            people
          </h4>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followingModal">
            Followers and followees
          </button>
          @user match {
            case Some(viewer) => {
              @ownProfile match {
                case Some(sameProfile) =>{
                <h4>
                  <a href="@routes.Profile.editProfile">Edit Profile</a>
                </h4>
                }
                case None => {
                  <h4>
                    <button
                      id="followButton"
                      type="button"
                      class="
                        @if(profile.followers.contains(viewer.id)) {
                          btn btn-danger
                        }else {
                          btn btn-success
                        }
                      "
                      data-toggle="button"
                      aria-pressed="
                        @if(profile.followers.contains(viewer.id)) {
                          true
                        }else {
                          false
                        }
                      "
                      autocomplete="off"
                    >
                      <!-- Is there a way to store a scala variable somewhere?... -->
                      @if(profile.followers.contains(viewer.id)) {
                        Unfollow
                      } else {
                        Follow
                      }
                    </button>
                  </h4>
                  <div id="recommendDiv" class="row"
                      style="display: none;
                              border: 1px solid #e3e3e3;
                              border-radius: 4px;">
                    <div>
                      <div style="float: left;">You might want to follow</div>
                      <div style="float: right;">
                        <a href="javascript:$('#recommendDiv').slideToggle('slow');">Close</a>
                      </div>
                    </div>
                    <div style="clear: both;">
                      <ul id="recommendList" style="text-align: left;"></ul>
                    </div>
                  </div>

                  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
                  <script>
                    function followCallback() {
                        var $followerSize = $('#followerSize');
                        var followerSize = parseInt($followerSize.text());
                        $followerSize.text(followerSize + 1);

                        var newRowHtml = '<tr><td>@viewer.id</td></tr>';
                        $('#followersTable tr:last').after(newRowHtml);
                    }

                    function unfollowCallback() {
                        var $followerSize = $('#followerSize');
                        var followerSize = parseInt($followerSize.text());
                        $followerSize.text(followerSize - 1);

                        $('#followersTable').find('td').filter(function () {
                            return $(this).text().trim() == '@viewer.id';
                        }).first().remove();
                    }

                    var profileUUID = "@profile.id.stringify";
                    $(document ).ready(function() {
                      var followButton = $("#followButton");
                      followButton.click(function() {
                        if (followButton.text( ).trim() === "Follow") {
                          jsRoutes.api.Users.follow(profileUUID).ajax({
                            type: "POST"
                          })
                            .done(function(data) {
                              followButton.text("Unfollow");
                              followButton.removeClass('btn-success');
                              followButton.addClass('btn-danger');
                              followCallback();

                              var $recommendDiv = $('#recommendDiv');
                              if (!$recommendDiv.is(':visible')) {
                                  var recommendList = data['recommendations'];
                                  if (recommendList !== undefined && recommendList.length != 0) {
                                      var $recommendList = $('#recommendList');
                                      $recommendList.empty();
                                      for (var i = 0; i < recommendList.length; i++) {
                                          var recommendation = recommendList[i];
                                          var id = recommendation['id'];
                                          var name = recommendation['name'];
                                          var objectType = recommendation['objectType'];

                                          var route = '';
                                          switch (objectType) {
                                              case 'user':
                                                  route = jsRoutes.controllers.Profile.viewProfileUUID(id);
                                                  break;
                                              case 'file':
                                                  route = jsRoutes.controllers.Files.file(id);
                                                  break;
                                              case 'dataset':
                                                  route = jsRoutes.controllers.Datasets.dataset(id);
                                                  break;
                                              case 'collection':
                                                  route = jsRoutes.controllers.Collections.collection(id);
                                                  break;
                                          }
                                          $recommendList.append('<li><a href="' + route.url + '">' +
                                              name + '</a></li>'
                                          );
                                      }

                                      $recommendDiv.slideToggle('slow');
                                  }
                              }
                            })
                            .fail(function(data) {
                              console.log(data);
                              console.log("Failed to follow");
                            });
                        } else {
                          jsRoutes.api.Users.unfollow(profileUUID).ajax({
                            type: "POST"
                          })
                            .done(function(data) {
                              followButton.text("Follow");
                              followButton.removeClass('btn-danger');
                              followButton.addClass('btn-success');
                              unfollowCallback();
                            })
                            .fail(function(data) {
                              console.log(data);
                              console.log("Failed to unfollow");
                            });
                        }
                      });
                    });
                  </script>
                }
              }
            }
            case None => {}
          }
        </div>
      </td>
      <td>
        <div style="margin-left: 45px;">
          <h1>@profile.fullName</h1>
          <h5>
            @profile.position
            @profile.position match{
              case Some(info) => {
                @profile.institution match{
                  case Some(info) => {at}
                  case None => {}
                }
              }
              case None => {}
            }
            @profile.institution
          </h5>
          
          <p style="margin-bottom: 24px">@profile.email.getOrElse("")</p>

          @profile.orcidID match{
            case Some(info) => {
              <h4>Orcid ID</h4>
              <a href="http://orcid.org/@info" target="_blank"> <p>@info</p> </a>
            }
            case None => {}
          }

          @profile.biography match{
            case Some(info) => {
              <h4>Biography</h4>
              <p>@info</p>
            }
            case None => {}
          }
          @profile.currentprojects match{
            case x :: xs => {
              <h4>Current Projects</h4>
              <p>@profile.getCurrentProjectsString()</p>
            }
            case nil => {}
          }
          @profile.pastprojects match{
            case x :: xs => {
              <h4>Past Projects</h4>
              <p>@profile.getPastProjectsString()</p>
            }
            case nil => {}
          }

        </div>
      </td> 
    </tr>
  </table>

</div>

<!-- Modal -->
<div
  class="modal fade"
  id="followingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="followingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="followingModalLabel">@profile.fullName</h4>
      </div>
      <div class="modal-body">
        <table width="50%" style="float: left;">
          <thead>
            <tr>
              <th>Following</th>
            </tr>
          </thead>
          <tbody>
            <!-- This is loaded when the page loads, might not reflect up-to-date data -->
            @for(row <- profile.followedEntities) {
              @if(row.objectType == "user") {
                <tr>
                  @*TODO: Show name instead and fix viewProfile.*@
                  @*<td><a href="@routes.Profile.viewProfile(Option(row.toString))">@row.toString</a></td>*@
                  <td>@row.id.toString</td>
                </tr>
              }
            }
          </tbody>
        </table>
        <table id="followersTable" width="50%">
          <thead>
            <tr>
              <th>Followed By</th>
            </tr>
          </thead>
          <tbody>
            <!-- This is loaded when the page loads, might not reflect up-to-date data -->
            @for(row <- profile.followers) {
              <tr>
                @*TODO: Show name instead and fix viewProfile.*@
                @*<td><a href="@routes.Profile.viewProfile(Option(row.toString))">@row.toString</a></td>*@
                <td>@row.toString</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}
