@(tag: String, datasets: List[models.Dataset], files: List[models.File], sectionsWithFiles: List[(models.Section, models.File)])

@main("Tagged Datasets") {
	<div class="page-header">
		<h3>Tag: @tag</h3>
	</div>
	@if((datasets.size == 0) && (files.size == 0)){
	<div class="row">
		<div class="col-md-12">
			No results found. Sorry!
		</div>
	</div>
	}
	<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Created</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
    @for(dataset <- datasets) {
		<tr>
			<td><a href="@(routes.Datasets.dataset(dataset.id))">@dataset.name [dataset]</a></td>
			<td>@dataset.created</td>
			<td>@dataset.description</td>
		</tr>
	}
    @for(file <- files) {
		<tr>
			<td><a href="@(routes.Files.file(file.id))">@file.filename [file]</a></td>
			<td>@file.uploadDate</td>
			<td></td>
		</tr>
	}
    @for(sf <- sectionsWithFiles) {
		<tr>
			<td><a href="@(routes.Files.file(sf._1.file_id))">@sf._2.filename [section]</a></td>
			<td>@sf._2.uploadDate</td>
			<td></td>
		</tr>
	}
	</tbody>
	</table>
}
