@(query: String)(implicit flash: play.api.mvc.Flash, user: Option[models.User])

@import scala.collection.mutable.ListBuffer
@import play.api.Play.current

@main("Search") {
	<div class="row with-margin-md">
		<div class="col-md-12">
			<h1>Search</h1>
		</div>
		<div class="col-md-10">
            <div class="input-group">
                <input type="text" id="querybox" class="form-control" placeholder="Search" name="query" value="@query">
                <div class="input-group-btn">
                    <button class="btn btn-default" onclick="performNewSearch();">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
		</div>
		<div class="col-md-2 vcenter">
            <a data-toggle="collapse" href="#searchhelp" aria-expanded="false">
            @Messages("help.search.toggle")</a><br>
			<a href="@routes.Metadata.search" title="Search for datasets and files based on metadata fields">
				Metadata Search</a>
		</div>
	</div>

    <div class="col-md-12">
        <div class="collapse" id="searchhelp">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        <li>@Messages("help.search.overview1")</li>
                        <li>@Messages("help.search.overview4")<br/><t/>@Messages("help.search.overview6")</li>
                        <li>@Messages("help.search.overview2")</li>
                        <li>@Messages("help.search.overview3")</li>
                        <li>@Messages("help.search.overview5")</li>
                    </ul>
                    <table style="width:100%;">
                        <tr><td width="120"><b>operator</b></td>
                            <td width="400"></td></tr>
                        <tr><td><b>==</b></td><td>equals</td></tr>
                        <tr><td><b>!=</b></td><td>does not equal</td></tr>
                        <tr><td><b>:</b></td><td>contains</td></tr>
                        <tr><td><b>< ></b></td><td>less than / greater than</td></tr>
                        <tr><td><b><= >=</b></td><td>less or equal to / greater or equal to </td></tr>
                    </table></br>
                    <table style="width:100%;">
                        <tr><td width="120"><b>@Messages("help.search.col1")</b></td>
                            <td width="250"><b>@Messages("help.search.col2")</b></td>
                            <td width="400"></td></tr>
                        <tr><td><i>(basic)</i></td>
                            <td>agriculture</td>
                            <td>searches <b>@Messages("help.search.allfields")</b> fields</td></tr>
                        <tr><td><i>(regular expression)</i></td>
                            <td>*tre*s</td>
                            <td>@Messages("help.search.regex1")</td></tr>
                        <tr><td>name</td>
                            <td>name:VIS_SV_180_z1_1207272.png</td>
                            <td>@Messages("help.search.name", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
                        <tr><td>created</td>
                            <td>created:2021-04-19</td>
                            <td>@Messages("help.search.created")</td></tr>
                        <tr><td>creator</td>
                            <td>creator:Smith</td>
                            <td>@Messages("help.search.creator")</td></tr>
                        <tr><td>email</td>
                            <td>email:janesmith@@email.com</td>
                            <td>@Messages("help.search.email")</td></tr>
                        <tr><td>resource_type</td>
                            <td>resource_type:collection</td>
                            <td>@Messages("help.search.resource_type", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
                        <tr><td>tag</td>
                            <td>tag:animal</td>
                            <td>@Messages("help.search.tag")</td></tr>
                        <tr><td>in</td>
                            <td>in:5ccafdf97ceaec481ae86812</td>
                            <td>@Messages("help.search.in", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
                        <tr><td>contains</td>
                            <td>contains:5ccafe167ceaec481ae86816</td>
                            <td>@Messages("help.search.contains", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
                        <tr><td>exists</td>
                            <td>exists:"PixelMetadata.MeanNDVI"</td>
                            <td>@Messages("help.search.exists")</td></tr>
                        <tr><td>missing</td>
                            <td>missing:"SatelliteAnalyzer:QualityScore"</td>
                            <td>@Messages("help.search.missing")</td></tr>
                        <tr><td>metadata</td>
                            <td>"Funding Institution":"University of Illinois"</td>
                            <td>@Messages("help.search.metadata")</td></tr>
                        <tr><td><i>(multiple)</i></td>
                            <td>test resource_type:file tag:tr*s</td>
                            <td>@Messages("help.search.complex")</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-lg-12 col-md-12">
            <div id="resultheader"><h3>Results</h3></div>
            <div id="resultlist"></div>
            <div id="resultsfooter" style="text-align:center"></div>
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/handlebars-loader.js")" type="text/javascript"></script>
    <script>
        // count_stepsize is the batch size to get results; e.g. 60 would be 1-60, 61-120, 121-180, etc.
        var count_stepsize = @{play.api.Play.configuration.getInt("elasticsearchSettings.maxResults").getOrElse(240)};
        var count = 0;
        var skipped_count = 0;
        // Whether all results for current search have been exhausted & displayed yet
        var found_all = false;
        // This is set to true when waiting for an auto-scroll result to avoid duplicating request if user scrolls again
        var searching = false;

        $(document).ready(function() {
            // Hitting Enter
            $('#querybox').keyup( function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    performNewSearch();
                }
            });

            $(window).scroll(infiniteScroll);

            if (!@query.isEmpty)
                performSearch();
        });

        function infiniteScroll() {
            // Attempt to load more results below the current ones automatically
            if (!found_all && !searching) {
                var scrollTop = $(document).scrollTop();
                var windowHeight = $(window).height();
                var height = $(document).height() - windowHeight;
                var scrollPercentage = (scrollTop / height);
                var lastResult = $("#resultsfooter").position().top + $("#resultsfooter").height();

                // If scrolling to bottom or results are shorter than display (i.e. small pages), load more content.
                if (scrollPercentage > 0.98 || lastResult < windowHeight)
                    performSearch(false);
            }
        }

        function performNewSearch() {
            count = 0;
            skipped_count = 0;
            found_all = false;
            $( "#resultsfooter" ).empty();
            performSearch();
        }

        function performSearch(empty=true) {
            var query = document.getElementById("querybox").value;

            // Perform the search
            console.log("Getting "+count_stepsize+" more results starting at index "+count);
            searching = true;
            var request = jsRoutes.api.Search.search(query, null, null, null, null, null, null, null, count, count_stepsize).ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function(resp, status, err){
                count += resp.scanned_size;
                searching = false;

                // Correctly increment skipped count
                if (resp.count != resp.total_size) {
                    if (resp.size > 0) {
                        if (resp.total_size < resp.scanned_size)
                            skipped_count += (resp.total_size - resp.count);
                        else if (resp.total_size > (resp.from+resp.count))
                            skipped_count += (resp.scanned_size - resp.count);
                    } else if (resp.hasOwnProperty('next') || resp.total_size == resp.scanned_size) {
                        skipped_count += resp.total_size
                    }
                }

                if (resp.count == 0) {
                    found_all = true;
                    if (skipped_count>0)
                        $('#resultsfooter').append("<i><b>All results displayed (omitted "+skipped_count+" results due to insufficient permissions).</b></i>");
                    else
                        $('#resultsfooter').append("<i><b>All results displayed.</b></i>");
                    $('#resultsfooter').append("<br/>&nbsp;<br/>")
                }

                $("#resultheader").html("<h3>Results</h3>");

                updateResults(resp, empty);
                // On initial page load, call this again just in case we have room to show more
                infiniteScroll();
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
            });
        }

        function updateResults(response, empty=true) {
            if (empty)
                $( "#resultlist" ).empty();

            var results = response["results"];

            for (var i=0; i<results.length; i++) {
                var thumbnailId = (results[i].thumbnail == null)? "" : jsRoutes.api.Thumbnails.get(results[i].thumbnail).url;

                if (results[i].resource_type == "file") {
                    var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/search_file_result")");
                    var html = modalTemplate({
                        'url': jsRoutes.controllers.Files.file(results[i].id).url,
                        'name': results[i].name,
                        'created': results[i].created,
                        'thumbnail': thumbnailId
                    });
                    $('#resultlist').append(html);
                }

                if (results[i].resource_type == "dataset") {
                    var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/search_dataset_result")");
                    var html = modalTemplate(
                            {'url': jsRoutes.controllers.Datasets.dataset(results[i].id).url,
                                'name': results[i].name,
                                'description':  results[i].description,
                                'created': results[i].created,
                                'thumbnail': thumbnailId
                            });
                    $('#resultlist').append(html);
                }

                if (results[i].resource_type == "collection") {
                    var modalTemplate = Handlebars.getTemplate("@routes.Assets.at("templates/metadata/search_collection_result")");
                    var html = modalTemplate(
                            {'url': jsRoutes.controllers.Collections.collection(results[i].id).url,
                                'name': results[i].name,
                                'description':  results[i].description,
                                'created': results[i].created,
                                'thumbnail': thumbnailId
                            });
                    $('#resultlist').append(html);
                }
            }
        }
    </script>
}
