@(preview: models.Preview, results: scala.collection.mutable.HashMap[String, scala.collection.mutable.ListBuffer[util.SearchResult]]) 

@main("Search Results") {
<div class="page-header">
  <h1>Search</h1>
</div>

<div data-spy="affix" data-offset-top="0" class="col-md-4">
<div class="row">
  <div class="col-md-4">
		<h2>Query</h2> 
		</div>
		</div>
<div class="row">
  <div class="col-md-8">
		<img src="@api.routes.Previews.download(preview.id.toString)" 
					  		class="img-polaroid"></img>
  </div>
</div>
</div>

<div class="row">
	<div class="col-md-4 offset4">
		@results.map { case (key, list) =>
			<h2>@key</h2>
			@list.map { case util.SearchResult(id, distance, Some(preview_id)) =>
			<div class="row">
				<div class="col-md-12">
					<a href="@routes.Datasets.datasetBySection(id)">
				  	<img src="@api.routes.Previews.download(preview_id)" 
						  		class="img-polaroid"></img>
				    </a>
				  <p>Distance: @distance</p>
				</div>
			</div>
			}
		}
	</div>
</div>
}
