@(file: models.TempFile, id: String,size:Integer, name:Array[(String,String,Double,String)] )
<!-- results: Seq[models.Result.Result]-->

@main("Search Results") {
	<div class="page-header">
		<h1>Search Results For <medium>@file.filename</medium></h1>
	</div>
	
	@if(size == 0) {
	<div class="row">
		<div class="col-md-12">
			No results found. Sorry!
		</div>
	</div>
	}
	<div class="row">
		<div class="col-md-12">
		
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Proximity</th>
					
				</tr>
			</thead>
			<tbody>
			    @name.map{   re=> 
	               <tr>
						<td><a href=@routes.Files.file(UUID(re._1))> @re._4</a></td>
						<td>@re._3</td>
					</tr>
				}
		</tbody>
		</table>
		</div>
	  </div>
			
    }