@(query: String, files: Array[models.File], datasets: Array[models.Dataset], mapdatasetIds:scala.collection.mutable.HashMap[String,(String,String)])

@main("Search Results") {
	<div class="page-header">
		<h1>Search Results <small>@query</small></h1>
	</div>
	@if(files.size == 0 && datasets.size == 0) {
	<div class="row-fluid">
		<div class="span12">
			No results found. Sorry!
		</div>
	</div>
	}
	<div class="row-fluid">
	    <div class="span6">
	   
	    <h3>Files</h3>
	    @for(file <- files) {
		  <div class="row-fluid">
			<div class="span2">
			@file.previews.map { p =>
				@if(p.contentType.equals("image/jpeg")){
				<img src="@api.routes.Previews.download(p.id.toString)" class="img-polaroid" height="100px"></img>
				}
			}
			</div>
			<div class="span10">
				<dl class="dl-horizontal">
					<dt>Filename:</dt>
					<dd><a href="@(routes.Files.file(file.id.toString))">@file.filename</a></dd>
					<dt>Type:</dt>
					<dd>@file.contentType</dd>
					<dt>Uploaded on:</dt>
					<dd>@file.uploadDate</dd>
					<dt>Dataset name:</dt>
					<dd><a href="@(routes.Datasets.dataset(mapdatasetIds.get(file.id.toString).get._1))">@mapdatasetIds.get(file.id.toString).get._2</a></dd>
				</dl>
			</div>
		</div>
		}
		</div>
		@if(datasets.size!=0){


			<div class="row-fluid">

			<div class="span6">
	    
	       <h3> Datasets</h3>

	    @for(dataset <- datasets) {
		  <div class="row-fluid">
			<div class="span12">
				<dl class="dl-horizontal">
					<dt> Name:</dt>
					<dd><a href="@(routes.Datasets.dataset(dataset.id.toString))">@dataset.name</a></dd>
					<dt>  Descriptions:</dt>
					<dd> @dataset.description</dd>
					<dt> ID:</dt>
					<dd> @dataset.id</dd>

					<dt> Tags:</dt>
					<dd> @{var arraytags=new scala.util.parsing.json.JSONArray(dataset.tags); arraytags}</dd>
					<dt> Comments:</dt>
					<dd> @{ var arr=new scala.collection.mutable.ListBuffer[String](); for(i<-0 to dataset.comments.length-1){ arr+= dataset.comments(i).text};
                        var commentJson=new scala.util.parsing.json.JSONArray(arr.toList);commentJson}</dd>

				</dl>
			</div>
		</div>
		}
		</div>
	</div>
	
	}
	</div>
}
