@(query: String, files: Array[models.File], datasets: Array[models.Dataset], collections: Array[models.Collection], mapdatasetIds:scala.collection.mutable.HashMap[String,scala.collection.mutable.ListBuffer[(String, String)]], mapcollectionIds:scala.collection.mutable.HashMap[String,scala.collection.mutable.ListBuffer[(String, String)]])(implicit user: Option[models.User])


@import scala.collection.mutable.ListBuffer

@main("Search Results") {
	<div class="page-header">
		<h1>Search Results <small>@query</small></h1>
	</div>
	@if(files.size == 0 && datasets.size == 0 && collections.size == 0) {
	<div class="row">
		<div class="col-md-12">
			No results found. Sorry!
		</div>
	</div>
	}
	<div class="col-md-12">
		<a class="btn btn-link" data-toggle="collapse" href="#searchhelp" aria-expanded="false">
			<b>@Messages("help.search.toggle")</b><br/>
		</a>
		<!--TODO: Move this to Scala messages for translation purposes, etc.-->
		<div class="collapse" id="searchhelp">
			<ul>
				<li>@Messages("help.search.overview1")</li>
				<li>@Messages("help.search.overview2")</li>
				<li>@Messages("help.search.overview3")</li>
				<li>@Messages("help.search.overview4") <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-regexp-query.html#regexp-syntax">@Messages("help.search.overview5")</a></li>
			</ul>
			<table style="width:100%;">
				<tr><td width="120"><b>@Messages("help.search.col1")</b></td>
					<td width="250"><b>@Messages("help.search.col2")</b></td>
					<td width="400"></td></tr>
				<tr><td><i>(basic)</i></td>
					<td>agriculture</td>
					<td>searches <b>@Messages("help.search.allfields")</b> fields</td></tr>
				<tr><td><i>(regular expression)</i></td>
					<td>tre.*s</td>
					<td>@Messages("help.search.regex1")</td></tr>
				<tr><td>name</td>
					<td>name:VIS_SV_180_z1_1207272.png</td>
					<td>@Messages("help.search.name", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
				<tr><td>creator</td>
					<td>creator:5a8c4bd574d559ca9b46ef58</td>
					<td>@Messages("help.search.creator")</td></tr>
				<tr><td>resource_type</td>
					<td>resource_type:collection</td>
					<td>@Messages("help.search.resource_type", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
				<tr><td>tag</td>
					<td>tag:animal</td>
					<td>@Messages("help.search.tag")</td></tr>
				<tr><td>in</td>
					<td>in:5ccafdf97ceaec481ae86812</td>
					<td>@Messages("help.search.in", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
				<tr><td>contains</td>
					<td>contains:5ccafe167ceaec481ae86816</td>
					<td>@Messages("help.search.contains", Messages("dataset.title").toLowerCase, Messages("collection.title").toLowerCase)</td></tr>
				<tr><td>metadata</td>
					<td>"Funding Institution":"University of Illinois"</td>
					<td>@Messages("help.search.metadata")</td></tr>
				<tr><td><i>(multiple)</i></td>
					<td>test resource_type:file tag:^tr.*s</td>
					<td>@Messages("help.search.complex")</td></tr>
			</table>
		</div>
	</div>
	<div class="row">
	  @if(files.size!=0){
	  		@if(files.size != 0 && datasets.size != 0 && collections.size != 0) {
		    	<div class="col-md-4">
		    }
		    @if(files.size == 0 || datasets.size == 0 || collections.size == 0) {
		    	<div class="col-md-6">
		    }
		   
		    <h3 id="search-file-title"><span class="glyphicon glyphicon-file"></span> Files</h3>
		    @for(file <- files) {
			  <div class="row elasticsearchResult" id="filediv_@file.id.toString">
				<div class="col-md-2">
					@if(!file.thumbnail_id.isEmpty){
						<a href="@(routes.Files.file(file.id))">
							<img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(file.thumbnail_id.toString().substring(5,file.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(file.filename)">
						</a>
					}
				</div>
				<div class="col-md-10">
					<dl class="dl-horizontal">
						<dt>Filename:</dt>
						<dd><a href="@(routes.Files.file(file.id))">@file.filename</a></dd>
						<dt>Type:</dt>
						<dd>@file.contentType</dd>
						<dt>Uploaded on:</dt>
						<dd>@file.uploadDate</dd>
						<dt>Dataset name(s):</dt>
						<dd>
							@for(currMapping <- mapdatasetIds.get(file.id.toString).get){
								<a href="@(routes.Datasets.dataset(UUID(currMapping._1.trim)))">@currMapping._2.trim</a><br/>
							}
						</dd>
					</dl>
				</div>
			</div>
			<script>

				$("#filediv_@file.id.toString br").last().remove();

			</script>
			}
			</div>
		}
	@if(datasets.size!=0){
			@if(files.size != 0 && datasets.size != 0 && collections.size != 0) {
		    	<div class="col-md-4">
		    }
		    @if(files.size == 0 || datasets.size == 0 || collections.size == 0) {
		    	<div class="col-md-6">
		    }
						    
	       <h3 id="search-dataset-title"> <span class="glyphicon glyphicon-briefcase"></span> Datasets</h3>
	    @for(dataset <- datasets) {
		  <div class="row elasticsearchResult" id="datasetdiv_@dataset.id.toString">
		    <div class="col-md-2">
				@if(!dataset.thumbnail_id.isEmpty){
					<a href="@(routes.Datasets.dataset(dataset.id))">
						<img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(dataset.thumbnail_id.toString().substring(5,dataset.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(dataset.name)">
					</a>
				}
			</div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
					<dt> Name:</dt>
					<dd><a href="@(routes.Datasets.dataset(dataset.id))">@Html(dataset.name)</a></dd>
					<dt>  Description:</dt>
					<dd> @Html(dataset.description.replace("\n","<br/>"))</dd>
					<dt>Collection name(s):</dt>
					<dd>
						@for(currMapping <- mapcollectionIds.get(dataset.id.toString).get){
							<a href="@(routes.Collections.collection(UUID(currMapping._1.trim)))">@currMapping._2.trim</a><br/>
						}
					</dd>
				</dl>
			</div>
		</div>
		<script>
				$("#datasetdiv_@dataset.id.toString br").last().remove();
		</script>
		}
		</div>
	}
	
	@if(collections.size!=0){
			@if(files.size != 0 && datasets.size != 0 && collections.size != 0) {
		    	<div class="col-md-4">
		    }
		    @if(files.size == 0 || datasets.size == 0 || collections.size == 0) {
		    	<div class="col-md-6">
		    }
			    
	       <h3 id="search-collection-title"> <span class="glyphicon glyphicon-th-large"></span> Collections</h3>
	    @for(collection <- collections) {
		  <div class="row elasticsearchResult">
		    <div class="col-md-2">
				@if(!collection.thumbnail_id.isEmpty){
					<a href="@(routes.Collections.collection(collection.id))">
						<img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(collection.thumbnail_id.toString().substring(5,collection.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(collection.name)">
					</a>
				}
			</div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
					<dt> Name:</dt>
					<dd><a href="@(routes.Collections.collection(collection.id))">@Html(collection.name)</a></dd>
					<dt>  Description:</dt>
					<dd> @Html(collection.description.replace("\n","<br>"))</dd>
				</dl>
			</div>
		</div>
		}
		</div>
	}
	
	
	</div>
	<script>
		$(".col-md-4 > div > div > img").css("width", "100");
		
		$(".dl-horizontal").css("position", "relative");
		
		$(".col-md-4 .dl-horizontal").each(function () {
	        this.style.top = "-10px"   ;
	    });
		$(".col-md-6 .dl-horizontal").each(function () {
	        this.style.top = "-10px"   ;
	    });
		
	</script>
}
