@(file: models.File, id: String,results: Seq[models.Result.Result] )
@main("Search Results") {
	<div class="page-header">
		<h1>Search Results For <medium>@file.filename</medium></h1>
	</div>
	@if(results.size == 0) {
	<div class="row-fluid">
		<div class="span12">
			No results found. Sorry!
		</div>
	</div>
	}
	<div class="row-fluid">
		<div class="span12">
		
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Proximity</th>
					
				</tr>
			</thead>
			<tbody>
			   @results.map{   re=>
	         
								<tr>
						<td>@re.docID</td>
						<td>@re.proximity</td>
						
					</tr>
				}
			</tbody>
		</table>
		
		
		
		
		
		
		
		<!-- <p> File ID : Proximity></p>
	         @results.map{   re=>
	         
	         <ul>
			      <li> @re.docID : @re.proximity</li>
			</ul>
			}-->
			</div>
	  </div>
			
    <!-- @for(result <- results) {
      <div class="row-fluid">
		<div class="span4">
			<p @result.docID> @result.proximity
			
		</div>
	  </div>
	}-->
	   
}