@(theme: String)
<form role="form-horizontal">
  <div class="form-group">
    <label for="theme">Theme</label>
	<select id="themeSelect" class="form-control">
      @for(t <- services.AppConfiguration.themes) {
          <option value="@t">@t.replaceAll(".min.css", "")</option>
      }
	</select>
  </div>
</form>

<script>
	$(function() {
		$("#themeSelect").val('@theme');
		
		$('#themeSelect').bind('change', function(ev) {
			var value = $(this).val();
			console.log(value);

		    var request = jsRoutes.controllers.Admin.setTheme().ajax({
		    	data: JSON.stringify({"theme":value}),
		       	type: 'POST',
		       	contentType: "application/json"
		     });
		     
		     request.done(function (response, textStatus, jqXHR){
		     	console.log("Response " + textStatus);
		     	location.reload();
		     });
		     
		     request.fail(function (jqXHR, textStatus, errorThrown){
		    	 console.error("The following error occured: "+textStatus, errorThrown);
                 var errMsg = "You must be logged in to change the theme.";                    
                 if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                     alert("The theme was not changed due to : " + errorThrown);
                 }
		     });
		   });
	});
</script>
