@(myForm: Form[FileMD])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Medici 2.0") {
  <div class="page-header">
    <h1>File Upload</h1>
  </div>
  <div class="row">
	<div class="span12">
	  @form(action = routes.Files.upload, 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
	    <fieldset>
	      <legend>Select file</legend>
	      @inputFile(myForm("File"))
	    </fieldset>
	    <fieldset id="checkboxFieldSet">
	      @checkbox(myForm("datasetLevel")
	      			,'_label -> "Show previews ",'_help -> "", 'checked -> "checked")
	    </fieldset>
        <div class="form-actions">
          <input type="submit" class="btn" value="Upload"/>
        </div>
	  }
    </div>
  </div>
}